<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="wishlistAgregadoTemplate">
        <!--/*@thymesVar id="result" type="com.promotick.nissan.model.util.PromotickResult"*/-->
        <!--/*@thymesVar id="data" type="Producto"*/-->

        <th:block th:object="${result.data}">
            <div class="modal-header" style="padding: 20px 40px">
                <h4 style="margin-bottom: 0;font-weight: 600;display: inline-block">
                    <span class="icon pe-7s-check" style="font-size: 25px;vertical-align: middle;"></span>
                    <span th:utext="${result.message}"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 3px">x</button>
            </div>

            <div class="modal-body margin-bottom-20" style="padding: 20px 40px">
                <div class="widget widget_recent_product row">
                    <div class="col-md-12">
                        <ul class="product-categories">
                            <li>
                                <div class="product-thumb" style="position: relative">
                                    <a><img th:src="${@resources.web('img/productos/').concat(result.data.imagenUno)}" src="" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <p class="text-uppercase marca" style="margin: 0" th:text="*{marca.nombreMarca}"></p>
                                    <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="*{nombreProducto}"></a></h3>
                                    <span th:text="|*{puntosProducto} Puntos|"></span>
                                    <p class="price-normal"></p><br><br>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="button style-10" th:href="@{/wishlist}" href="">Ver favoritos</a>
                    </div>
                </div>
                <br>
                <div class="row text-center">
                    <div class="col-md-12">
                        o <a data-dismiss="modal" style="text-decoration: underline;cursor: pointer">Seguir canjeando</a>
                    </div>
                </div>
            </div>
        </th:block>

    </th:block>

    <th:block th:fragment="wishlistsTemplate">

        <!--/*@thymesVar id="wishlists" type="java.util.List<com.promotick.nissan.model.web.Wishlist>"*/-->

        <th:block th:if="${wishlists.isEmpty()}">
            <div class="mozaic-banners-wrapper type-2" style="margin-top: 20px">
                <div class="banner-column col-sm-12">
                    <div class="information-blocks">
                        <div class="accordeon accordeon-entry ae-1" style="display:block;">
                            <div class="information-blocks">
                                <div class="table-responsive text-center">
                                    <table class="cart-table">
                                        <tr>
                                            <p style="font-size:20px">Lo sentimos, aun no tienes productos favoritos.</p>
                                            <br>
                                            <a class="button style-11" th:href="@{/catalogo}" href="">VOLVER A LAS CATEGORIAS</a>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block th:unless="${wishlists.isEmpty()}">
<!--            <table class="cart-table">-->
            <table class="shop_table cart">
                <thead>
                <tr>
                    <th colspan="2" class="product-name">Producto</th>
                    <th class="product-price">Puntos</th>
                    <th class="product-quantity">Cantidad</th>
                    <th class="product-subtotal">Subtotal</th>
                    <th class="product-subtotal">Agregar al carrito</th>
                    <th class="product-remove">Eliminar</th>
                </tr>
                </thead>

<!--                <tr>-->
<!--                    <th class="colum-1"></th>-->
<!--                    <th class="colum-1"></th>-->
<!--                    <th class="colum-2 product">Producto</th>-->
<!--                    <th class="colum-1">Puntos</th>-->
<!--                    <th class="colum-2">Cantidad</th>-->
<!--                    <th class="colum-1">Subtotal</th>-->
<!--                    <th class="colum-1">Agregar <span class="lnr lnr-cart"></span></th>-->
<!--                </tr>-->


                <tr th:each="wishlist : ${wishlists}" th:object="${wishlist}">
                    <td class="product-thumbnail"><img th:src="${@resources.web('img/productos/').concat(wishlist.producto.imagenUno)}" src="" alt=""></td>
                    <td class="product-name">
                        <p class="text-uppercase marca" th:text="*{producto.marca.nombreMarca}"></p>
                        <a href="" th:href="*{producto.url}" class="title" th:text="*{producto.nombreProducto}"></a>
                    </td>
                    <td th:text="|*{producto.puntosProducto}|"></td>
                    <td>1</td>
                    <td th:text="|*{(producto.puntosProducto * cantidadProducto)} Puntos|"></td>
                    <td>
                        <button class="addcart button open-addcar-link"
                                th:attr="data-id=*{producto.idProducto},data-tipo=*{producto.tipoProducto.idTipoProducto}">
                            Agregar a carrito
                        </button>
                    </td>
                    <td><a class="remove-button" th:id="*{producto.idProducto}"><span class="icon pe-7s-trash" style="font-size: 20px"></span></a></td>
                </tr>
            </table>
        </th:block>

        <!--NO USADO-->
<!--        <tr style="display: none">-->
<!--            <td>-->
<!--                <div class="traditional-cart-entry">-->
<!--                    <div class="content">-->
<!--                        <div class="cell-view">-->
<!--                            <a href="" th:href="*{producto.url}" class="title" th:text="*{producto.nombreProducto}"></a>-->
<!--                            <div class="code" th:text="|Cod *{producto.codigoWeb}|"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td><span class="labely">Precio: </span><span th:text="|*{producto.puntosProducto} Pts|"></span></td>-->
<!--            <td class="cantidad">-->
<!--                <span class="labely">Cantidad:</span>-->

<!--                &lt;!&ndash;<div class="info-qty" th:if="*{producto.tipoProducto.idTipoProducto == 1 || producto.tipoProducto.idTipoProducto == 2}">-->
<!--                    <a href="#" class="qty-down number-minus"><span class="lnr lnr-chevron-down"></span></a>-->
<!--                    <span class="qty-val qty-val-modal" th:text="*{cantidadProducto}"></span>-->
<!--                    <a href="#" class="qty-up number-plus"><span class="lnr lnr-chevron-up"></span></a>-->
<!--                </div>&ndash;&gt;-->

<!--                &lt;!&ndash;<div class="info-qty" th:unless="*{producto.tipoProducto.idTipoProducto == 1 || producto.tipoProducto.idTipoProducto == 2}" th:text="*{cantidadProducto}">-->
<!--                    1-->
<!--                </div>&ndash;&gt;-->

<!--                <div class="info-qty" th:text="|*{producto.puntosProducto} Pts|">-->
<!--                    1-->
<!--                </div>-->

<!--            </td>-->
<!--            <td>-->
<!--                <span class="labely">Subtotal: </span>-->
<!--                <div class="subtotal" th:text="|*{(producto.puntosProducto * cantidadProducto)} Pts|"></div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <span class="labely">Agregar a carrito:</span>-->
<!--                <span class="addcart lnr lnr-cart open-addcar-link"-->
<!--                      th:attr="-->
<!--                                        data-id=*{producto.idProducto},-->
<!--                                        data-tipo=*{producto.tipoProducto.idTipoProducto}-->
<!--                                        ">-->
<!--                        </span>-->

<!--            </td>-->
<!--            <td><a class="remove-button" th:id="*{producto.idProducto}"><i class="fa fa-times"></i></a></td>-->
<!--        </tr>-->

    </th:block>
</body>
</html>