<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="productoTemplate">
    <!--/*@thymesVar id="productos" type="java.util.List<com.promotick.nissan.model.web.ProductoDestacado>"*/-->
    <div th:include="this :: productRegularList(${productos})" th:remove="tag"></div>

</th:block>

<th:block th:fragment="productRegularList(productos)">
    <li class="product-item style3" th:each="objProductoDestacado : ${productos}" th:object="${objProductoDestacado}">
        <div class="product-inner">
            <div class="product-thumb has-back-image">
                <th:block th:if="*{producto.showLabel}">
                    <span th:class="*{producto.tagProducto.claseTagProducto}" th:text="*{producto.label}"></span>
                </th:block>

                <th:block th:if="*{producto.imagenEnvioExpress == 1}">
                    <span class="delivery">
                        <img th:src="${@resources.web('img/icono-delivery.png')}" src="" alt="" />
                    </span>
                </th:block>

                <a th:href="@{/__${objProductoDestacado.producto.url}__}" href="">
                    <img th:src="${objProductoDestacado.producto.imagenUno != null
                  ? @resources.web('img/productos/').concat(objProductoDestacado.producto.imagenUno)
                  : @resources.web('img/no-imagen.png')}"
                         alt="Imagen del producto" />
                </a>
                <div class="gorup-button">
                    <a class="open-product quick-view"
                       th:attr="data-id=*{producto.idProducto}, data-tipo=*{producto.tipoProducto.idTipoProducto}"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="product-info">
                <p class="text-uppercase marca" th:text="*{producto.marca.nombreMarca}"></p>
                <h3 class="product-name">
<!--                                        <a th:href="@{/__${objProductoDestacado.producto.url}__}" th:text="*{#strings.abbreviate(producto.nombreProducto, 17)}"></a>-->
                    <a th:href="@{/__${objProductoDestacado.producto.url}__}" th:text="*{producto.nombreProducto}"></a>
                </h3>
                <span class="price" style="font-weight: 600" th:text="|*{producto.puntosProducto} Pts|"></span>
                <p class="price-normal" th:if="*{producto.puntosRegular != null && producto.puntosRegular > 0}" th:text="|*{producto.puntosRegular} Pts|"></p>
                <p class="price-normal no-decoration" th:if="*{producto.puntosRegular == null || producto.puntosRegular <= 0}" ></p>
                <a class="button add_to_cart_button open-addcar open-addcar-link"
                   th:attr="data-id=*{producto.idProducto},
                            data-tipo=*{producto.tipoProducto.idTipoProducto}"
                   th:text="|Agregar al carrito|"></a>

                <a class="favorito open-addwishlist"
                   th:attr="data-id=*{producto.idProducto},
                            data-tipo=*{producto.tipoProducto.idTipoProducto}"><i class="fa fa-heart"></i></a>
            </div>
        </div>
    </li>
</th:block>

<th:block th:fragment="autoCompleteTemplate">
    <th:block th:unless="${productos.isEmpty()}">
        <option class="optAutoComplete" th:attr="data-param=*{obj.producto.nombreProducto}" th:each="obj : ${productos}" th:text="${obj.producto.nombreProducto}">
    </th:block>
</th:block>

<th:block th:fragment="promocionTemplate">
    <th:block th:unless="${productos.isEmpty()}">
        <div class="tab-product margin-top-40">
            <div class="section-title style6 text-center  ">
                <h4>Promociones</h4>
                <span class="sub-title"></span>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="promociones">
                    <div class="product-slider arrow-style">
                        <div class="row">
                            <div class="wrap-item" id="contentPromocionesWrap">
                                <div th:include="this :: productRegularList(${productos})" th:remove="tag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<th:block th:fragment="productoPopupTemplate">

    <!--/*@thymesVar id="productoCatalogo" type="com.promotick.nissan.model.web.ProductoCatalogo"*/-->

    <div class="widget widget_recent_product row">
        <div class="col-md-4">
            <img th:src="${@resources.web('img/productos/').concat(productoCatalogo.producto.imagenUno)}" src="" alt="">
        </div>
        <div class="product-info col-md-8">
            <div th:include="this :: contenidoProductoDetalle(${productoCatalogo.producto}, false, true)" th:remove="tag"></div>
        </div>

<!--        <div class="col-md-12">-->
<!--            <ul class="product-categories">-->
<!--                <li>-->
<!--                    <div class="product-thumb" style="position: relative">-->
<!--                        <a><img th:src="${@resources.web('img/productos/').concat(productoCatalogo.producto.imagenUno)}" src="" alt=""></a>-->
<!--                    </div>-->
<!--                    <div class="product-info">-->
<!--                        <div th:include="this :: contenidoProductoDetalle(${productoCatalogo.producto}, false, true)" th:remove="tag"></div>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="row text-center" th:if="${productoCatalogo.producto.imagenEnvioExpress == 1}">
                <div class="col-md-12">
                    <br>
                    <hr>
                    <table class="msj-express margin-bottom-20" style="width: 518px; height: 120px;margin-left: 40px;">
                        <tr>
                            <td style="width: 70px;text-align: center">
                                <img th:src="${@resources.web('img/alerta.png')}" width="50">
                            </td>
                            <td>
                                <p class="mensaje-preview">"ENVÍO EXPRESS" está disponible para entregas hasta 48hrs luego del canje. <br>
                                    <span>Aplica únicamente sí todos los productos seleccionados dentro del mismo
                                                canje son de "ENVÍO EXPRESS".</span> <br>
                                    Mayor información en términos y condiciones.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="productoAgregadoTemplate">

    <!--/*@thymesVar id="result" type="com.promotick.nissan.model.util.PromotickResult"*/-->
    <!--/*@thymesVar id="data" type="com.promotick.nissan.model.web.Producto"*/-->

    <th:block th:object="${result.data}">
        <div class="modal-header" style="padding: 20px 40px">
            <h4 style="margin-bottom: 0;font-weight: 600;display: inline-block">
                <span class="icon pe-7s-check" style="font-size: 25px;vertical-align: middle;"></span>
                <span th:utext="${result.message}"></span>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 3px">x</button>
        </div>

        <div class="modal-body margin-bottom-20" style="padding: 20px 40px">
            <div class="widget widget_recent_product row">
                <div class="col-md-12">
                    <ul class="product-categories">
                        <li>
                            <div class="product-thumb" style="position: relative">
                                <a><img th:src="${@resources.web('img/productos/').concat(result.data.imagenUno)}" src="" alt=""></a>
                            </div>
                            <div class="product-info">
                                <div th:include="this :: contenidoProductoDetalle(${result.data}, false, false)" th:remove="tag"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <a class="button style-10" th:href="@{/carrito}" href="">Ver mi carrito de compras</a>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    o <a data-dismiss="modal" style="text-decoration: underline;cursor: pointer">Seguir canjeando</a>
                </div>
            </div>
        </div>

    </th:block>

</th:block>

<th:block th:fragment="productoCatalogoTemplate">

    <!--/*@thymesVar id="productosCatalogo" type="java.util.List<com.promotick.nissan.model.web.ProductoCatalogo>"*/-->

    <th:block th:if="${productosCatalogo.isEmpty()}">
        <div class="mozaic-banners-wrapper type-2" style="margin-top: 20px">
            <div class="banner-column col-sm-12">
                <div class="information-blocks">
                    <div class="accordeon accordeon-entry ae-1" style="display:block;">
                        <div class="information-blocks">
                            <div class="table-responsive text-center">
                                <table class="cart-table">
                                    <tr>
                                        <br><p>No hay m&aacute;s productos.</p><br>
<!--                                        <a class="button style-11" th:href="@{/catalogo}" href="">VOLVER A LAS CATEGORIAS</a>-->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:th:unless="${productosCatalogo.isEmpty()}">
        <div class="product-item col-lg-3 col-md-3 col-sm-6 product-item style3" th:each="productocatalogo : ${productosCatalogo}" th:object="${productocatalogo.producto}">
            <div class="item">
                <div class="item-product">
                    <div class="item-product-thumb">
                        <div class="product-thumb has-back-image">
                            <th:block th:if="*{showLabel}">
                                <span th:class="*{tagProducto.claseTagProducto}" th:text="*{label}"></span>
                            </th:block>

                            <th:block th:if="*{imagenEnvioExpress == 1}">
                                <span class="delivery">
                                    <img th:src="${@resources.web('img/icono-delivery.png')}" src="" alt="" />
                                </span>
                            </th:block>

                            <a class="product-thumb-link" th:href="@{/__${productocatalogo.producto.url}__}" href="">
                                <img class="img-responsive" th:src="${@resources.web('img/productos/').concat(productocatalogo.producto.imagenUno)}" src="" alt="" />
                            </a>
                            <div class="gorup-button">
                                <!--<a class="product-compare open-product"-->
                                <a class="open-product quick-view"
                                   th:attr="data-id=*{idProducto}, data-tipo=*{tipoProducto.idTipoProducto}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <p class="text-uppercase marca" th:text="*{marca.nombreMarca}"></p>
                            <h3 class="product-name">
                                <!--<a th:href="@{/__${productocatalogo.producto.url}__}" th:text="*{#strings.abbreviate(nombreProducto, 17)}"></a>-->
                                <a th:href="@{/__${productocatalogo.producto.url}__}" th:text="*{nombreProducto}"></a>
                            </h3>
                            <span class="price" style="font-weight: 600" th:text="|*{puntosProducto} Pts|"></span>
                            <p class="price-normal" th:if="*{puntosRegular != null && puntosRegular > 0}" th:text="|*{puntosRegular} Pts|"></p>
                            <p class="price-normal no-decoration" th:if="*{puntosRegular == null || puntosRegular <= 0}" style="color: white">&nbsp;</p>
                            <a class="button add_to_cart_button open-addcar open-addcar-link"
                               th:attr="data-id=*{idProducto}, data-tipo=*{tipoProducto.idTipoProducto}"
                               th:text="|Agregar al carrito|"></a>

                            <a class="favorito open-addwishlist"
                               th:attr="data-id=*{idProducto}, data-tipo=*{tipoProducto.idTipoProducto}"><i class="fa fa-heart"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</th:block>

<!--/*@thymesVar id="viewDetail" type="java.lang.Boolean"*/ AQUI-->
<!--/*@thymesVar id="withDescription" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="producto" type="com.promotick.nissan.model.web.Producto"*/-->
<th:block th:fragment="contenidoProductoDetalle(producto, viewDetail, withDescription)" >
    <th:block th:switch="${producto.tipoProducto.idTipoProducto}">
        <!--Regular-->
        <th:block th:case="1">
            <th:block th:unless="${viewDetail}"><!--Popup producto catalogo-->
                <p class="text-uppercase marca" style="margin: 0" th:text="${producto.marca.nombreMarca}"></p>
                <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="${producto.nombreProducto}"></a></h3>
                <span class="price" style="font-weight: 600" th:text="|${producto.puntosProducto} Puntos|"></span>


                <th:block th:if="${withDescription}">
                    <p class="price" th:text="|Cod. ${producto.codigoWeb}|"></p>

                    <p th:utext="${producto.descripcionProducto}"></p>

                    <div class="quantity" style="display: inline-block;margin-right: 20px">
<!--                        <label>Cantidad:</label>-->
                        <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                        <span class="qty-val qty-val-modal">1</span>
                        <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                    </div>

                    <!--                <div style="margin-top:25px">-->
                    <button class="button button-add-cart open-addcar-modal"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>
                    <!--                </div>-->
                </th:block>
<!--                <p th:utext="${producto.descripcionProducto}"></p>-->

<!--                <div class="quantity" style="display: inline-block;margin-right: 20px">-->
<!--                    <label>Cantidad:</label>-->
<!--                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>-->
<!--                    <span class="qty-val qty-val-modal">1</span>-->
<!--                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>-->
<!--                </div>-->

<!--                <div style="margin-top:25px">-->
<!--                    <button class="button button-add-cart open-addcar-modal"-->
<!--                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">-->
<!--                        Agregar a carrito-->
<!--                    </button>-->
<!--                </div>-->

            </th:block>

            <th:block th:if="${viewDetail}"><!--Producto detalle-->
                <h3 class="product-name" th:text="${producto.nombreProducto}"></h3>
                <span class="count-review text-uppercase" th:text="${producto.marca.nombreMarca}"></span>
<!--                <p th:utext="${producto.descripcionProducto}"></p>-->
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <div class="product-info margin-top-10">
                    <span class="price" style="font-weight: 600;margin-bottom: 0" th:text="|${producto.puntosProducto} Puntos|"></span>
                </div>
                <br>
                <div class="quantity">
                    <!--<a href="#" class="qty-down number-minus"><span class="lnr lnr-circle-minus"></span></a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a href="#" class="qty-up number-plus"><span class="lnr lnr-plus-circle"></span></a>
                    -->
                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                </div>
                <br>
<!--                <div style="margin-top:25px">-->
                    <button class="button button-add-cart open-addcar-modal"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>
<!--                </div>-->
            </th:block>

        </th:block>

        <!--Primax-->
        <th:block th:case="2">
            <th:block th:unless="${viewDetail}"><!--Popup producto catalogo-->
                <p class="text-uppercase marca" style="margin: 0" th:text="${producto.marca.nombreMarca}"></p>
                <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="${producto.nombreProducto}"></a></h3>
                <span class="price" style="font-weight: 600" th:text="|${producto.puntosProducto} Puntos|"></span>
                <p class="price-normal"></p><br><br>
                <p th:if="${withDescription}" th:utext="${producto.descripcionProducto}"></p>

                <div class="col-md-6" style="padding-left: 0">
                    <a target="_blank" th:if="${session.participante.catalogo.pdfPrimax != null}"
                       th:href="${@resources.web().concat(session.participante.catalogo.pdfPrimax)}"
                       style="background: #e5e5e5;color: #343434" class="button"><span class="lnr lnr-download"></span> Descargar detalle</a>
                </div>

            </th:block>

            <th:block th:if="${viewDetail}"><!--Producto detalle-->
                <h3 class="product-name" th:text="${producto.nombreProducto}"></h3>
                <span class="count-review text-uppercase" th:text="${producto.marca.nombreMarca}"></span>
<!--                <p th:utext="${producto.descripcionProducto}"></p>-->
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <div class="product-info margin-top-10">
                    <span class="price" style="font-weight: 600;margin-bottom: 0" th:text="|${producto.puntosProducto} Puntos|"></span>
                </div>
                <br>
                <div class="quantity">
                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                </div>
                <br>
                <div style="margin-top:25px">
                    <button class="button style-10 open-addcar-modal"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>

                    <a target="_blank" th:if="${session.participante.catalogo.pdfPrimax != null}"
                       th:href="${@resources.web().concat(session.participante.catalogo.pdfPrimax)}"
                       style="background: #e5e5e5;color: #343434" class="button"><span class="lnr lnr-download"></span> Descargar detalle</a>
                </div>

            </th:block>

        </th:block>

        <!--Recarga celular-->
        <th:block th:case="3">
            <th:block th:unless="${viewDetail}"><!--Popup producto catalogo-->
                <p class="text-uppercase marca" style="margin: 0" th:text="${producto.marca.nombreMarca}"></p>
                <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="${producto.nombreProducto}"></a></h3>
                <span class="price" style="font-weight: 600" th:text="|${producto.puntosProducto} Puntos|"></span>
                <p class="price-normal"></p><br><br>

                <th:block th:if="${withDescription}">
                    <p th:utext="${producto.descripcionProducto}"></p>
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <label for="nroCelular">Ingresa tu nº de celular</label>
                            <input id="nroCelular" name="nroCelular" type="text" class="form-control" style="width: 91%">
                        </div>
                    </form>

                    <div style="margin-top:25px">
                        <button class="button style-10 open-addcar-modal"
                                th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                            Agregar a carrito
                        </button>
                    </div>
                </th:block>

            </th:block>

            <th:block th:if="${viewDetail}"><!--Producto detalle-->
                <h3 class="product-name" th:text="${producto.nombreProducto}"></h3>
                <span class="count-review text-uppercase" th:text="${producto.marca.nombreMarca}"></span>
<!--                <p th:utext="${producto.descripcionProducto}"></p>-->
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <div class="product-info margin-top-10">
                    <span class="price" style="font-weight: 600;margin-bottom: 0" th:text="|${producto.puntosProducto} Puntos|"></span>
                </div>
                <br>
                <div class="quantity">
                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                </div>
                <br>
                <div style="margin-top:25px">
<!--                    <button class="button style-10 open-addcar-modal"-->
                    <button class="button style-10 open-addcar-link"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>
                </div>
            </th:block>
        </th:block>

        <!--Recarga TV-->
        <th:block th:case="4">
            <th:block th:unless="${viewDetail}"><!--Popup producto catalogo-->
                <p class="text-uppercase marca" style="margin: 0" th:text="${producto.marca.nombreMarca}"></p>
                <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="${producto.nombreProducto}"></a></h3>
                <span class="price" style="font-weight: 600" th:text="|${producto.puntosProducto} Puntos|"></span>
                <p class="price-normal"></p><br><br>

                <th:block th:if="${withDescription}">
                    <p th:utext="${producto.descripcionProducto}"></p>
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <label for="nroDeco">Ingresa tu nº de decodificador</label>
                            <input id="nroDeco" name="nroDeco" type="text" class="form-control" style="width: 91%">
                        </div>
                    </form>

                    <div style="margin-top:25px">
                        <button class="button style-10 open-addcar-modal"
                                th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                            Agregar a carrito
                        </button>
                    </div>
                </th:block>

            </th:block>

            <th:block th:if="${viewDetail}"><!--Producto detalle-->
                <h3 class="product-name" th:text="${producto.nombreProducto}"></h3>
                <span class="count-review text-uppercase" th:text="${producto.marca.nombreMarca}"></span>
<!--                <p th:utext="${producto.descripcionProducto}"></p>-->
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <div class="product-info margin-top-10">
                    <span class="price" style="font-weight: 600;margin-bottom: 0" th:text="|${producto.puntosProducto} Puntos|"></span>
                </div>
                <br>
                <div class="quantity">
                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                </div>
                <br>
                <div style="margin-top:25px">
                    <!--                    <button class="button style-10 open-addcar-modal"-->
                    <button class="button style-10 open-addcar-link"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>
                </div>
            </th:block>
        </th:block>

        <!--Colores-->
        <th:block th:case="5">
            <th:block th:unless="${viewDetail}"><!--Popup producto catalogo-->
                <p class="text-uppercase marca" style="margin: 0" th:text="${producto.marca.nombreMarca}"></p>
                <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="${producto.nombreProducto}"></a></h3>
                <span class="price" style="font-weight: 600" th:text="|${producto.puntosProducto} Puntos|"></span>
                <p class="price-normal"></p><br><br>

                <th:block th:if="${withDescription}">
                    <p th:utext="${producto.descripcionProducto}"></p>
                    <form onsubmit="return false;">

                        <div class="form-group">
                            <label for="color1" class="obl">Opción color 1</label>
                            <input id="color1" class="form-control" name="color1" type="text" style="width: 91%">
                        </div>
                        <div class="form-group">
                            <label for="color2">Opción color 2</label>
                            <input id="color2" class="form-control"  name="color2" type="text" style="width: 91%">
                        </div>

                    </form>

                    <div style="margin-top:25px">
                        <button class="button style-10 open-addcar-modal"
                                th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                            Agregar a carrito
                        </button>
                    </div>
                </th:block>

            </th:block>

            <th:block th:if="${viewDetail}"><!--Producto detalle-->
                <h3 class="product-name" th:text="${producto.nombreProducto}"></h3>
                <span class="count-review text-uppercase" th:text="${producto.marca.nombreMarca}"></span>
<!--                <p th:utext="${producto.descripcionProducto}"></p>-->
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <div class="product-info margin-top-10">
                    <span class="price" style="font-weight: 600;margin-bottom: 0" th:text="|${producto.puntosProducto} Puntos|"></span>
                </div>
                <br>
                <div class="quantity">
                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                </div>
                <br>
                <div style="margin-top:25px">
                    <!--                    <button class="button style-10 open-addcar-modal"-->
                    <button class="button style-10 open-addcar-link"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>
                </div>
            </th:block>
        </th:block>

        <!--Correo-->
        <th:block th:case="7">
            <th:block th:unless="${viewDetail}"><!--Popup producto catalogo-->
                <p class="text-uppercase marca" style="margin: 0" th:text="${producto.marca.nombreMarca}"></p>
                <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="${producto.nombreProducto}"></a></h3>
                <span class="price" style="font-weight: 600" th:text="|${producto.puntosProducto} Puntos|"></span>
                <p class="price-normal"></p><br><br>

                <th:block th:if="${withDescription}">
                    <p th:utext="${producto.descripcionProducto}"></p>
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <label for="correo">Ingresa tu correo</label>
                            <input id="correo" name="correo" type="text" class="form-control" style="width: 91%">
                        </div>
                    </form>

                    <div style="margin-top:25px">
                        <button class="button style-10 open-addcar-modal"
                                th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                            Agregar a carrito
                        </button>
                    </div>
                </th:block>

            </th:block>

            <th:block th:if="${viewDetail}"><!--Producto detalle-->
                <h3 class="product-name" th:text="${producto.nombreProducto}"></h3>
                <span class="count-review text-uppercase" th:text="${producto.marca.nombreMarca}"></span>
<!--                <p th:utext="${producto.descripcionProducto}"></p>-->
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <div class="product-info margin-top-10">
                    <span class="price" style="font-weight: 600;margin-bottom: 0" th:text="|${producto.puntosProducto} Puntos|"></span>
                </div>
                <br>
                <div class="quantity">
                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                </div>
                <br>
                <div style="margin-top:25px">
                    <!--                    <button class="button style-10 open-addcar-modal"-->
                    <button class="button style-10 open-addcar-link"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>
                </div>
            </th:block>
        </th:block>

        <!--Aden-->
        <th:block th:case="8">
            <th:block th:unless="${viewDetail}"><!--Popup producto catalogo-->
                <p class="text-uppercase marca" style="margin: 0" th:text="${producto.marca.nombreMarca}"></p>
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <h3 class="product-name" style="margin-bottom: 5px;"><a th:text="${producto.nombreProducto}"></a></h3>
                <span class="price" style="font-weight: 600" th:text="|${producto.puntosProducto} Puntos|"></span>
                <p class="price-normal"></p><br><br>
                <p th:if="${withDescription}" th:utext="${producto.descripcionProducto}"></p>

                <div class="col-md-6" style="padding-left: 0">
                    <a target="_blank" th:if="${producto.pdfAden != null}"
                       th:href="${@resources.web('pdf/').concat(producto.pdfAden)}"
                       style="background: #e5e5e5;color: #343434" class="button"><span class="lnr lnr-download"></span> Descargar PDF</a>
                </div>

            </th:block>

            <th:block th:if="${viewDetail}"><!--Producto detalle-->
                <h3 class="product-name" th:text="${producto.nombreProducto}"></h3>
                <span class="count-review text-uppercase" th:text="${producto.marca.nombreMarca}"></span>
                <!--                <p th:utext="${producto.descripcionProducto}"></p>-->
                <p class="margin-0" th:text="|Cod. ${producto.codigoWeb}|"></p>
                <div class="product-info margin-top-10">
                    <span class="price" style="font-weight: 600;margin-bottom: 0" th:text="|${producto.puntosProducto} Puntos|"></span>
                </div>
                <br>
                <div class="quantity">
                    <a class="qty-down number-minus" style="cursor: pointer;font-size: 20px;">-</a>
                    <span class="qty-val qty-val-modal">1</span>
                    <a class="qty-up number-plus" style="cursor: pointer;font-size: 20px;">+</a>
                </div>
                <br>
                <div style="margin-top:25px">
                    <button class="button style-10 open-addcar-modal"
                            th:attr="data-id=${producto.idProducto},data-tipo=${producto.tipoProducto.idTipoProducto}">
                        Agregar a carrito
                    </button>

                    <a target="_blank" th:if="${producto.pdfAden != null}"
                       th:href="${@resources.web('pdf/').concat(producto.pdfAden)}"
                       style="background: #e5e5e5;color: #343434" class="button"><span class="lnr lnr-download"></span> Descargar PDF</a>
                </div>

            </th:block>

        </th:block>

    </th:block>
</th:block>

<th:block th:fragment="productoInteresTemplate">
    <!--/*@thymesVar id="productosCatalogo" type="java.util.List<com.promotick.nissan.model.web.ProductoCatalogo>"*/-->
    <!--/*@thymesVar id="productoCatalogo" type="com.promotick.nissan.model.web.ProductoCatalogo"*/-->

    <th:block th:if="${productosCatalogo.isEmpty()}">
        <div class="mozaic-banners-wrapper type-2" style="margin-top: 20px">
            <div class="banner-column col-sm-12">
                <div class="information-blocks">
                    <div class="accordeon accordeon-entry ae-1" style="display:block;">
                        <div class="information-blocks">
                            <div class="table-responsive text-center">
                                <table class="cart-table">
                                    <tr>
                                        <p style="font-size:20px">Lo sentimos, no existe producto de interes para esta categoria.</p>
                                        <br>
                                        <a class="button style-11" th:href="@{/catalogo}" href="">VOLVER A LAS CATEGORIAS</a>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:th:unless="${productosCatalogo.isEmpty()}">
        <li class="product-item style3 mobile-slide-item col-sm-4 col-md-3" th:each="productoCatalogo : ${productosCatalogo}" th:object="${productoCatalogo.producto}">
            <div class="product-inner">
                <div class="product-thumb has-back-image">
                    <th:block th:if="*{showLabel}">
                        <span th:class="*{tagProducto.claseTagProducto}" th:text="*{label}"></span>
                    </th:block>

                    <th:block th:if="*{imagenEnvioExpress == 1}">
                        <span class="delivery">
                            <img th:src="${@resources.web('img/icono-delivery.png')}" src="" alt="" />
                        </span>
                    </th:block>

                    <a th:href="@{/__${productoCatalogo.producto.url}__}" href="">
                        <img th:src="${@resources.web('img/productos/').concat(productoCatalogo.producto.imagenUno)}" src="" alt="" />
                    </a>
                    <div class="gorup-button">
                        <a class="open-product quick-view"
                           th:attr="data-id=*{idProducto}, data-tipo=*{tipoProducto.idTipoProducto}"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-info">
                    <p class="text-uppercase marca" th:text="*{marca.nombreMarca}"></p>
                    <h3 class="product-name">
<!--                        <a th:href="@{/__${productoCatalogo.producto.url}__}" th:text="*{#strings.abbreviate(nombreProducto, 17)}"></a>-->
                        <a th:href="@{/__${productoCatalogo.producto.url}__}" th:text="*{nombreProducto}"></a>
                    </h3>
                    <span class="price" style="font-weight: 600" th:text="|*{puntosProducto} Pts|"></span>
                    <p class="price-normal" th:if="*{puntosRegular != null && puntosRegular > 0}" th:text="|*{puntosRegular} Pts|"></p>
                    <p class="price-normal no-decoration" th:if="*{puntosRegular == null || puntosRegular <= 0}"></p><!--&nbsp;-->

                    <a class="button add_to_cart_button open-addcar open-addcar-link"
                       th:attr="data-id=*{idProducto},
                            data-tipo=*{tipoProducto.idTipoProducto}"
                       th:text="|Agregar al carrito|"></a>

                    <a class="favorito open-addwishlist"
                       th:attr="data-id=*{idProducto},
                            data-tipo=*{tipoProducto.idTipoProducto}"><i class="fa fa-heart"></i></a>

                </div>
            </div>
        </li>

    </th:block>


</th:block>
</body>
</html>
