<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:fragment="productoTemplate">

    <!--/*@thymesVar id="productos" type="java.util.List<com.promotick.nissan.model.web.ProductoDestacado>"*/-->

    <div class="item" th:each="objProductoDestacado : ${productos}" th:object="${objProductoDestacado}">
        <div class="item-product">
            <div class="item-product-thumb">
                <a class="product-thumb-link"><img class="img-responsive" th:src="${@resources.web('img/productos/').concat(objProductoDestacado.producto.imagenUno)}" src="" alt="" /></a>
                <div class="product-extra-mask">
                    <div class="product-extra-link">
                        <a class="product-compare open-product" th:attr="data-id=*{producto.idProducto}, data-tipo=*{producto.tipoProducto.idTipoProducto}"><span class="lnr lnr-eye"></span></a>

                        <a class="product-add-cart open-addcar open-addcar-link"
                           th:attr="
                                data-id=*{producto.idProducto},
                                data-tipo=*{producto.tipoProducto.idTipoProducto}
                                ">
                            <span class="lnr lnr-cart"></span>
                        </a>

                        <a class="product-wishlist open-addwishlist"
                           th:attr="
                                data-id=*{producto.idProducto},
                                data-tipo=*{producto.tipoProducto.idTipoProducto}
                                ">
                            <span class="lnr lnr-heart"></span>
                        </a>

                        <a th:href="@{/__${objProductoDestacado.producto.url}__}" href="" class="product-detail"><span class="lnr lnr-magnifier"></span></a>
                    </div>
                </div>
            </div>
            <div class="item-product-info">
                <h3 class="title-product" th:text="*{#strings.abbreviate(producto.nombreProducto, 17)}"></h3>
                <div class="code" th:text="|Cod *{producto.codigoWeb}|"></div>
                <div class="info-price">
                    <span th:text="|*{producto.puntosProducto} Pts|"></span>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="productoPopupTemplate">

    <!--/*@thymesVar id="productoCatalogo" type="com.promotick.nissan.model.web.ProductoCatalogo"*/-->

    <div class="col-sm-4 information-entry">
        <div class="product-preview-box">
            <div class="swiper-container">
                <img th:src="${@resources.web('img/productos/').concat(productoCatalogo.producto.imagenUno)}" src="" alt="">
            </div>
        </div>
    </div>

    <div class="col-sm-8 information-entry">
        <div class="product-detail-box">
            <h1 class="product-title" th:text="${productoCatalogo.producto.nombreProducto}"></h1>
            <div class="code code-modal" th:text="|Cod ${productoCatalogo.producto.codigoWeb}|"></div>

            <div th:include="this :: contenidoProductoDetalle(${productoCatalogo.producto}, false, true)" th:remove="tag"></div>

        </div>
    </div>

</th:block>

<th:block th:fragment="productoAgregadoTemplate">

    <!--/*@thymesVar id="result" type="com.promotick.nissan.model.util.PromotickResult"*/-->
    <!--/*@thymesVar id="data" type="com.promotick.nissan.model.web.Producto"*/-->

    <div class="row" th:object="${result.data}">
        <div class="col-md-4 col-sm-6 col-xs-12 img-addcar">
            <div>

                <img th:src="${@resources.web('img/productos/').concat(result.data.imagenUno)}" src="" alt="">
            </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12 information-entry">
            <div class="product-detail-box">
                <div class="msj"><span class="lnr lnr-cart"></span><span th:text="${result.message}"></span></div>
                <h3 class="product-title" th:text="*{nombreProducto}"></h3>
                <div class="code code-modal" th:text="|Cod *{codigoWeb}|"></div>
                <div class="info-price">
                    <span th:text="|*{puntosProducto} Pts|"></span>
                </div>

                <div class="btns-modal">
                    <a th:href="@{/catalogo}" href="" class="button style-11">Ir al catálogo</a>
                    <a th:href="@{/carrito}" href="" class="button style-10">Ir a carrito</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="close-popup"></div>

</th:block>

<th:block th:fragment="productoCatalogoTemplate">

    <!--/*@thymesVar id="productosCatalogo" type="java.util.List<com.promotick.nissan.model.web.ProductoCatalogo>"*/-->

    <th:block th:if="${productosCatalogo.isEmpty()}">
        <div class="mozaic-banners-wrapper type-2" style="margin-top: 20px">
            <div class="banner-column col-sm-12">
                <div class="information-blocks">
                    <div class="accordeon accordeon-entry ae-1" style="display:block;">
                        <div class="information-blocks">
                            <div class="table-responsive text-center">
                                <table class="cart-table">
                                    <tr>
                                        <p style="font-size:20px">Lo sentimos, no existe producto con esa descripcion.</p>
                                        <br>
                                        <a class="button style-11" th:href="@{/catalogo}" href="">VOLVER A LAS CATEGORIAS</a>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:th:unless="${productosCatalogo.isEmpty()}">
        <div class="col-lg-3 col-md-3 col-sm-6 shop-grid-item" th:each="productocatalogo : ${productosCatalogo}" th:object="${productocatalogo.producto}">
            <div class="item">
                <div class="item-product">
                    <div class="item-product-thumb">
                        <a class="product-thumb-link"><img class="img-responsive" th:src="${@resources.web('img/productos/').concat(productocatalogo.producto.imagenUno)}" src="" alt="" /></a>
                        <div class="product-extra-mask">
                            <div class="product-extra-link">
                                <a class="product-compare open-product" th:attr="data-id=*{idProducto}, data-tipo=*{tipoProducto.idTipoProducto}"><span class="lnr lnr-eye"></span></a>

                                <a class="product-add-cart open-addcar open-addcar-link"
                                   th:attr="
                                    data-id=*{idProducto},
                                    data-tipo=*{tipoProducto.idTipoProducto}
                                    ">
                                    <span class="lnr lnr-cart"></span>
                                </a>

                                <a class="product-wishlist open-addwishlist"
                                   th:attr="
                                    data-id=*{idProducto},
                                    data-tipo=*{tipoProducto.idTipoProducto}
                                    ">
                                    <span class="lnr lnr-heart"></span>
                                </a>

                                <a th:href="@{/__${productocatalogo.producto.url}__}" href="" class="product-detail"><span class="lnr lnr-magnifier"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-info">
                        <h3 class="title-product" th:text="*{#strings.abbreviate(nombreProducto, 17)}"></h3>
                        <div class="code" th:text="|Cod *{codigoWeb}|"></div>
                        <div class="info-price">
                            <span th:text="|*{puntosProducto} Pts|"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</th:block>

<!--/*@thymesVar id="viewDetail" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="withDescription" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="producto" type="com.promotick.nissan.model.web.Producto"*/-->
<th:block th:fragment="contenidoProductoDetalle(producto, viewDetail, withDescription)" >
    <th:block th:switch="${producto.tipoProducto.idTipoProducto}">
        <!--Regular-->
        <th:block th:case="1">

            <div class="product-description detail-info-entry" th:if="${withDescription}">
                <p th:utext="${producto.descripcionProducto}"></p>
            </div>

            <div class="info-price">
                <span th:text="|${producto.puntosProducto} Pts|"></span>
            </div>

            <div class="info-qty">
                <label>Cantidad:</label>
                <a href="#" class="qty-down number-minus"><span class="lnr lnr-chevron-down"></span></a>
                <span class="qty-val qty-val-modal">1</span>
                <a href="#" class="qty-up number-plus"><span class="lnr lnr-chevron-up"></span></a>
            </div>

            <button class="button style-10 open-addcar-modal"
                    th:attr="
                                        data-id=${producto.idProducto},
                                        data-tipo=${producto.tipoProducto.idTipoProducto}
                                        ">
                Agregar a carrito
            </button>

            <div class="detail-info-entry btns-modal">
                <div class="clear"></div>
            </div>
        </th:block>

        <!--Primax-->
        <th:block th:case="2">

            <div class="product-description detail-info-entry" th:if="${withDescription}">
                <p th:utext="${producto.descripcionProducto}"></p>
            </div>

            <div class="info-price">
                <span th:text="|${producto.puntosProducto} Pts|"></span>
            </div>

            <th:block th:unless="${viewDetail}">

                <div>
                    <div class="info-qty">
                        <label>Cantidad:</label>
                        <a href="#" class="qty-down number-minus"><span class="lnr lnr-chevron-down"></span></a>
                        <span class="qty-val qty-val-modal">1</span>
                        <a href="#" class="qty-up number-plus"><span class="lnr lnr-chevron-up"></span></a>
                    </div>

                    <button style="width: 42%" class="button style-10 open-addcar-modal"
                            th:attr="
                                                data-id=${producto.idProducto},
                                                data-tipo=${producto.tipoProducto.idTipoProducto}
                                                ">
                        Agregar a carrito
                    </button>

                </div>

                <br>
                <a target="_blank" href="" th:if="${session.participante.catalogo.pdfPrimax != null}" th:href="${@resources.web().concat(session.participante.catalogo.pdfPrimax)}" style="margin: 15px 0;" class="button style-3"><span class="lnr lnr-download"></span> DESCARGAR DETALLE</a>

            </th:block>

            <th:block th:if="${viewDetail}">
                <div class="row">
                    <div class="col-md-5" style="padding-right: 0">
                        <div class="info-qty">
                            <label>Cantidad:</label>
                            <a href="#" class="qty-down number-minus"><span class="lnr lnr-chevron-down"></span></a>
                            <span class="qty-val qty-val-modal">1</span>
                            <a href="#" class="qty-up number-plus"><span class="lnr lnr-chevron-up"></span></a>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 0">
                        <a target="_blank" th:if="${session.participante.catalogo.pdfPrimax != null}" th:href="${@resources.web().concat(session.participante.catalogo.pdfPrimax)}" style="margin: 15px 0;" class="button style-3"><span class="lnr lnr-download"></span> DESCARGAR DETALLE</a>
                    </div>
                </div>
                <br>

                <button style="width: 42%" class="button style-10 open-addcar-modal"
                        th:attr="
                                data-id=${producto.idProducto},
                                data-tipo=${producto.tipoProducto.idTipoProducto}
                                ">
                    Agregar a carrito
                </button>

            </th:block>

        </th:block>

        <!--Recarga celular-->
        <th:block th:case="3">

            <div class="product-description detail-info-entry" th:if="${withDescription}">
                <p th:utext="${producto.descripcionProducto}"></p>
            </div>

            <div class="info-price">
                <span th:text="|${producto.puntosProducto} Pts|"></span>
            </div>

            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="nroCelular">Ingresa tu nº de celular</label>
                    <input id="nroCelular" name="nroCelular" type="text" class="form-control" style="width: 91%">
                </div>
            </form>

            <div>
                <a data-dismiss="modal" class="button style-11" th:unless="${viewDetail}">Cancelar</a>
                <button style="width: 42%" class="button style-10 open-addcar-modal"
                        th:attr="
                                  data-id=${producto.idProducto},
                                  data-tipo=${producto.tipoProducto.idTipoProducto}
                                  ">
                    Agregar a carrito
                </button>
            </div>
        </th:block>

        <!--Recarga TV-->
        <th:block th:case="4">

            <div class="product-description detail-info-entry" th:if="${withDescription}">
                <p th:utext="${producto.descripcionProducto}"></p>
            </div>

            <div class="info-price">
                <span th:text="|${producto.puntosProducto} Pts|"></span>
            </div>

            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="nroDeco">Ingresa tu nº de decodificador</label>
                    <input id="nroDeco" name="nroDeco" type="text" class="form-control" style="width: 91%">
                </div>
            </form>

            <div>
                <a data-dismiss="modal" class="button style-11" th:unless="${viewDetail}">Cancelar</a>
                <button style="width: 42%" class="button style-10 open-addcar-modal"
                        th:attr="
                                            data-id=${producto.idProducto},
                                            data-tipo=${producto.tipoProducto.idTipoProducto}
                                            ">
                    Agregar a carrito
                </button>
            </div>
        </th:block>

        <!--Colores-->
        <th:block th:case="5">

            <div class="product-description detail-info-entry" th:if="${withDescription}">
                <p th:utext="${producto.descripcionProducto}"></p>
            </div>

            <div class="info-price">
                <span th:text="|${producto.puntosProducto} Pts|"></span>
            </div>

            <form onsubmit="return false;">

                <div class="form-group">
                    <label for="color1" class="obl">Opción color 1</label>
                    <input id="color1" class="form-control" name="color1" type="text" style="width: 91%">
                </div>
                <div class="form-group">
                    <label for="color2">Opción color 2</label>
                    <input id="color2" class="form-control"  name="color2" type="text" style="width: 91%">
                </div>

            </form>

            <div>
                <a data-dismiss="modal" class="button style-11" th:unless="${viewDetail}">Cancelar</a>
                <button style="width: 42%" class="button style-10 open-addcar-modal"
                        th:attr="
                                  data-id=${producto.idProducto},
                                  data-tipo=${producto.tipoProducto.idTipoProducto}
                                  ">
                    Agregar a carrito
                </button>
            </div>
        </th:block>

        <!--Correo-->
        <th:block th:case="7">

            <div class="product-description detail-info-entry" th:if="${withDescription}">
                <p th:utext="${producto.descripcionProducto}"></p>
            </div>

            <div class="info-price">
                <span th:text="|${producto.puntosProducto} Pts|"></span>
            </div>

            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="correo">Ingresa tu correo</label>
                    <input id="correo" name="correo" type="text" class="form-control" style="width: 91%">
                </div>
            </form>

            <div>
                <a data-dismiss="modal" class="button style-11" th:unless="${viewDetail}">Cancelar</a>
                <button style="width: 42%" class="button style-10 open-addcar-modal"
                        th:attr="
                                            data-id=${producto.idProducto},
                                            data-tipo=${producto.tipoProducto.idTipoProducto}
                                            ">
                    Agregar a carrito
                </button>
            </div>
        </th:block>

    </th:block>
</th:block>

<th:block th:fragment="productoInteresTemplate">
    <!--/*@thymesVar id="productosCatalogo" type="java.util.List<com.promotick.nissan.model.web.ProductoCatalogo>"*/-->
    <!--/*@thymesVar id="productoCatalogo" type="com.promotick.nissan.model.web.ProductoCatalogo"*/-->

    <th:block th:if="${productosCatalogo.isEmpty()}">
        <div class="mozaic-banners-wrapper type-2" style="margin-top: 20px">
            <div class="banner-column col-sm-12">
                <div class="information-blocks">
                    <div class="accordeon accordeon-entry ae-1" style="display:block;">
                        <div class="information-blocks">
                            <div class="table-responsive text-center">
                                <table class="cart-table">
                                    <tr>
                                        <p style="font-size:20px">Lo sentimos, no existe producto de interes para esta categoria.</p>
                                        <br>
                                        <a class="button style-11" th:href="@{/catalogo}" href="">VOLVER A LAS CATEGORIAS</a>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:th:unless="${productosCatalogo.isEmpty()}">

        <div class="col-lg-3 col-md-3 col-sm-6 shop-grid-item" th:each="productoCatalogo : ${productosCatalogo}" th:object="${productoCatalogo.producto}">
            <div class="item">
                <div class="item-product">
                    <div class="item-product-thumb">
                        <a class="product-thumb-link"><img class="img-responsive" th:src="${@resources.web('img/productos/').concat(productoCatalogo.producto.imagenUno)}" src="" alt="" /></a>
                        <div class="product-extra-mask">
                            <div class="product-extra-link">
                                <a class="product-compare open-product" th:attr="data-id=*{idProducto}, data-tipo=*{tipoProducto.idTipoProducto}"><span class="lnr lnr-eye"></span></a>

                                <a class="product-add-cart open-addcar open-addcar-link"
                                   th:attr="
                                    data-id=*{idProducto},
                                    data-tipo=*{tipoProducto.idTipoProducto}
                                    ">
                                    <span class="lnr lnr-cart"></span>
                                </a>

                                <a class="product-wishlist open-addwishlist"
                                   th:attr="
                                    data-id=*{idProducto},
                                    data-tipo=*{tipoProducto.idTipoProducto}
                                    ">
                                    <span class="lnr lnr-heart"></span>
                                </a>

                                <a th:href="@{/__${productoCatalogo.producto.url}__}" href="" class="product-detail"><span class="lnr lnr-magnifier"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-info">
                        <h3 class="title-product" th:text="*{#strings.abbreviate(nombreProducto, 17)}"></h3>
                        <div class="code" th:text="|Cod *{codigoWeb}|"></div>
                        <div class="info-price">
                            <span th:text="|*{puntosProducto} Pts|"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </th:block>


</th:block>
</body>
</html>
