<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="todosRecomendados">
    <div class="row">
        <div class="col-sm-12 col-md-12" style="clear:both">
            <table class="cart-table group-product table" id="tblRecomendados">
                <thead>
                <tr>
                    <th>Nº de documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Celular</th>
                    <th>Correo electrónico</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</th:block>

</body>
</html>