<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<th:block th:fragment="topmenu">
  <nav class="g-header">
    <div class="container">
      <div class="g-header--container" id="sesion-iniciada" >
        <a class="g-header--container__logo" href="/MemberShipWeb/index">
          <img th:src="${@resources.web('img/logo.png')}" alt="Logo" class="logo">
        </a>
        <a href="/MemberShipWeb/login" class="g-button" id="login"  th:if="${cedula == null}">
          <span>Iniciar sesión</span>
        </a>

        <div class="dropdown " id="logout"  th:if="${cedula != null}">
          <button class="g-button--profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="${@resources.web('img/ico/ico-profile.svg')}" alt="">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/MemberShipWeb/logout">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</th:block>

</body>
</html>