<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Carga de acciones de sellout}', menu='G. Metas', hijo='Carga de acciones de sellout'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Carga de acciones de sellout</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Carga de acciones de sellout</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">

            <div class="col-xs-12 col-md-4">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Informacion</h5>
                        <div class="ibox-tools ibox-tools-button">

                        </div>
                    </div>

                    <div class="ibox-content">
                        <span>Plantilla</span>
                        <ul style="font-size: 11px;">
                            <li>
                                <a href="" th:href="${@resources.template('FORMATO_CARGA_ACCIONES_.xlsx')}">FORMATO_CARGA_ACCIONES_.xlsx</a>
                            </li>
                        </ul>

                        <span>Fecha</span>
                        <ul style="font-size: 13px;">
                            <li>
                                <span style="font-weight: bold">Fecha (DD-MM-YYYY)</span> Ejm: 11-02-2025
                            </li>
                        </ul>

                        <span>Acción</span>
                        <ul style="font-size: 13px;">
                            <li>
                                <span style="font-weight: bold">Acción</span> On pack favorita
                            </li>
                        </ul>

                        <span>Descripción</span>
                        <ul style="font-size: 13px;">
                            <li>
                                <span style="font-weight: bold">Descripción</span> Ejm: Por cada 2 favoritas 1 litro gratis
                            </li>
                        </ul>

                        <span>Cantidad</span>
                        <ul style="font-size: 13px;">
                            <li>
                                <span style="font-weight: bold">Cantidad</span> Ejm: 1
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-8">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Carga</h5>
                        <div class="ibox-tools ibox-tools-button">

                        </div>
                    </div>

                    <div class="ibox-content">
                        <input id="archivo" name="excelfile" type="file">
                        <div class="error" style="color: red"></div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2" >
                                <button class="btn btn-white" id="btnLimpiar"><i class="fa fa-ban"></i> Limpiar</button>
                                <button class="btn btn-primary" id="btnCargar"><i class="fa fa-upload"></i> Subir archivo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <div class="modal inmodal" id="modalResumenCarga" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY" id="contentResumenCarga">

            </div>
        </div>
    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/acciones-carga.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var accionesCarga = new AccionesCarga('[[@{/}]]');
            accionesCarga.init();
        });
    </script>
</div>

</body>
</html>