<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Reporte de acelerador', menu='Administracion', hijo='Reporte de acelerador'">

<head>
    <title>Layout</title>

</head>

<body>

<div layout:fragment="content">
    <style>
        .modal-dialog-text {
            /*min-width: 80%;*/
            /*height: 100%;*/
            padding: 0;
        }

        .modal-content-text {
            /*height: 80%;*/
            border-radius: 0;
        }
    </style>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Reportes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Administración de aceleradores</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Administración de aceleradores</h5>
                        <!--                        <div class="ibox-tools ibox-tools-button">-->
                        <!--                            <button type="button" id="btnDescargar" th:attr="data-descarga=@{/reportes/ventas/descargar-excel}" class="btn btn-danger btn-sm"><i class="fa fa-download"></i> Descargar reporte de ventas</button>-->
                        <!--                        </div>-->
                    </div>

                    <div class="ibox-content">

                        <div class="row m-b-sm m-t-sm">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <div class="row justify-content-between">

                                        <!--                                    <div><label class="font-normal">Selecciona un rango de fecha :</label></div>-->
                                        <!--                                    <div style="display: flex;flex-flow: wrap;">-->

                                        <!--                                        <div class="col-xs-12 col-12 col-md-6 input-daterange input-group" id="rangoDatePicker">-->

                                        <!--                                            <input type="text" class="form-control-sm form-control" name="start" value="" id="fechaInicio" th:with="fecha=${#dates.createNow()}" th:value="${#dates.format(@utils.addMonth(fecha, -1), 'dd/MM/yyyy')}"/>-->

                                        <!--                                            <span class="input-group-addon form-control-span">a</span>-->

                                        <!--                                            <input type="text" class="form-control-sm form-control" name="end" value="" id="fechaFin" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"/>-->

                                        <!--                                            <button type="button" class="btn btn-primary btn-sm" id="btnFiltrar" style="margin-left: 10px;"><i class="fa fa-filter"></i> Filtrar</button>-->
                                        <!--                                        </div>-->
                                        <div  class="col-xs-5 col-5 col-md-5">
                                            <button type="button" class="btn btn-primary btn-sm" id="btnCrear">  Registrar acelerador</button>
                                        </div>
                                        <div id="container-eliminar" style="display: none;text-align: right" class="col-xs-3 col-3 col-md-3">
                                            <span id="text-eliminar" style="line-height: 2.4; margin-right: 10px">Se seleccionaron: </span>
                                            <button type="button" class="btn btn-danger btn-sm" id="btnBorrar"><i class="fa fa-remove"></i> Eliminar registros</button>
                                        </div>
                                    </div>
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridVentas" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="clean-checkboxs"></th>
                                    <th>Catalogo</th>
                                    <th>Texto</th>
                                    <th>Imagen</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade show" id="modalSinCatalogos" role="dialog" aria-hidden="true" style="overflow:hidden">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Términos y condiciones</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modalSinCatalogosContent">
                    Todos los catálogos ya cuentan con términos y condiciones.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade show" id="modalBorrarConfirm" role="dialog" aria-hidden="true" style="overflow:hidden">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modalPreguntaContent">
                    ¿Estás seguro de que deseas continuar?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="modalBorrarAceptar" >Aceptar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade show" id="modalEditar" role="dialog" aria-hidden="true" style="overflow:hidden">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-text">
            <div class="modal-content animated fadeIn modal-content-text">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Editar</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modalEditarContent">
                    <div class="col-sm-12" style="height: 100%">

                        <div class="row">
                            <div class="col-sm-12">
                                <div><label for="">Catálogo:</label></div>
                                <select disabled="disabled" class="form-control" id="slcCatalogo">
                                    <option value="0">Seleccionar</option>
                                    <option th:each="cat : ${catalogos}" th:text="${cat.nombreCatalogo}" th:value="${cat.idCatalogo}"></option>
                                </select>
                                <div style="opacity: 1;color: red;font-size: 12px;" id="errorCatalogo"></div>
                            </div>
                        </div>

                        <div class="pt-2"><label for="">Titulo:</label></div>
                        <input style="width: 100%" class="form-control-sm form-control" id="tituloEditar" type="text">

                        <div class="row">
                            <div class="col-xs-12 col-sm-9">
                                <div><label for="">Imagen</label></div>
                                <div class="kv-avatar">
                                    <div class="file-loading">
                                        <input id="imagen" name="imagenBanner" type="file">
                                    </div>
                                </div>
                                <input type="text" id="valueImage" style="display: none" value="1">
                                <div id="principalError" class="center-block"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="modalEditarAceptar" >Aceptar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade show" id="modalRegistrar" role="dialog" aria-hidden="true" style="overflow:hidden">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-text">
            <div class="modal-content animated fadeIn modal-content-text">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Registrar</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modalRegistrarContent">
                    <div class="col-sm-12" style="height: 100%">

                        <div class="row">
                            <div class="col-sm-12">
                                <div><label for="">Catálogo:</label></div>
                                <select class="form-control" id="slcCatalogoCrear">
                                    <option value="0">Seleccionar</option>
                                </select>
                                <div style="opacity: 1;color: red;font-size: 12px;" id="errorCatalogoCrear"></div>
                            </div>
                        </div>

                        <div class="pt-2"><label for="">Titulo:</label></div>
                        <input style="width: 100%" id="tituloCrear" class="form-control-sm form-control" type="text">

                        <div class="row">
                            <div class="col-xs-12 col-sm-9">
                                <div><label for="">Imagen</label></div>
                                <div class="kv-avatar">
                                    <div class="file-loading">
                                        <input id="imagenCrear" name="imagenBanner" type="file">
                                    </div>
                                </div>
                                <input type="text" id="valueImageCrear" style="display: none" value="1">
                                <div id="principalErrorCrear" class="center-block"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="modalCrearAceptar" >Aceptar</button>
                </div>

            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script src="https://cdn.jsdelivr.net/combine/npm/sceditor@latest/minified/sceditor.min.js,npm/sceditor@latest/minified/formats/bbcode.min.js,npm/sceditor@latest/minified/icons/monocons.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />
    <script th:src="${@resources.admin('js/views/acelerador-web.js', true)}"></script>

    <script type="text/javascript" >

        // sceditor.formats.xhtml.disallowedAttribs = {
        //     font: {
        //         face: ['Arial', 'Times New Roman']
        //     }
        // };
        // const editor = Jodit.make('#editor',{
        //     width: 800,
        //     height: '800px'
        // });
        // editor.value = '<p>start</p>';

        var aceleradorWeb = new AceleradorWeb('[[@{/}]]');
        aceleradorWeb.init();

    </script>
</div>

</body>
</html>