<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | ' + ${objBanner.idConfiguracionBanner== null ? 'Registrar Banner' : 'Editar Banner'}, menu='Administracion', hijo='Banners'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <!--/*@thymesVar id="objCatalogo" type="Catalogo"*/-->

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de Banners</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/administracion/acelerador}">Acelerador web</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong th:text="${objBanner.idAcelerador== null ? 'Registro nuevo acelerador' : 'Editar Acelerador ID: '+ objBanner.idAcelerador}"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Informacion de acelerador</h5>
                    </div>

                    <div class="ibox-content">


                        <input type="hidden" th:value="${objBanner.idAcelerador}" value="" id="idAcelerador" />

                        <form role="form" class="" id="form-registro" onsubmit="return false;">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6 b-r">

<!--                                        <div class="form-group row">-->
<!--                                            <label for="inptTextoUno" class="col-sm-3 col-form-label">Texto uno</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <input type="text"class="form-control" name="textoUno" id="inptTextoUno" th:value="${objBanner.textoUno}" value="" placeholder="">-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="inptUrlBoton" class="col-sm-3 col-form-label">URL (No poner / delante)</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="urlBoton" id="inptUrlBoton" th:value="${objBanner.urlBoton}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

<!--                                        <div class="form-group row">-->
<!--                                            <label for="inptTextoBoton" class="col-sm-3 col-form-label">Tiene Bot&oacute;n ? </label>-->
<!--                                            <input type="checkbox" id="chkBoton" style="margin: 10px 10px;"-->
<!--                                                   th:checked="${objBanner.idConfiguracionBanner != null ? (!objBanner.textoBoton.isEmpty() ? true : false) : false}">-->
<!--                                            <div class="col-sm-6">-->
<!--                                                <input type="text"class="form-control" name="inptTextoBoton" id="inptTextoBoton" th:value="${objBanner.textoBoton}" value="" placeholder=""-->
<!--                                                    th:style="${objBanner.idConfiguracionBanner != null ? (objBanner.textoBoton.isEmpty() ? 'display: none' : '') : ''}">-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="hr-line-dashed"></div>-->

<!--                                        <div class="form-group row">-->
<!--                                            <label for="slctipoBanner" class="col-sm-3 col-form-label">Tipo Banner</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <select class="form-control" id="slctipoBanner" name="slctipoBanner">-->
<!--                                                    <option value="0">Seleccione</option>-->
<!--                                                    <option value="1" th:selected="${objBanner.tipoBanner == 1}">Home</option>-->
<!--                                                    <option value="4" th:selected="${objBanner.tipoBanner == 4}">Premios</option>-->
<!--                                                    <option value="6" th:selected="${objBanner.tipoBanner == 6}">Mobile</option>-->
<!--                                                    <option value="7" th:selected="${objBanner.tipoBanner == 7}">Mobile (Categoria)</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                        </div>-->

                                    </div>

                                    <div class="col-sm-6">

<!--                                        <div class="form-group row">-->
<!--                                            <label for="inptTextoDos" class="col-sm-3 col-form-label">Texto dos</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <input type="text"class="form-control" name="textoDos" id="inptTextoDos" th:value="${objBanner.textoDos}" value="" placeholder="">-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="hr-line-dashed"></div>-->

<!--                                        <div class="form-group row">-->
<!--                                            <label for="inptOrden" class="col-sm-3 col-form-label">Orden</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <input type="text"class="form-control" name="orden" id="inptOrden" th:value="${objBanner.orden}" value="" placeholder="">-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="slcCatalogo" class="col-sm-3 col-form-label">Catalgo</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="slcCatalogo" name="slcCatalogo">
                                                    <!--/*@thymesVar id="catalogosList" type="java.util.List<Catalogo>"*/-->
                                                    <option value="">Seleccionar</option>
                                                    <option th:each="catalogo : ${catalogosList}" th:value="${catalogo.idCatalogo}" th:text="${catalogo.nombreCatalogo}"
                                                            th:selected="${objBanner.idConfiguracionBanner != null && catalogo.idCatalogo == objBanner.idCatalogo}"></option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-9">
                                        <div><label for="">Titulo</label></div>
                                        <div class="kv-avatar">
                                            <input type="text" class="form-control" name="textoBoton" id="inptTextoBoton" th:value="${objBanner.textoBoton}" value="" placeholder=""/>
                                        </div>
                                        <div  class="center-block"></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-9">
                                        <div><label for="">Imagen</label></div>
                                        <div class="kv-avatar">
                                            <div class="file-loading">
                                                <input id="imagenBanner" name="imagenBanner" type="file"
                                                       th:attr="data-uri=${objBanner.idConfiguracionBanner != null && objBanner.imagenBanner != null ? @resources.web('img/bg/'.concat(objBanner.imagenBanner)) : @resources.web('img/bg/imagen_defecto.png')},
                                                                data-default=${@resources.web('img/bg/imagen_defecto.png')}">
                                            </div>
                                        </div>
                                        <div id="principalError" class="center-block"></div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group row">
                                    <div class="col-sm-4 col-sm-offset-2" >
                                        <a th:href="@{/administracion/acelerador}" class="btn btn-white">Cancelar</a>
                                        <button class="btn btn-primary" id="btnGuardar">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/banner-web-registrar.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var bannerRegistrar = new BannerRegistrar('[[@{/}]]');
            bannerRegistrar.init();
        });
    </script>
</div>

</body>
</html>