<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Configuracion Banners', menu='Administracion', hijo='Administrar Banners'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Configuracion Banners</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Banners</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <div class="">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active show" data-toggle="tab" href="#tab-banner-home" id="tabImagenes">Banners</a></li>
<!--                            <li><a class="nav-link" data-toggle="tab" href="#tab-banner-catalogo" id="tabCatalogos">Banners</a></li>-->
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-banner-home" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="ibox-title">
<!--                                            <h5>Informacion de banner</h5>-->
                                            <div class="ibox-tools ibox-tools-button">
                                                <button type="button" th:attr="data-url=@{/administracion/banners-web/registrar}" class="btn btn-danger btn-sm btnAccion"><i class="fa fa-plus"></i> Nuevo Banner</button>
                                            </div>
                                        </div>
                                        <div class="ibox-content">

                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">

                                                    <label class="font-normal">Orden :</label>

                                                    <div class="form-group">
                                                        <select class="form-control" id="slcOrdenHome">
                                                            <option value="1">Ordenar por</option>
                                                            <option value="1">Activos</option>
                                                            <option value="2">Desactivados</option>
                                                            <option value="3">Orden</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover" id="gridBannersHome" style="width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Catalogo</th>
                                                        <th>Titulo</th>
                                                        <th>Imagen</th>
                                                        <th>Url</th>
<!--                                                        <th>Texto Uno</th>-->
<!--                                                        <th>Texto Dos</th>-->
<!--                                                        <th>Tiene Boton ?</th>-->
                                                        <th>Orden</th>
                                                        <th>Accion</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="tab-banner-catalogo" class="tab-pane active show">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <!--                                            <h5>Informacion de banner</h5>-->
                                            <div class="ibox-tools ibox-tools-button">
                                                <button type="button" th:attr="data-url=@{/administracion/banners-web/registrar}" class="btn btn-danger btn-sm btnAccion"><i class="fa fa-plus"></i> Nuevo Banner</button>
                                            </div>
                                        </div>
                                        <div class="ibox-content">

                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">

                                                    <label class="font-normal">Orden :</label>

                                                    <div class="form-group">
                                                        <select class="form-control" id="slcOrdenProductos">
                                                            <option value="1">Ordenar por</option>
                                                            <option value="1">Activos</option>
                                                            <option value="2">Desactivados</option>
                                                            <option value="3">Orden</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover" id="gridBannersProductos" style="width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Catalogo</th>
                                                        <th>Titulo</th>
                                                        <th>Imagen</th>
                                                        <th>Url</th>
<!--                                                        <th>Texto Uno</th>-->
<!--                                                        <th>Texto Dos</th>-->
<!--                                                        <th>Tiene Boton ?</th>-->
                                                        <th>Orden</th>
                                                        <th>Accion</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/banner-web.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var bannerWeb = new BannerWeb('[[@{/}]]', '[[${@resources.web("img/bg/")}]]');
            bannerWeb.init();
        });
    </script>
</div>

</body>
</html>