<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | ' + ${esNuevo ? 'Registro de Capacitacion' : 'Detalle de capacitacion'}, menu='Capacitaciones', hijo='Capacitaciones'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de Capacitaciones</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/capacitaciones}">Capacitaciones</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong th:text="${esNuevo ? 'Registro de Capacitacion' : 'Detalle de capacitacion'}"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="tabs-container">
                    <div class="alert alert-success" th:if="${param.register != null && param.register[0] == 'successful'}">Se guardó la informacion correctamente</div>

                    <div class="row">

                        <div class="col-md-6" th:if="${!esNuevo}">
                            <a th:href="@{/capacitaciones/recursos?idCapacitacion={id} (id=${capacitacion.idCapacitacion})}">
                                <div class="widget style1 yellow-bg">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fa fa-files-o fa-5x"></i>
                                        </div>
                                        <div class="col-8 text-right">
                                            <span> Recursos </span>
                                            <h2 class="font-bold" th:text="${capacitacion.conteoRecursos}"></h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6" th:if="${!esNuevo}">
                            <a th:href="@{/capacitaciones/preguntas?idCapacitacion={id} (id=${capacitacion.idCapacitacion})}">
                                <div class="widget style1 yellow-bg">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fa fa-question-circle fa-5x"></i>
                                        </div>
                                        <div class="col-8 text-right">
                                            <span> Preguntas </span>
                                            <h2 class="font-bold" th:text="${capacitacion.conteoPreguntas}"></h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Informacion de la Capacitacion</h5>
                            <div class="ibox-tools ibox-tools-button">
                            </div>
                        </div>

                        <div class="ibox-content">

                            <input type="hidden" th:value="${capacitacion.idCapacitacion}" value="" id="idCapacitacion" />

                            <form role="form" class="" id="frmCapacitacion" onsubmit="return false;">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 b-r">


                                            <div class="form-group row">
                                                <label for="inptNombreCapacitacion" class="col-sm-3 col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="inptNombreCapacitacion" id="inptNombreCapacitacion" th:value="${capacitacion.nombreCapacitacion}" value="" placeholder="">
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group row">
                                                <label for="slcCatalogo" class="col-sm-3 col-form-label">Catalgo</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="slcCatalogo" name="slcCatalogo">
                                                        <!--/*@thymesVar id="catalogosList" type="java.util.List<Catalogo>"*/-->
                                                        <option value="">Seleccionar</option>
                                                        <option th:each="catalogo : ${catalogosList}" th:value="${catalogo.idCatalogo}" th:text="${catalogo.nombreCatalogo}"
                                                                th:selected="${capacitacion.idCapacitacion != null && catalogo.idCatalogo == capacitacion.idCatalogo}"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group row">
                                                <label for="inptFechaInicio" class="col-sm-3 col-form-label">Fecha inicio</label>
                                                <div class="col-sm-9">
                                                    <input type="date" class="form-control" name="inptFechaInicio" id="inptFechaInicio" th:value="${capacitacion.fechaInicioString}" value="" placeholder="">
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group row">
                                                <label for="inptFechaFin" class="col-sm-3 col-form-label">Fecha fin</label>
                                                <div class="col-sm-9">
                                                    <input type="date" class="form-control" name="inptFechaFin" id="inptFechaFin" th:value="${capacitacion.fechaFinString}" value="" placeholder="">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-6">

                                            <div class="form-group row">
                                                <label for="inptDescripcionCapacitacion" class="col-sm-3 col-form-label">Descripción</label>
                                                <div class="col-sm-9">
                                                    <textarea name="inptDescripcionCapacitacion" id="inptDescripcionCapacitacion" class="form-control" rows="5" th:text="${capacitacion.descripcionCapacitacion}">
                                                    </textarea>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group row">
                                                <label for="inptPuntajeCapacitacion" class="col-sm-3 col-form-label">Puntaje</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="inptPuntajeCapacitacion" id="inptPuntajeCapacitacion" th:value="${capacitacion.puntosCapacitacion}" value="" placeholder="">
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group row">
                                                <label for="chkCuestionario" class="col-sm-3 col-form-label">Cuestionario Habilitado ?</label>
                                                <div class="col-sm-9">
                                                    <div class="i-checks">
                                                        <input type="checkbox" value="" id="chkCuestionario" th:checked="${esNuevo ? true : capacitacion.estadoCuestionario}">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>


                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Imagenes</h5>
                            <div class="ibox-tools ibox-tools-button">

                            </div>
                        </div>

                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div><label for="">Imagen Principal</label></div>
                                    <div class="kv-avatar">
                                        <div class="file-loading">
                                            <input id="imagenPrincipal" name="imagenPrincipal" type="file"
                                                   th:attr="
                                                                    data-uri=${!esNuevo && capacitacion.imagenUno != null ? capacitacion.imagenUno : @resources.web('img/productos/imagen_defecto.png')},
                                                                    data-default=${@resources.web('img/productos/imagen_defecto.png')}
                                                                    ">
                                        </div>
                                    </div>
                                    <div id="principalError" class="center-block"></div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div><label for="">Imagen Detalle</label></div>
                                    <div class="kv-avatar">
                                        <div class="file-loading">
                                            <input id="imagenDetalle" name="imagenDetalle" type="file"
                                                   th:attr="
                                                                    data-uri=${!esNuevo && capacitacion.imagenDetalle != null ? capacitacion.imagenDetalle : @resources.web('img/productos/imagen_detalle_defecto.png')},
                                                                    data-default=${@resources.web('img/productos/imagen_detalle_defecto.png')}
                                                                    ">
                                        </div>
                                    </div>
                                    <div id="detalleError" class="center-block"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="panel-body" style="margin: 15px 0 15px 0">
                        <div class="form-group row" style="margin-bottom: 0;">
                            <div class="col-sm-12" style="text-align: center">
                                <a th:href="@{/capacitaciones}" class="btn btn-white">Cancelar</a>
                                <button class="btn btn-primary" id="btnAceptar">Aceptar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/capacitaciones-detalle.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var capacitacionesDetalle = new CapacitacionesDetalle('[[@{/}]]', '[[${esNuevo}]]');
            capacitacionesDetalle.init();
        });
    </script>
</div>

</body>
</html>
