<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | ' + ${objCategoria.idCategoria== null ? 'Registro de Categoria' : 'Detalle de categoria'}, menu='G. Productos', hijo='Categorias'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <!--/*@thymesVar id="objCategoria" type="CAtegoria"*/-->

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de categorias</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/catalogos/categorias}">G. Categorias</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong th:text="${objCategoria.idCategoria == null ? 'Registro de categoria' : 'Detalle de categoria'}"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Informacion de categoria</h5>
                        <div class="ibox-tools ibox-tools-button">

                        </div>
                    </div>

                    <div class="ibox-content">


                        <input type="hidden" th:value="${objCategoria.idCategoria}" value="" id="idCategoria" />

                        <form role="form" class="" id="form-registro" onsubmit="return false;">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6 b-r">

                                        <div class="form-group row">
                                            <label for="nombresCategoria" class="col-sm-3 col-form-label">Nombre de Categoria</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="nombresCategoria" id="nombresCategoria" th:value="${objCategoria.nombreCategoria}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="slctipoCategoria" class="col-sm-3 col-form-label">Tipo Categoria</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="slctipoCategoria" name="slctipoCategoria">
                                                    <option value="0">Seleccione</option>
                                                    <option value="1" th:selected="${objCategoria.idTipoCategoria == 1}">Categoria Principal</option>
                                                    <option value="2" th:selected="${objCategoria.idTipoCategoria == 2}">Sub-Categoria</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row" id="dvSubCategoria" style="display: none">
                                            <label for="categoriaLista" class="col-sm-3 col-form-label">Categoria Principal</label>
                                            <div class="col-sm-9">
                                                <!--/*@thymesVar id="categoriaslist" type="java.util.List<Categoria>"*/-->
                                                <select class="form-control" name="categoriaLista" id="categoriaLista">
                                                    <option value="" th:if="${objCategoria.idCategoria == null}">Seleccionar</option>
                                                    <option th:each="categoria : ${categoriaslist}" value="" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}" th:selected="${objCategoria.idCategoriaParent != null && categoria.idCategoria == objCategoria.idCategoriaParent}"></option>
<!--                                                    <optgroup th:each="categoria : ${categoriaslist}" label="" th:label="${categoria.nombreCategoria}">-->
<!--                                                        <option th:each="subcategoria : ${categoria.categoriasHijas}" value="" th:value="${subcategoria.idCategoria}" th:text="${subcategoria.nombreCategoria}" th:selected="${objCategoria.idCategoria != null && subcategoria.idCategoria == objCategoria.idCategoria}"></option>-->
<!--                                                    </optgroup>-->
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-6">

                                        <div class="form-group row">
                                            <label for="ordenCategoria" class="col-sm-3 col-form-label">Orden</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="ordenCategoria" id="ordenCategoria" th:value="${objCategoria.ordenCategoria}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="chkEstadoCategoria" class="col-sm-3 col-form-label">Estado Categoria</label>
                                            <div class="col-sm-9 padding-form-flat">
                                                <div class="switch">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" class="onoffswitch-checkbox" id="chkEstadoCategoria" th:checked="${objCategoria.idCategoria!= null ? (objCategoria.estadoCategoria == 1 ? true : false): true}" name="chkEstadoCategoria">
                                                        <label class="onoffswitch-label" for="chkEstadoCategoria">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-9">
                                        <div><label for="">Imagen</label></div>
                                        <div class="kv-avatar">
                                            <div class="file-loading">
                                                <input id="imagen" name="imagen" type="file"
                                                       th:attr="data-uri=${objCategoria.imagenCategoria != null ? objCategoria.imagenCategoria : @resources.web('img/bg/imagen_defecto.png')},
                                                                data-default=${@resources.web('img/bg/imagen_defecto.png')}">
                                            </div>
                                        </div>
                                        <input type="text" id="valueImage" style="display: none" value="1">
                                        <div id="principalError" class="center-block"></div>
                                    </div>
                                </div>


                                <div class="hr-line-dashed"></div>

                                <div class="form-group row">
                                    <div class="col-sm-4 col-sm-offset-2" >
                                        <a th:href="@{/catalogos/categorias}" class="btn btn-white">Cancelar</a>
                                        <button class="btn btn-primary" id="btnGuardar">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/categorias-detalle.js', false)}"></script>

    <script type="text/javascript">
        $(function() {
            var categoriasDetalle = new CategoriasDetalle('[[@{/}]]', '[[${objCategoria.idCategoria == null ? "1" : "0"}]]');
            categoriasDetalle.init();
        });
    </script>
</div>

</body>
</html>
