<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Gestion de categorias', menu='G. Productos', hijo='Categorias'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de Categorias</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Gestion de categorias</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Categorias</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" th:attr="data-url=@{/catalogos/categorias/descargar-excel}" class="btn btn-warning btn-sm btnAccion"><i class="fa fa-download"></i> Descargar categorias</button>
                            <button type="button" th:attr="data-url=@{/catalogos/categorias/registrar}" class="btn btn-danger btn-sm btnAccion"><i class="fa fa-plus"></i> Nueva Categoria</button>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">

                                <label class="font-normal">Orden :</label>

                                <div class="form-group">
                                    <select class="form-control" id="slcOrden">
                                        <option value="0">Seleccione</option>
                                        <option value="1">Nombre</option>
                                        <option value="2">Estado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridCategorias" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>ID Categoria</th>
                                        <th>Nombre categoria</th>
                                        <th>Imagen</th>
                                        <th>tipo</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/categorias.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var categorias = new Categorias('[[@{/}]]');
            categorias.init();
        });
    </script>
</div>

</body>
</html>