<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Envio Mail Caducidad', menu='Administracion', hijo='Envio Mail Caducidad'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <!--/*@thymesVar id="objSegmento" type="Catalogo"*/-->

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Envio Mail Caducidad</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Mail Caducidad</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Datos</h5>
                        <div class="ibox-tools ibox-tools-button">

                        </div>
                    </div>

                    <div class="ibox-content">

                        <form role="form" class="" id="form-caducidad" onsubmit="return false;">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-8 b-r">
                                        <div class="form-group row">
                                            <label for="puntosMinimo" class="col-sm-4 col-form-label">Minimo de Puntos para envio de Mail-Caducidad</label>
                                            <div class="col-sm-4">
                                                <input type="text"class="form-control" name="puntosMinimo" id="puntosMinimo" th:value="${configuracionWeb.minPuntosCaducidad}"placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group row">
                                    <div class="col-sm-4 col-sm-offset-2" >
                                        <button class="btn btn-primary" id="btnEnviar">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/envio-caducidad.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var envioCaducidad = new EnvioCaducidad('[[@{/}]]');
            envioCaducidad.init();
        });
    </script>
</div>

</body>
</html>