<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Gestion de participantes', menu='G. Participantes', hijo='Participantes'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de participantes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Gestion de participantes</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Participantes</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" th:attr="data-url=@{/participantes/importar}" class="btn btn-warning btn-sm btnAccion"><i class="fa fa-upload"></i> Importar Participantes</button>
                            <button type="button" th:if="false" th:attr="data-url=@{/participantes/registrar}" class="btn btn-danger btn-sm btnAccion"><i class="fa fa-plus"></i> Nuevo Participante</button>
                            <button type="button" th:attr="data-url=@{/participantes/descargar-excel}" class="btn btn-danger btn-sm btnAccion"><i class="fa fa-download"></i> Exportar Participantes</button>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="row m-b-sm m-t-sm">
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">

                                    <label class="font-normal">Busqueda :</label>

                                    <div class="input-daterange input-group">

                                        <input type="text" class="form-control-sm form-control" name="buscarParticipante" id="buscarParticipante" placeholder="Buscar">

                                        <button type="button" class="btn btn-primary btn-sm" id="btnFiltrar" style="margin-left: 10px;"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">

                                    <label class="font-normal">Orden :</label>

                                    <div class="form-group">
                                        <select class="form-control" id="slcOrden">
                                            <option value="1">Por Fecha</option>
                                            <option value="2">Por Apellido</option>
                                            <option value="3">Por Estado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">

                                    <label class="font-normal">Catalogo :</label>

                                    <div class="form-group">
                                        <select class="form-control" id="slcCatalogo">
                                            <option value="0">Todos</option>
                                            <option th:each="catalogo : ${catalogos}" th:value="${catalogo.idCatalogo}" th:text="${catalogo.nombreCatalogo}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridParticipantes" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nro. Documento</th>
                                        <th>Catalogo</th>
                                        <th>Nombres</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Email</th>
                                        <th>Telefono</th>
                                        <th>Movil</th>
                                        <th>Fecha registro</th>
                                        <th>Puntos disponibles</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/participantes.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var participantes = new Participantes('[[@{/}]]');
            participantes.init();
        });
    </script>
</div>

</body>
</html>