<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | ' + ${objParticipante.idParticipante == null ? 'Registro de participante' : 'Detalle de participante'}, menu='G. Participantes', hijo='Participantes'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <!--/*@thymesVar id="objParticipante" type="Participante"*/-->

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de participantes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/participantes}">G. Participantes</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong th:text="${objParticipante.idParticipante == null ? 'Registro de participante' : 'Detalle de participante'}"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Datos personales</h5>
                        <div class="ibox-tools ibox-tools-button">

                        </div>
                    </div>

                    <div class="ibox-content">


                        <input type="hidden" th:value="${objParticipante.idParticipante}" value="" id="idParticipante" />

                        <form role="form" class="" id="form-registro" onsubmit="return false;">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6 b-r">

<!--                                        <div class="form-group row">-->
<!--                                            <label for="tipoDocumento" class="col-sm-3 col-form-label">Tipo documento</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <select id="tipoDocumento" class="form-control" name="tipoDocumento" th:if="${objParticipante.idParticipante == null}">-->
<!--                                                    <th:block th:each="tDoc : ${tipoDocumentos}">-->
<!--                                                        <option value="">Seleccionar</option>-->
<!--                                                        <option th:value="${tDoc.idTipoDocumento}" th:text="${tDoc.nombreTipoDocumento}"></option>-->
<!--                                                    </th:block>-->
<!--                                                </select>-->

<!--                                                <span th:unless="${objParticipante.idParticipante == null}" th:text="${objParticipante.tipoDocumento.nombreTipoDocumento}" style="line-height: 30px; font-weight: bold"></span>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="hr-line-dashed"></div>-->

                                        <div class="form-group row">
                                            <label for="nroDocumento" class="col-sm-3 col-form-label">Nro. documento</label>
                                            <div class="col-sm-9">
                                                <input th:if="${objParticipante.idParticipante == null}" type="text"class="form-control" name="nroDocumento" id="nroDocumento" th:value="${objParticipante.nroDocumento}" value="" placeholder="">
                                                <span th:unless="${objParticipante.idParticipante == null}" th:text="${objParticipante.nroDocumento}" style="line-height: 30px; font-weight: bold"></span>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="nombresParticipante" class="col-sm-3 col-form-label">Nombres</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="nombresParticipante" id="nombresParticipante" th:value="${objParticipante.nombresParticipante}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="appaternoParticipante" class="col-sm-3 col-form-label">Apellido Paterno</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="appaternoParticipante" id="appaternoParticipante" th:value="${objParticipante.appaternoParticipante}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="apmaternoParticipante" class="col-sm-3 col-form-label">Apellido Materno</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="apmaternoParticipante" id="apmaternoParticipante" th:value="${objParticipante.apmaternoParticipante}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="emailParticipante" class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="emailParticipante" id="emailParticipante" th:value="${objParticipante.emailParticipante}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="telefonoParticipante" class="col-sm-3 col-form-label">Telefono Fijo</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="telefonoParticipante" id="telefonoParticipante" th:value="${objParticipante.telefonoParticipante}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="movilParticipante" class="col-sm-3 col-form-label">Telefono Movil</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="movilParticipante" id="movilParticipante" th:value="${objParticipante.movilParticipante}" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="ciudad" class="col-sm-3 col-form-label">Ciudad</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="ciudad" id="ciudad" th:value="${objParticipante.ciudad}" value="" placeholder="">
                                            </div>
                                        </div>

<!--                                        <div class="hr-line-dashed"></div>-->

                                    </div>

                                    <div class="col-sm-6">

<!--                                        <div class="form-group row">-->
<!--                                            <label for="cliente" class="col-sm-3 col-form-label">Cliente</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <input type="text"class="form-control" name="cliente" id="cliente" th:value="${objParticipante.cliente}" value="" placeholder="">-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="form-group row">
                                            <label for="regional" class="col-sm-3 col-form-label">Regional</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="regional" name="regional" style="width: 100%">
                                                    <option value="">Seleccionar</option>
                                                    <!--/*@thymesVar id="regionales" type="java.util.List<Regional>"*/-->
                                                    <option th:each="regional : ${regionales}"
                                                            th:selected="${objParticipante.idParticipante != null ? (objParticipante.regional.idRegional == regional.idRegional ? true : false): false}"
                                                            th:value="${regional.idRegional}"
                                                            th:text="${regional.nombreRegional}"
                                                            value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="slcBroker" class="col-sm-3 col-form-label">Broker</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="slcBroker" name="slcBroker" style="width: 100%">
                                                    <option value="">Seleccionar</option>
                                                    <!--/*@thymesVar id="brokers" type="java.util.List<Broker>"*/-->
                                                    <option th:each="broker : ${brokers}"
                                                            th:selected="${objParticipante.idParticipante != null ? (objParticipante.broker.idBroker == broker.idBroker ? true : false): false}"
                                                            th:value="${broker.idBroker}"
                                                            th:text="${broker.nombreBroker}"
                                                            value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="fechaNacimiento" class="col-sm-3 col-form-label">Fecha de nacimiento</label>
                                            <div class="col-sm-9">

                                                <div class="input-group date">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input type="text" class="form-control datepicker" id="fechaNacimiento" name="fechaNacimiento" th:value="${#dates.format(objParticipante.fechaNacimiento, 'dd-MM-yyyy')}" value="">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="slcCatalogos" class="col-sm-3 col-form-label">Catalogo</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="slcCatalogos" name="slcCatalogos" style="width: 100%">
                                                    <option value="">Seleccionar</option>
                                                    <!--/*@thymesVar id="catalogos" type="java.util.List<Catalogo>"*/-->
                                                    <option th:each="catalogo : ${catalogos}"
                                                            th:selected="${objParticipante.idParticipante != null ? (objParticipante.catalogo.idCatalogo == catalogo.idCatalogo ? true : false): false}"
                                                            th:value="${catalogo.idCatalogo}"
                                                            th:text="${catalogo.nombreCatalogo}"
                                                            value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="slcRegion" class="col-sm-3 col-form-label">Region</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="slcRegion" name="slcRegion" style="width: 100%">
                                                    <option value="">Seleccionar</option>
                                                    <!--/*@thymesVar id="regiones" type="java.util.List<Region>"*/-->
                                                    <option th:each="region : ${regiones}"
                                                            th:selected="${objParticipante.idParticipante != null ? (objParticipante.region.idRegion == region.idRegion ? true : false): false}"
                                                            th:value="${region.idRegion}"
                                                            th:text="${region.nombreRegion}"
                                                            value=""></option>
                                                </select>
                                            </div>
                                        </div>

<!--                                        <div class="hr-line-dashed"></div>-->

<!--                                        <div class="form-group row">-->
<!--                                            <label for="slcCategoriaPart" class="col-sm-3 col-form-label">Categoria Participante</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <select class="form-control" id="slcCategoriaPart" name="slcCategoriaPart" style="width: 100%">-->
<!--                                                    <option value="">Seleccionar</option>-->
<!--                                                    &lt;!&ndash;/*@thymesVar id="tiposParticipantes" type="java.util.List<TipoCliente>"*/&ndash;&gt;-->
<!--                                                    <option th:each="catParticipante : ${categoriaParticipante}"-->
<!--                                                            th:selected="${objParticipante.idParticipante != null ? (objParticipante.idCategoriaParticipante == catParticipante.idCategoriaParticipante ? true : false): false}"-->
<!--                                                            th:value="${catParticipante.idCategoriaParticipante}"-->
<!--                                                            th:text="${catParticipante.nombreCategoriaParticipante}"-->
<!--                                                            value=""></option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Genero</label>
                                            <div class="col-sm-9 padding-form-flat">

                                                <div class="radio" style="padding-left: 0">
                                                    <input type="radio" name="rbtGenero" id="rbtGeneroM" value="M" th:checked="${objParticipante.idParticipante != null ? (objParticipante.genero == 'M' ? true : false): true}">
                                                    <label for="rbtGeneroM">
                                                        Masculino
                                                    </label>
                                                </div>
                                                <div class="radio" style="padding-left: 0">
                                                    <input type="radio" name="rbtGenero" id="rbtGeneroF" value="F" th:checked="${objParticipante.idParticipante != null ? (objParticipante.genero == 'F' ? true : false): false}">
                                                    <label for="rbtGeneroF">
                                                        Femenino
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="chkEstadoParticipante" class="col-sm-3 col-form-label">Estado Participante</label>
                                            <div class="col-sm-9 padding-form-flat">
                                                <div class="switch">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" class="onoffswitch-checkbox" id="chkEstadoParticipante" th:checked="${objParticipante.idParticipante != null ? (objParticipante.estadoParticipante == 1 ? true : false): true}" name="chkEstado">
                                                        <label class="onoffswitch-label" for="chkEstadoParticipante">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group row">
                                    <div class="col-sm-4 col-sm-offset-2" >
                                        <a th:href="@{/participantes}" class="btn btn-white">Cancelar</a>
                                        <button class="btn btn-primary" id="btnGuardar">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/participantes-detalle.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var participantesDetalle = new ParticipantesDetalle('[[@{/}]]', '[[${objParticipante.idParticipante == null ? "1" : "0"}]]');
            participantesDetalle.init();
        });
    </script>
</div>

</body>
</html>