<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Carga de pdf', menu='G. Productos', hijo='Carga de pdf'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Carga de pdf</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/catalogos/productos}">G. Productos</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Carga de pdf</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">

            <div class="col-xs-12 col-md-4">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Informacion</h5>
                        <div class="ibox-tools ibox-tools-button">

                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="form-group">
                            <label for="slcTipoArchivo">Tipo de archivo</label>
                            <select class="form-control" name="slcTipoArchivo" id="slcTipoArchivo">
                                <option value="0">Seleccionar</option>
                                <option value="1">PDF</option>
                                <option value="2">Comprimido</option>
                            </select>
                        </div>

                        <div id="divRestricciones"></div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-8">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Carga</h5>
                        <div class="ibox-tools ibox-tools-button">

                        </div>
                    </div>

                    <div class="ibox-content">
                        <input id="archivo" name="pdfFile" type="file">
                        <div class="error-pdf" style="color: red"></div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2" >
                                <button class="btn btn-white" id="btnLimpiar"><i class="fa fa-ban"></i> Limpiar</button>
                                <button class="btn btn-primary" id="btnCargar"><i class="fa fa-upload"></i> Subir archivo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <div class="modal inmodal" id="modalResumenCarga" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY" id="contentResumenCarga">

            </div>
        </div>
    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/pdf-carga.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var pdfCarga = new PdfCarga('[[@{/}]]');
            pdfCarga.init();
        });
    </script>
</div>

</body>
</html>