<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Editar Popup', menu='Administracion', hijo='Popups'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <!--/*@thymesVar id="objCatalogo" type="Catalogo"*/-->

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de Popups</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/administracion/popups-web}">Popups web</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong th:text="${'Editar Popup del Catalogo: '+ objSegmento.idCatalogo}"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="tabs-container">

                    <div class="">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active show" data-toggle="tab" href="#tab-imagenes" id="tabImagenes">Actualizacion de popup</a></li>
                        </ul>
                        <div class="tab-content ">

                            <div id="tab-imagenes" class="tab-pane active show">
                                <div class="panel-body">
                                    <div class="ibox">
<!--                                        <div class="ibox-title">-->
<!--                                            <h5>Imagen popup</h5>-->
<!--                                            <div class="ibox-tools ibox-tools-button">-->

<!--                                            </div>-->
<!--                                        </div>-->

                                        <input type="hidden" th:value="${objSegmento.idCatalogo}" value="" id="idCatalogo" />

                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div><label for="">Cat&aacute;logo</label></div>
                                                    <div class="col-sm-9">
                                                        <input type="text"class="form-control" name="codigoWeb" id="codigoWeb" th:value="${objSegmento.nombreCatalogo}" value="" placeholder="" readonly="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div><label for="">Imagen</label></div>
                                                    <div class="kv-avatar">
                                                        <div class="file-loading">
                                                            <input id="popupImagen" name="popupImagen" type="file"
                                                                   th:attr="
                                                                    data-uri=${objSegmento.idCatalogo != null && objSegmento.popupInicio != null ? @resources.web('img/'.concat(objSegmento.popupInicio)) : @resources.web('img/productos/imagen_defecto.png')},
                                                                    data-default=${@resources.web('img/productos/imagen_defecto.png')}
                                                                    ">
                                                        </div>
                                                    </div>
                                                    <div id="principalError" class="center-block"></div>
                                                </div>
                                            </div>

                                            <th:block th:if="${objSegmento.idCatalogo != null}">
                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group row">
                                                    <div class="col-sm-12" style="text-align: right">
                                                        <button class="btn btn-primary" id="btnGuardarImagen">Cargar Imagenes</button>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/popup-web-editar.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var popupEditar = new PopupEditar('[[@{/}]]');
            popupEditar.init();
        });
    </script>
</div>

</body>
</html>