<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | ' + ${objProducto.idProducto== null ? 'Registro de producto' : 'Detalle de producto'}, menu='G. Productos', hijo='Productos'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <!--/*@thymesVar id="objProducto" type="Producto"*/-->

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de marcas</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/catalogos/productos}">G. Productos</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong th:text="${objProducto.idProducto == null ? 'Registro de producto' : 'Detalle de producto'}"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="tabs-container">

                    <div class="">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active show" data-toggle="tab" href="#tab-info" id="tabProducto"> Producto</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-imagenes" id="tabImagenes">Imagenes</a></li>
                            <li><a  th:style="${objProducto.tipoProducto.idTipoProducto == 8} ? 'display: block;' : 'display: none;'" class="nav-link" data-toggle="tab" href="#tab-pdf" id="tabPdf">PDF ADEN</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-catalogo" id="tabCatalogos">Catalogos</a></li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-info" class="tab-pane active show">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h5>Informacion de Producto</h5>
                                            <div class="ibox-tools ibox-tools-button">

                                            </div>
                                        </div>

                                        <div class="ibox-content">


                                            <input type="hidden" th:value="${objProducto.idProducto}" value="" id="idProducto" />


                                            <form role="form" class="" id="formProducto" onsubmit="return false;">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-6 b-r">


                                                            <div class="form-group row">
                                                                <label for="codigoWeb" class="col-sm-3 col-form-label">Codigo Web</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="codigoWeb" id="codigoWeb" th:value="${objProducto.codigoWeb}" value="" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="nombreProducto" class="col-sm-3 col-form-label">Nombre Producto</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="nombreProducto" id="nombreProducto" th:value="${objProducto.nombreProducto}" value="" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="descripcionProducto" class="col-sm-3 col-form-label">Descripcion Producto</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="descripcionProducto" id="descripcionProducto" th:value="${objProducto.descripcionProducto}" value="" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="puntosProducto" class="col-sm-3 col-form-label">Puntos Producto</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="puntosProducto" id="puntosProducto" th:value="${objProducto.puntosProducto}" value="" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="puntosRegular" class="col-sm-3 col-form-label">Puntos Normal</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="puntosRegular" id="puntosRegular" th:value="${objProducto.puntosRegular}" value="" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="precioProducto" class="col-sm-3 col-form-label">Precio Producto</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="precioProducto" id="precioProducto" th:value="${objProducto.precioProducto}" value="" placeholder="">
                                                                </div>
                                                            </div>



                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="idNetsuite" class="col-sm-3 col-form-label">ID Netsuite</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="idNetsuite" id="idNetsuite" th:value="${objProducto.idNetsuite}" value="" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="stockProducto" class="col-sm-3 col-form-label">Stock Producto</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="stockProducto" id="stockProducto" th:value="${objProducto.idProducto != null ? (objProducto.stockProducto == -1 ? 'Ilimitado' : objProducto.stockProducto) : ''}" value="" th:attr="disabled=${objProducto.idProducto != null ? (objProducto.stockProducto == -1 ? true : false) : false}" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="chkIlimitadoProducto" class="col-sm-3 col-form-label">Stock ilimitado</label>
                                                                <div class="col-sm-9 padding-form-flat">
                                                                    <div class="switch">
                                                                        <div class="onoffswitch">
                                                                            <input type="checkbox" class="onoffswitch-checkbox" id="chkIlimitadoProducto" name="chkIlimitadoProducto" th:checked="${objProducto.idProducto != null ? (objProducto.stockProducto == -1 ? true : false) : false}">
                                                                            <label class="onoffswitch-label" for="chkIlimitadoProducto">
                                                                                <span class="onoffswitch-inner"></span>
                                                                                <span class="onoffswitch-switch"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-6">

                                                            <div class="form-group row">
                                                                <label for="tipoProducto" class="col-sm-3 col-form-label">Tipo de producto</label>
                                                                <div class="col-sm-9">
                                                                    <select class="form-control" name="tipoProducto" id="tipoProducto">
                                                                        <option value="" th:if="${objProducto.idProducto == null}">Seleccionar</option>
                                                                        <option th:value="1" th:selected="${objProducto.idProducto != null && objProducto.tipoProducto.idTipoProducto == 1}">Producto Regular</option>
                                                                        <option th:value="2" th:selected="${objProducto.idProducto != null && objProducto.tipoProducto.idTipoProducto == 2}">Producto Primax</option>
                                                                        <option th:value="3" th:selected="${objProducto.idProducto != null && objProducto.tipoProducto.idTipoProducto == 3}">Recarga movil</option>
                                                                        <option th:value="4" th:selected="${objProducto.idProducto != null && objProducto.tipoProducto.idTipoProducto == 4}">Recarga TV</option>
                                                                        <option th:value="5" th:selected="${objProducto.idProducto != null && objProducto.tipoProducto.idTipoProducto == 5}">Producto con colores</option>
                                                                        <option th:value="7" th:selected="${objProducto.idProducto != null && objProducto.tipoProducto.idTipoProducto == 7}">Producto correo</option>
                                                                        <option th:value="8" th:selected="${objProducto.idProducto != null && objProducto.tipoProducto.idTipoProducto == 8}">Producto Aden</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="marcaProducto" class="col-sm-3 col-form-label">Marca</label>
                                                                <div class="col-sm-9">
                                                                    <!--/*@thymesVar id="marcaslist" type="java.util.List<Marca>"*/-->
                                                                    <select class="form-control" name="marcaProducto" id="marcaProducto">
                                                                        <option value="" th:if="${objProducto.idProducto == null}">Seleccionar</option>
                                                                        <option th:each="marca : ${marcasList}" th:value="${marca.idMarca}" th:text="${marca.nombreMarca}" th:selected="${objProducto.idProducto != null && marca.idMarca == objProducto.marca.idMarca}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="categoriaProducto" class="col-sm-3 col-form-label">Categoria</label>
                                                                <div class="col-sm-9">
                                                                    <!--/*@thymesVar id="categoriaslist" type="java.util.List<Categoria>"*/-->
                                                                    <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                                                        <option value="" th:if="${objProducto.idProducto == null}">Seleccionar</option>
                                                                        <optgroup th:each="categoria : ${categoriaslist}" label="" th:label="${categoria.nombreCategoria}">
                                                                            <option th:each="subcategoria : ${categoria.categoriasHijas}" value="" th:value="${subcategoria.idCategoria}" th:text="${subcategoria.nombreCategoria}" th:selected="${objProducto.idProducto != null && subcategoria.idCategoria == objProducto.categoria.idCategoria}"></option>
                                                                        </optgroup>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="" class="col-sm-3 col-form-label">Especificaciones Producto</label>
                                                                <div class="col-sm-9">
                                                                    <div class="input-group" style="margin-bottom: 10px" th:if="${objProducto.especificacionesProducto != null && objProducto.especificacionesProducto != ''}" th:each="data, status : ${#strings.arraySplit(objProducto.especificacionesProducto, '|')}">
                                                                        <input type="text" class="form-control especificacionesProducto" th:value="${data}">
                                                                        <span class="input-group-append">
                                                                            <button type="button" th:class="|width-button-input btn btn-${status.first ? 'primary btnAdd' : 'danger btnRemove'}|" data-class="especificacionesProducto">
                                                                                <i th:class="|fa fa-${status.first ? 'plus' : 'minus'}|"></i> <span th:remove="tag" th:text="${status.first} ? 'Agregar' : 'Borrar'"></span>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                    <div class="input-group" th:unless="${objProducto.especificacionesProducto != null && objProducto.especificacionesProducto != ''}">
                                                                        <input type="text" class="form-control especificacionesProducto">
                                                                        <span class="input-group-append">
                                                                            <button type="button" class="width-button-input btn btn-primary btnAdd" data-class="especificacionesProducto"><i class="fa fa-plus"></i> Agregar</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="" class="col-sm-3 col-form-label">Terminos Producto</label>
                                                                <div class="col-sm-9">
                                                                    <div class="input-group margin-bottom-input" th:if="${objProducto.terminosProducto != null && objProducto.terminosProducto != ''}" th:each="data, status : ${#strings.arraySplit(objProducto.terminosProducto, '|')}">
                                                                        <input type="text" class="form-control terminosProducto" th:value="${data}">
                                                                        <span class="input-group-append">
                                                                            <button type="button" th:class="|width-button-input btn btn-${status.first ? 'primary btnAdd' : 'danger btnRemove'}|" data-class="terminosProducto">
                                                                                <i th:class="|fa fa-${status.first ? 'plus' : 'minus'}|"></i> <span th:remove="tag" th:text="${status.first} ? 'Agregar' : 'Borrar'"></span>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                    <div class="input-group margin-bottom-input" th:unless="${objProducto.terminosProducto != null && objProducto.terminosProducto != ''}">
                                                                        <input type="text" class="form-control terminosProducto">
                                                                        <span class="input-group-append">
                                                                            <button type="button" class="width-button-input btn btn-primary btnAdd" data-class="terminosProducto"><i class="fa fa-plus"></i> Agregar</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="" class="col-sm-3 col-form-label">Tags Producto</label>
                                                                <div class="col-sm-9">
                                                                    <div class="input-group" style="margin-bottom: 10px" th:if="${objProducto.tags != null}" th:each="data, status : ${#strings.arraySplit(objProducto.tags, ',')}">
                                                                        <input type="text" class="form-control tagsProducto" th:value="${data}">
                                                                        <span class="input-group-append">
                                                                            <button type="button" th:class="|width-button-input btn btn-${status.first ? 'primary btnAdd' : 'danger btnRemove'}|" data-class="tagsProducto">
                                                                                <i th:class="|fa fa-${status.first ? 'plus' : 'minus'}|"></i> <span th:remove="tag" th:text="${status.first} ? 'Agregar' : 'Borrar'"></span>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                    <div class="input-group" th:if="${objProducto.tags == null || objProducto.tags==''}">
                                                                        <input type="text" class="form-control tagsProducto">
                                                                        <span class="input-group-append">
                                                                            <button type="button" class="width-button-input btn btn-primary btnAdd" data-class="tagsProducto"><i class="fa fa-plus"></i> Agregar</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="" class="col-sm-3 col-form-label">Tipo de Etiqueta</label>
                                                                <div class="col-sm-9">
                                                                    <select class="form-control" name="tagProducto" id="tagProducto">
                                                                        <option value="" th:if="${objProducto.idProducto == null}">Seleccionar</option>
                                                                        <option th:each="tag : ${tagsList}" th:value="${tag.idTagProducto}" th:text="${tag.descripcionTagProducto}" th:selected="${objProducto.idProducto != null && tag.idTagProducto == objProducto.tagProducto.idTagProducto}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="hr-line-dashed"></div>

                                                            <div class="form-group row">
                                                                <label for="nombreTag" class="col-sm-3 col-form-label">Etiqueta Libre</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text"class="form-control" name="nombreTag" id="nombreTag" th:value="${objProducto.nombreTag}" value="" placeholder="">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="chkExpress" class="col-sm-3 col-form-label">Imágen Envío Express</label>
                                                                <div class="col-sm-9 padding-form-flat">
                                                                    <div class="switch">
                                                                        <div class="onoffswitch">
                                                                            <input type="checkbox" class="onoffswitch-checkbox" id="chkExpress" name="chkExpress" th:checked="${objProducto.idProducto != null ? (objProducto.imagenEnvioExpress == 1 ? true : false) : false}">
                                                                            <label class="onoffswitch-label" for="chkExpress">
                                                                                <span class="onoffswitch-inner"></span>
                                                                                <span class="onoffswitch-switch"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <th:block th:if="${objProducto.idProducto != null}">
                                                        <div class="hr-line-dashed"></div>

                                                        <div class="form-group row">
                                                            <div class="col-sm-12" style="text-align: right">
                                                                <a th:href="@{/catalogos/productos}" class="btn btn-white">Cancelar</a>
                                                                <button class="btn btn-primary" id="btnGuardarInfo">Guardar Informacion</button>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="tab-imagenes" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h5>Imagenes</h5>
                                            <div class="ibox-tools ibox-tools-button">

                                            </div>
                                        </div>

                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div><label for="">Imagen Principal</label></div>
                                                    <div class="kv-avatar">
                                                        <div class="file-loading">
                                                            <input id="imagenPrincipal" name="imagenPrincipal" type="file"
                                                                   th:attr="
                                                                    data-uri=${objProducto.idProducto != null && objProducto.imagenUno != null ? @resources.web('img/productos/'.concat(objProducto.imagenUno)) : @resources.web('img/productos/imagen_defecto.png')},
                                                                    data-default=${@resources.web('img/productos/imagen_defecto.png')}
                                                                    ">
                                                        </div>
                                                    </div>
                                                    <div id="principalError" class="center-block"></div>
                                                </div>

                                                <div class="col-xs-12 col-sm-6">
                                                    <div><label for="">Imagen Detalle</label></div>
                                                    <div class="kv-avatar">
                                                        <div class="file-loading">
                                                            <input id="imagenDetalle" name="imagenDetalle" type="file"
                                                                   th:attr="
                                                                    data-uri=${objProducto.idProducto != null && objProducto.imagenDetalle != null ? @resources.web('img/productos/'.concat(objProducto.imagenDetalle)) : @resources.web('img/productos/imagen_detalle_defecto.png')},
                                                                    data-default=${@resources.web('img/productos/imagen_detalle_defecto.png')}
                                                                    ">
                                                        </div>
                                                    </div>
                                                    <div id="detalleError" class="center-block"></div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div><label for="">Imagen Principal App</label></div>
                                                    <div class="kv-avatar">
                                                        <div class="file-loading">
                                                            <input id="imagenPrincipalApp" name="imagenPrincipalApp" type="file"
                                                                   th:attr="
                                                                    data-uri=${objProducto.idProducto != null && objProducto.imagenMovil != null ? @resources.root('mobile/general/producto/'.concat(objProducto.imagenMovil)) : @resources.web('img/productos/imagen_defecto.png')},
                                                                    data-default=${@resources.web('img/productos/imagen_defecto.png')}
                                                                    ">
                                                        </div>
                                                    </div>
                                                    <div id="principalErrorApp" class="center-block"></div>
                                                </div>

                                                <div class="col-xs-12 col-sm-6">
                                                    <div><label for="">Imagen Detalle App</label></div>
                                                    <div class="kv-avatar">
                                                        <div class="file-loading">
                                                            <input id="imagenDetalleApp" name="imagenDetalleApp" type="file"
                                                                   th:attr="
                                                                    data-uri=${objProducto.idProducto != null && objProducto.imagenMovilDetalle != null ? @resources.root('mobile/general/producto/'.concat(objProducto.imagenMovilDetalle)) : @resources.web('img/productos/imagen_detalle_defecto.png')},
                                                                    data-default=${@resources.web('img/productos/imagen_detalle_defecto.png')}
                                                                    ">
                                                        </div>
                                                    </div>
                                                    <div id="detalleErrorApp" class="center-block"></div>
                                                </div>
                                            </div>

                                            <th:block th:if="${objProducto.idProducto != null}">
                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group row">
                                                    <div class="col-sm-12" style="text-align: right">
                                                        <button class="btn btn-primary" id="btnGuardarImagen">Cargar Imagenes</button>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="tab-pdf" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h5>PDF</h5>
                                            <div class="ibox-tools ibox-tools-button">

                                            </div>
                                        </div>

                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div><label for="">PDF ADEN</label></div>
                                                    <div class="kv-avatar">
                                                        <div class="file-loading">
                                                            <input id="pdfAden" name="pdfAden" type="file"
                                                                   th:attr="
                                                                    data-pdf=${objProducto.idProducto != null && objProducto.pdfAden != null ? @resources.web('pdf/'.concat(objProducto.pdfAden)) : @resources.web('pdf/test.pdf')},
                                                                    data-pdf-default=${@resources.web('pdf/test.pdf')}
                                                                    ">
                                                        </div>
                                                    </div>
                                                    <div id="pdfError" class="center-block"></div>
                                                </div>
                                            </div>

                                            <th:block th:if="${objProducto.idProducto != null}">
                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group row">
                                                    <div class="col-sm-12" style="text-align: right">
                                                        <button class="btn btn-primary" id="btnGuardarPDF">Cargar PDF</button>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="tab-catalogo" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h5>Catalogos</h5>
                                            <div class="ibox-tools ibox-tools-button">

                                            </div>
                                        </div>

                                        <div class="ibox-content">
                                            <div class="table-responsive">
                                                <label>Catalogos</label>
                                                <table class="table table-bordered table-hover" id="gridCatalogos" style="width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th>ID Catalogo</th>
                                                        <th>Catalogo</th>
                                                        <th>Stock catalogo</th>
                                                        <th>Accion</th>
                                                        <th>Estado</th>
                                                        <th>Accion</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div style="text-align: right">
                                                <button class="btn btn-primary" id="btnAgregarCatalogo"><i class="fa fa-plus"></i> Agregar Catalogo</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <th:block th:if="${objProducto.idProducto == null}">
                        <div class="panel-body" style="margin: 15px 0 15px 0">
                            <div class="form-group row" style="margin-bottom: 0;">
                                <div class="col-sm-12" style="text-align: center">
                                    <a th:href="@{/catalogos/productos}" class="btn btn-white">Cancelar</a>
                                    <button class="btn btn-primary" id="btnNuevoProducto">Crear producto</button>
                                </div>
                            </div>
                        </div>
                    </th:block>

                </div>

            </div>

        </div>

    </div>

    <div class="modal" id="modalStockProductoCatalogo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Actualizacion Producto Catalogo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form onsubmit="return false;" id="frmStockProductoCatalogo">
                        <input type="hidden" id="idProductoCatalogo">

                        <div class="form-group row">
                            <label for="stockProductoCatalogo" class="col-sm-3 col-form-label">Stock Producto para este catalogo</label>
                            <div class="col-sm-9">
                                <input type="text"class="form-control" name="stockProductoCatalogo" id="stockProductoCatalogo" value="" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="chkIlimitado" class="col-sm-3 col-form-label">Stock ilimitado</label>
                            <div class="col-sm-9 padding-form-flat">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="chkIlimitado" name="chkIlimitado">
                                        <label class="onoffswitch-label" for="chkIlimitado">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnActualizarStock">Actualizar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="modalCatalogo" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Catalogo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form onsubmit="return false;" id="frmCatalogo">

                        <div class="form-group row">
                            <label for="slcCatalogo" class="col-sm-3 col-form-label">Catalogo</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="slcCatalogo" name="slcCatalogo">
                                    <!--/*@thymesVar id="catalogosList" type="java.util.List<Catalogo>"*/-->
                                    <option th:each="catalogo : ${catalogosList}" th:value="${catalogo.idCatalogo}" th:text="${catalogo.nombreCatalogo}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="stockCatalogo" class="col-sm-3 col-form-label">Stock para este catalogo</label>
                            <div class="col-sm-9">
                                <input type="text"class="form-control" name="stockCatalogo" id="stockCatalogo" value="" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="chkIlimitadoCatalogo" class="col-sm-3 col-form-label">Stock ilimitado</label>
                            <div class="col-sm-9 padding-form-flat">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="chkIlimitadoCatalogo" name="chkIlimitadoCatalogo">
                                        <label class="onoffswitch-label" for="chkIlimitadoCatalogo">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnModalAgregarCatalogo">Agregar Catalogo</button>
                </div>

            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/productos-detalle.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var productosDetalle = new ProductosDetalle('[[@{/}]]', '[[${objProducto.idProducto == null ? "1" : "0"}]]');
            productosDetalle.init();
        });
    </script>
</div>

</body>
</html>
