<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Reporte de ventas', menu='Reportes', hijo='Reporte de ventas'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Reportes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Reporte de ventas</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Reporte de ventas</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" id="btnDescargar" th:attr="data-descarga=@{/reportes/ventas/descargar-excel}" class="btn btn-warning btn-sm"><i class="fa fa-download"></i> Descargar reporte de ventas</button>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="row m-b-sm m-t-sm">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">

                                    <div><label class="font-normal">Selecciona un rango de fecha :</label></div>
                                    <div style="display: flex;flex-flow: wrap;">

                                        <div class="col-xs-12 col-12 col-md-6 input-daterange input-group" id="rangoDatePicker">

                                            <input type="text" class="form-control-sm form-control" name="start" value="" id="fechaInicio" th:with="fecha=${#dates.createNow()}" th:value="${#dates.format(@utils.addMonth(fecha, -1), 'dd/MM/yyyy')}"/>

                                            <span class="input-group-addon form-control-span">a</span>

                                            <input type="text" class="form-control-sm form-control" name="end" value="" id="fechaFin" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"/>

                                            <button type="button" class="btn btn-primary btn-sm" id="btnFiltrar" style="margin-left: 10px;"><i class="fa fa-filter"></i> Filtrar</button>
                                        </div>
                                        <div id="container-eliminar" style="display: none;" class="col-xs-4 col-4 col-md-4">
                                            <span id="text-eliminar" style="line-height: 2.4; margin-right: 10px">Se seleccionaron: </span>
                                            <button type="button" class="btn btn-danger btn-sm" id="btnBorrar"><i class="fa fa-remove"></i> Eliminar registros</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridVentas" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="clean-checkboxs"></th>
                                        <th>Id Participante</th>
                                        <th>Número de documento</th>
                                        <th>Fecha de Operación</th>
                                        <th>Valor de venta</th>
                                        <th>Descripción</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade show" id="modalBorrarConfirm" role="dialog" aria-hidden="true" style="overflow:hidden">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modalPreguntaContent">
                    ¿Estás seguro de que deseas continuar?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="modalBorrarAceptar" >Aceptar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade show" id="modalEditar" role="dialog" aria-hidden="true" style="overflow:hidden">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Editar</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modalEditarContent">
                    <div class="col-sm-12">

                        <div class="row">
                            <div class="col-sm-12">
                                <div><label for="">Número de Documento</label></div>
                                <div class="kv-avatar">
                                    <input type="text" class="form-control" id="inptNroDoc"   value="" placeholder=""/>
                                </div>
                                <div style="opacity: 1;color: red;font-size: 12px;" id="errorNroDoc"></div>
                            </div>
                        </div>

                        <div class="row pt-4">
                            <div class="col-sm-12">
                                <div><label for="">Fecha de Operación</label></div>
                                <div class="kv-avatar">
                                    <input type="text" class="form-control-sm form-control" name="end" value="" id="inptFechaOperacionEditar" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"/>
                                </div>
                                <div style="opacity: 1;color: red;font-size: 12px;" id="errorFechaOperacionEditar"></div>
                            </div>
                        </div>

                        <div class="row pt-4">
                            <div class="col-sm-12">
                                <div><label for="">Valor de venta</label></div>
                                <div class="kv-avatar">
                                    <input type="text" class="form-control" name="textoBoton" id="inptValorVenta"  value="" placeholder=""/>
                                </div>
                                <div style="opacity: 1;color: red;font-size: 12px;" id="errorValorVenta"></div>
                            </div>
                        </div>

                        <div class="row pt-4">
                            <div class="col-sm-12">
                                <div><label for="">Descripción</label></div>
                                <div class="kv-avatar">
                                    <input type="text" class="form-control" name="textoBoton" id="inptDescripcion"  value="" placeholder=""/>
                                </div>
                                <div style="opacity: 1;color: red;font-size: 12px;" id="errorDescripcion"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="modalEditarAceptar" >Aceptar</button>
                </div>

            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/reporte-ventas.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var reporteVentas = new ReporteVentas('[[@{/}]]');
            reporteVentas.init();
        });
    </script>
</div>

</body>
</html>