<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Reporte de metas', menu='Reportes', hijo='Reporte de Metas'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Reportes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Reporte de metas</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Reporte de metas</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" id="btnDescargar" th:attr="data-descarga=@{/reportes/metas/descargar-excel}" class="btn btn-warning btn-sm"><i class="fa fa-download"></i> Descargar reporte de metas</button>
<!--                            <button type="button" id="btnDescargarDetallado" th:attr="data-descarga=@{/reportes/visitas/descargar-excel-detallado}" class="btn btn-danger btn-sm"><i class="fa fa-download"></i> Descargar detallado</button>-->
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="row m-b-sm m-t-sm">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">

                                    <div><label class="font-normal">Selecciona un rango de fecha :</label></div>
                                    <div style="display: flex;flex-flow: wrap;">
                                        <div class="col-xs-12 col-12 col-md-6 input-daterange input-group" id="rangoDatePicker">

                                            <input type="text" class="form-control-sm form-control" name="start" value="" id="fechaInicio" th:with="fecha=${#dates.createNow()}" th:value="${#dates.format(@utils.addMonth(fecha, -1), 'dd/MM/yyyy')}"/>

                                            <span class="input-group-addon form-control-span">a</span>

                                            <input type="text" class="form-control-sm form-control" name="end" value="" id="fechaFin" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"/>

                                            <button type="button" class="btn btn-primary btn-sm" id="btnFiltrar" style="margin-left: 10px;"><i class="fa fa-filter"></i> Filtrar</button>


                                        </div>
                                        <div id="container-eliminar" style="display: none;" class="col-xs-4 col-4 col-md-4">
                                            <span id="text-eliminar" style="line-height: 2.4; margin-right: 10px">Se seleccionaron: </span>
                                            <button type="button" class="btn btn-danger btn-sm" id="btnBorrar"><i class="fa fa-remove"></i> Eliminar registros</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridVisitas" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="clean-checkboxs"></th>
                                        <th>ID Participante</th>
                                        <th>Número de Documento</th>
                                        <th>Año</th>
                                        <th>Trimestre</th>
                                        <th>Valor de meta</th>
                                        <th>Descripcion</th>
<!--                                        <th>Correo</th>-->
                                        <th>Porcentaje de rebate</th>
                                        <th>Puntos premio</th>
                                        <th>Valor de Pago</th>
                                        <th>Fecha de registro</th>
                                        <th>Accion de Sellout</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade show" id="modalBorrarConfirm" role="dialog" aria-hidden="true" style="overflow:hidden">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modalPreguntaContent">
                    ¿Estás seguro de que deseas continuar?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="modalBorrarAceptar" >Aceptar</button>
                </div>

            </div>
        </div>
    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/reporte-metas.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var reporteMetas = new ReporteMetas('[[@{/}]]');
            reporteMetas.init();
        });
    </script>
</div>

</body>
</html>