<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Reporte Mundial Polla', menu='Mundial', hijo='Polla'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Reportes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Reporte Mundial Polla</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Reporte Mundial Polla</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" id="btnDescargar" th:attr="data-descarga=@{/reportes/mundial-polla/descargar-excel}" class="btn btn-danger btn-sm"><i class="fa fa-download"></i> Descargar reporte</button>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="row m-b-sm m-t-sm">
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">

                                    <label class="font-normal">Busqueda :</label>

                                    <div class="input-daterange input-group">

                                        <input type="text" class="form-control-sm form-control" name="buscarParticipante" id="buscarParticipante" placeholder="Buscar">

                                        <button type="button" class="btn btn-primary btn-sm" id="btnFiltrar" style="margin-left: 10px;"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="grid" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Catalogo</th>
                                        <th>Usuario</th>
                                        <th>Nombres</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Broker</th>
                                        <th>Ciudad</th>
                                        <th>Regional</th>
                                        <th>Estado</th>
                                        <th>Fecha Respuesta</th>
                                        <th>Hora Respuesta</th>
                                        <th>Completado</th>
                                        <th>Grupo A1</th>
                                        <th>Grupo A2</th>
                                        <th>Grupo B1</th>
                                        <th>Grupo B2</th>
                                        <th>Grupo C1</th>
                                        <th>Grupo C2</th>
                                        <th>Grupo D1</th>
                                        <th>Grupo D2</th>
                                        <th>Grupo E1</th>
                                        <th>Grupo E2</th>
                                        <th>Grupo F1</th>
                                        <th>Grupo F2</th>
                                        <th>Grupo G1</th>
                                        <th>Grupo G2</th>
                                        <th>Grupo H1</th>
                                        <th>Grupo H2</th>
                                        <th>1A2B</th>
                                        <th>1B2A</th>
                                        <th>1C2D</th>
                                        <th>1D2C</th>
                                        <th>1E2F</th>
                                        <th>1F2E</th>
                                        <th>1G2H</th>
                                        <th>1H2G</th>
                                        <th>1A2B / 1C2D</th>
                                        <th>1B2A / 1D2C</th>
                                        <th>1E2F / 1G2H</th>
                                        <th>1F2E / 1H2G</th>
                                        <th>1A2B / 1C2D - 1E2F / 1G2H</th>
                                        <th>1B2A / 1D2C - 1F2E / 1H2G</th>
                                        <th>FINAL</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/reporte-mundial-polla.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var reporteMundialPolla = new ReporteMundialPolla('[[@{/}]]');
            reporteMundialPolla.init();
        });
    </script>
</div>

</body>
</html>