<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Reporte categorias visitadas', menu='Reportes', hijo='Categorias mas vistas'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Reportes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Reporte categorias visitadas</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Reporte categorias visitadas</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" id="btnDescargar" th:attr="data-descarga=@{/reportes/categorias-visitadas/descargar-excel}" class="btn btn-danger btn-sm"><i class="fa fa-download"></i> Descargar categorias visitadas</button>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="row m-b-sm m-t-sm">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">

                                    <label class="font-normal">Selecciona un rango de fecha :</label>

                                    <div class="input-daterange input-group" id="rangoDatePicker">

                                        <input type="text" class="form-control-sm form-control" name="start" value="" id="fechaInicio" th:with="fecha=${#dates.createNow()}" th:value="${#dates.format(@utils.addMonth(fecha, -1), 'dd/MM/yyyy')}"/>

                                        <span class="input-group-addon form-control-span">a</span>

                                        <input type="text" class="form-control-sm form-control" name="end" value="" id="fechaFin" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"/>

                                        <button type="button" class="btn btn-primary btn-sm" id="btnFiltrar" style="margin-left: 10px;"><i class="fa fa-filter"></i> Filtrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridCategoriasVisitadas" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Catalogo</th>
                                        <th>Nombre Categoria</th>
                                        <th>Nombre Sub-Categoria</th>
                                        <th>Visitas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/reporte-categorias-visitados.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var reporteCategoriasVisitados = new ReporteCategoriasVisitados('[[@{/}]]');
            reporteCategoriasVisitados.init();
        });
    </script>
</div>

</body>
</html>