<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Gestion de roles', menu='Administracion', hijo='Roles'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion de roles</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Gestion de roles</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Roles</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" th:attr="data-url=@{/administracion/roles/registrar}" class="btn btn-danger btn-sm btnAccion"><i class="fa fa-plus"></i> Nuevo Rol</button>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridRoles" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Menus</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal" id="modalRoles" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Menús activos por Rol</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-bordered table-hover" data-plugin="floatThead" id="gridMenus">
                        <thead>
                        <tr>
                            <th>Menus Activos</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/roles.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var roles = new Roles('[[@{/}]]');
            roles.init();
        });
    </script>
</div>

</body>
</html>