<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Administracion | Gestion usuario de prueba', menu='Administracion', hijo='Usuarios de Prueba'">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Gestion usuario de prueba</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="" th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Gestion usuario de prueba</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Usuarios de prueba</h5>
                        <div class="ibox-tools ibox-tools-button">
                            <button type="button" class="btn btn-danger btn-sm" id="btnModalRegistrar"><i class="fa fa-plus"></i> Nuevo usuario de prueba</button>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">

                                <label class="font-normal">Orden :</label>

                                <div class="form-group">
                                    <select class="form-control" id="slcOrden">
                                        <option value="1">Seleccione</option>
                                        <option value="1">Usuario</option>
                                        <option value="2">Estado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="gridUsuarios" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nro documento</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="modal" id="modalRegistro" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar usuario de prueba</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link tabModal active show" data-toggle="tab" href="#tab-buscar" data-id="1"> Buscar</a></li>
                        <li><a class="nav-link tabModal" data-toggle="tab" href="#tab-nuevo" data-id="2">Nuevo participante</a></li>
                    </ul>

                        <div class="tab-content ">

                            <div id="tab-buscar" class="tab-pane active show">
                                <div class="panel-body">


                                    <form id="formBuscarParticipante" onsubmit="return false">

                                        <div class="form-group row">
                                            <label for="nroDocumentoBuscar" class="col-sm-3 col-form-label">Nro documento</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="nroDocumentoBuscar" id="nroDocumentoBuscar" value="" placeholder="">
                                            </div>
                                        </div>

                                    </form>


                                </div>
                            </div>


                            <div id="tab-nuevo" class="tab-pane">
                                <div class="panel-body">
                                    <form id="formParticipante" onsubmit="return false;">

                                        <div class="form-group row">
                                            <label for="slcCatalogo" class="col-sm-3 col-form-label">Catalogo</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="slcCatalogo" name="slcCatalogo">
                                                    <!--/*@thymesVar id="catalogosList" type="java.util.List<Catalogo>"*/-->
                                                    <option value="">Seleccionar</option>
                                                    <option th:each="catalogo : ${catalogosList}" th:value="${catalogo.idCatalogo}" th:text="${catalogo.nombreCatalogo}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="slcTipoDocumento" class="col-sm-3 col-form-label">Tipo documento</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="slcTipoDocumento" name="slcTipoDocumento">
                                                    <!--/*@thymesVar id="tipoDocumentoList" type="java.util.List<com.promotick.nissan.model.web.TipoDocumento>"*/-->
                                                    <option value="">Seleccionar</option>
                                                    <option th:each="tdoc : ${tipoDocumentoList}" th:value="${tdoc.idTipoDocumento}" th:text="${tdoc.nombreTipoDocumento}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="nroDocumentoRegistro" class="col-sm-3 col-form-label">Nro documento</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="nroDocumentoRegistro" id="nroDocumentoRegistro" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="nombresParticipante" class="col-sm-3 col-form-label">Nombres</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="nombresParticipante" id="nombresParticipante" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="appaternoParticipante" class="col-sm-3 col-form-label">Apellido paterno</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="appaternoParticipante" id="appaternoParticipante" value="" placeholder="">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group row">
                                            <label for="apmaternoParticipante" class="col-sm-3 col-form-label">Apellido materno</label>
                                            <div class="col-sm-9">
                                                <input type="text"class="form-control" name="apmaternoParticipante" id="apmaternoParticipante" value="" placeholder="">
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnModalAceptar">Aceptar</button>
                </div>

            </div>
        </div>
    </div>



    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.admin('js/views/usuarios-prueba.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var usuariosPrueba = new UsuariosPrueba('[[@{/}]]');
            usuariosPrueba.init();
        });
    </script>
</div>

</body>
</html>