<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Aceleradores', menu='Aceleradores'">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content" th:object="${session.participante}">

    <div class="section-title style6 text-center margin-top-40">
        <h3>ACELERADORES</h3>
        <span class="sub-title"></span>

        <div class="row">
            <div class="col-md-12">
                <br>
                <img th:if="${acelerador.imagen != null}"  th:src="${acelerador.imagen}" src="" alt="">
<!--                <img th:if="${session.participante.catalogo.imagenAcelerador != null}"  src="https://promotick.github.io/clubPichincha-v3/images/acceleradores.png" alt="">-->
                <div style="text-align: center;margin-top: 30px" th:if="${session.participante.catalogo.imagenAcelerador == null}">No tenemos campañas en este momento</div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

</th:block>

</body>
</html>