<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header (title='Cambiar contraseña | La Fabril')">
    <title></title>
</head>



<body class="home fondo">
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-12 text-center">
            <img th:src="${@resources.web('img/logos/logo-uno.png')}"  width="270">
            <div class="newsletter style2">
                <h4 class="text-left">Cambiar contraseña:</h4>
                <br>
                <form id="form-cambiar-clave" class="text-left">
                    <div class="form-group">
                        <label for="password">Nueva Contraseña</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="repitePassword">Repite Contraseña</label>
                        <input type="password" class="form-control" name="repitePassword" id="repitePassword">
                    </div>
                    <div class="form-group">
                        <span class="font-bold pwstrength_viewport_verdict"></span>
                        <span class="pwstrength_viewport_progress"></span>
                    </div>
                </form>

                <button class="button style-10" id="btn-aceptar">Cambiar de Contraseña</button>
            </div>
        </div>
    </div>
</div>
</body>


<th:block th:replace="~{fragments/resources :: scripts}"/>

<script th:src="${@resources.web('js/views/cambiar-clave.js', true)}"></script>

<script type="text/javascript">
    $(function() {
        var cambiarClave = new CambiarClave('[[@{/}]]', '[[${token}]]');
        cambiarClave.init();
    });
</script>

</html>
