<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Capacitaciones', menu='Capacitaciones'">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="container margin-bottom-50">
        <div class="section-title style6  margin-top-40">
            <div class="breadcrumbs">
                <a href="" th:href="@{/capacitacion/{id}(id=${capacitacion.idCapacitacion})}"><span class="lnr lnr-arrow-left"></span> [[${capacitacion.nombreCapacitacion}]]</a>
                <span>Cuestionario</span>
            </div>
        </div>
        <h3>Cuestionario</h3>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="accordeon">

                    <div class="accordeon-entry">
                        <div class="article-container style-1">

                                <div th:remove="tag" th:each="pregunta : ${capacitacion.preguntas}">
                                    <div class="col-md-6">
                                        <p th:text="|${pregunta.posicion}. ${pregunta.pregunta}|"></p>
                                        <div class="col-md-12 pregunta" style="margin-bottom: 30px">
                                            <div th:remove="tag">
                                                <ul>
                                                    <li th:each="respuesta : ${pregunta.respuestas}" th:class="${respuesta.esCorrecta ? 'capacitacion-respuesta-correcto' : ''}">[[${respuesta.respuesta}]]
                                                    <span th:if="${respuesta.detalleResuelto != null && respuesta.detalleResuelto.idCapacitacionParticipanteDetalle != null}">
                                                        <i class="fa fa-check" th:if="${respuesta.detalleResuelto.esCorrecta}"></i>
                                                        <i class="fa fa-times" th:unless="${respuesta.detalleResuelto.esCorrecta}"></i>
                                                    </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <h3>Resumen</h3>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>Cantidad de preguntas: [[${capacitacionParticipante.cantidadPreguntas}]]</p>
                <p>Preguntas correctas: [[${capacitacionParticipante.cantidadCorrectas}]]</p>
                <p>Preguntas erroneas: [[${capacitacionParticipante.cantidadErroneas}]]</p>
                <p>Calificacion: [[${capacitacionParticipante.calificacion}]]</p>
                <p>Aprobado: [[${capacitacionParticipante.aprobado ? 'SI' : 'NO'}]]</p>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments/resources :: scripts}"/>

</th:block>

</body>
</html>