<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Capacitaciones', menu='Capacitaciones'">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="container margin-bottom-50">
        <div class="section-title style6 text-center margin-top-40">
            <h3>CAPACITACIONES</h3>
            <span class="sub-title"></span>
        </div>
        <div class="row">
            <div th:if="${capacitaciones.isEmpty()}" class="col-md-12" style="padding: 30px; text-align: center">
                <span>No tenemos capacitaciones disponibles en este momento</span>
            </div>
            <div th:unless="${capacitaciones.isEmpty()}" class="col-md-3" th:each="capacitacion : ${capacitaciones}">
                <img src="" alt="" th:src="${capacitacion.imagenUno}">
                <p class="e-tittle"><a href="" th:href="@{/capacitacion/{id}(id=${capacitacion.idCapacitacion})}" th:text="${capacitacion.nombreCapacitacion}"></a></p>
                <p>Disponible hasta: [[${capacitacion.disponibleHasta}]]</p>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

</th:block>

</body>
</html>