<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Productos', menu='Catalogo'">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
    <!-- Home slide -->

<!--    <th:block th:if="${buscar == null || buscar == ''}">-->
<!--        <div class="home-slide3 owl-carousel nav-style3 nav-center-center" data-animateout="fadeOut" data-animatein="fadeIn" data-items="1" data-nav="true" data-dots="false" data-loop="true" data-autoplay="true">-->
<!--            &lt;!&ndash;/*@thymesVar id="bannerCategorias" type="java.util.List<com.promotick.nissan.model.configuracion.ConfiguracionBanner>"*/&ndash;&gt;-->
<!--            <div class="item" th:each="banner : ${bannerCategorias}">-->
<!--                <a th:href="@{/__${banner.urlBoton}__}" href=""><img th:src="${@resources.web('img/bg/').concat(banner.imagenBanner)}" src="" alt="" /></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </th:block>-->

    <div class="slider-container">
        <div class="slider">
            <div class="slide" th:each="banner : ${bannerCategorias}">
                <a th:href="@{/__${banner.urlBoton}__}" href=""><img th:src="${banner.imagenBanner}" src="" alt="" /></a>
            </div>
        </div>

        <!-- Puntos de navegación -->
        <div class="dots-container">
            <span class="dot" th:each="banner, iterStat : ${bannerCategorias}" th:onclick="|goToSlide(${iterStat.index})|"></span>
        </div>

        <!-- Botones de navegación -->
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>

    <div class="container">
        <div class="margin-top-55">
            <div class="container catalogo">
                <div class="tab-product tab-product-fade-effect">
                    <th:block th:if="${buscar == null || buscar == ''}">
                        <ul id="tabs-productos" class="box-tabs nav-tab">
                            <!--th:class="${categoriaStat.index == 0 ? 'active' : ''}"-->
                            <li th:each="categoria : ${categorias}" th:id="'tab-cat-' + ${categoria.idCategoria}"
                                th:attr="data-id-categoria-parent=${categoria.idCategoria} , data-tab=${categoriaStat.index}">
                                <a data-animated='fadeInUp' data-toggle="tab" th:href="'#tab-' + ${categoriaStat.index}"
                                   th:text="${categoria.nombreCategoria}"></a>
                            </li>
                        </ul>
                    </th:block>

                    <div class="tab-content">
                        <div id="tabs-containers" class="tab-container">
                            <th:block th:if="${buscar == null || buscar == ''}">
                                <div th:each="categoria : ${categorias}" th:id="'tab-'+${categoriaStat.index}"
                                     th:attr="data-id-tab=${categoriaStat.index}"
                                     th:class="'tab-panel ' + ${categoriaStat.index == 0 ? 'active' : ''}">
                                    <!--class="tab-panel">-->
                                    <div class="margin-top-30 widget widget_product_tag_cloud">
                                        <div th:id="'div-subcategorias-'+${categoriaStat.index}" class="tagcloud">
                                            <a th:each="subcategoria : ${categoria.categoriasHijas}"
                                               th:id="'sub-cat-' + ${subcategoria.idCategoria}" th:text="${subcategoria.nombreCategoria}"
                                               th:attr="data-id-categoria=${subcategoria.idCategoria}, data-index-categoria=${subcategoriaStat.index}"
                                               class="subcategoria"
                                               style="cursor: pointer"></a>
                                            <!--th:class="'subcategoria ' + ${subcategoriaStat.index == 0 ? 'activo' : ''}"-->
                                            <!--th:href="@{/__${subcategoria.url}__}"-->
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <div class="main-content">
                                <div class="row margin-bottom-30">
                                    <br th:unless="${buscarResultado != null}">
                                    <br th:unless="${buscarResultado != null}">
                                    <div class="col-md-8" th:if="${buscarResultado != null}">
                                        <p>Mostrando resultados para <b th:utext="'&quot;' + ${buscarResultado} + '&quot;'"></b></p>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <select name="orderby" class="normal" id="orderby" style="width:100%">
                                            <option value="1">Ordenar por:</option>
                                            <option value="1">De A - Z</option>
                                            <option value="2">De Z - A</option>
                                            <option value="3">Puntos (del mas bajo al mas alto)</option>
                                            <option value="4">Puntos (del mas alto al mas bajo)</option>
                                        </select>
                                    </div>

                                    <div class="col-md-5">
                                        <p class="sty-btn">
                                            <label><input type="checkbox" name="work_days" id="productosDisponibles" value="1"><span>Con mis Puntos Disponibles</span></label>
                                        </p>
                                        <p class="sty-btn">
                                            <label><input type="checkbox" name="work_days" id="productosEnvioExpress" value="2"><span>Envío Express</span></label>
                                        </p>
                                    </div>

                                    <div class="col-md-5" th:if="${avisoWeb != null && buscarResultado == null}">
                                        <p th:utext="${avisoWeb}"></p>
                                    </div>



                                    <input type="hidden" th:value="${session.participante.puntosDisponibles}" value="" id="puntosDisponibles">


                                </div>
                            </div>

                            <input type="hidden" th:value="${sessionCategoria == null ? 0 : sessionCategoria}" id="idcategoriax"/>
                            <br>
                            <br>
                            <div class="row shop-grid grid-view productosDinamicos">

                            </div>

<!--                            <a id="vermas" class="button-loadmore">+ Ver más</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--/*@thymesVar id="buscar" type="java.lang.String"*/-->
        <input type="hidden" th:value="${buscar}" id="inptBuscar">
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.web('js/views/productos.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var productos = new Productos('[[@{/}]]', '[[${idCategoria}]]');
            productos.init();
        });
    </script>

</th:block>

</body>
</html>