<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Contactanos', menu='Contacto'">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content" th:object="${session.configuracionWeb}">

    <!-- Banner -->
    <div class="banner_estatico">
        <div class="banner_internas" th:style="|background-image:url(${@resources.web('img/bg/bg-contacto.png')});|">
            <div class="internas-banner-content content-push">
                <div class="cell-view">

                </div>
            </div>
        </div>
    </div>

    <div class="container margin-bottom-50">
        <div class="section-title style6 text-center margin-top-40">
            <h3>Contáctanos</h3>
            <span class="sub-title"></span>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="element-icon style2">
                            <div class="icon"><span class="icon pe-7s-timer"></span></div>
                            <div class="content">
                                <h4 class="title" th:text="|Horarios: *{horario}|"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="element-icon style2">
                            <div class="icon"><span class="icon pe-7s-headphones"></span></div>
                            <div class="content">
                                <h4 class="title" th:text="*{telefonoContacto}"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="element-icon style2">
                            <div class="icon"><span class="icon pe-7s-mail-open"></span></div>
                            <div class="content">
                                <h4 class="title" th:text="*{emailContacto}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <form class="kt-contact-form " id="frmContacto" onsubmit="return false;">
                    <p>Alguna pregunta o sugerencia? Pónte en contacto con nosotros</p>
                    <p>
                        <label>Nº de cédula</label><br>
                        <input type="text" placeholder="" value="" id="contactoCedula" name="contactoCedula" disabled="" th:value="${session.participante.nroDocumento}" readonly>
                    </p>
                    <p>
                        <label>Nombre completo</label><br>
                        <input type="text" placeholder="" id="contactoNombres" name="contactoNombres" th:value="${session.participante.nombresParticipante.concat(' ').concat(session.participante.appaternoParticipante).concat(' ').concat(session.participante.apmaternoParticipante)}" readonly>
                    </p>
                    <p>
                        <label>Correo electrónico</label><br>
                        <input  type="text" placeholder="" id="contactoEmail" name="contactoEmail" th:value="${session.participante.emailParticipante}" readonly>
                    </p>
                    <p>
                        <label>Teléfono</label><br>
                        <input type="text" placeholder="" id="contactoTelefono" name="contactoTelefono">
                    </p>
                    <p>
                        <label>Consulta</label><br>
                        <textarea cols="30" rows="5" id="contactoMensaje" name="contactoMensaje"></textarea>
                    </p>
                    <button class="button style-10" id="btnEnviarContacto">Enviar</button>
                </form>
            </div>

        </div>
    </div>

    <div class="information-blocks content-push sub-int" style="display: none">
        <div class="title-subpage">Contacto</div>
        <p>Alguna pregunta o sugerencia? Pónte en contacto con nosotros</p>
        <br><br>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <br><br>
                <p th:text="|Horarios: *{horario}|"></p>
                <br>
                <div class="item-contact-box">
                    <a href=""><span class="lnr lnr-phone-handset"></span></a>
                    <label>Llámanos al:</label>
                </div>
                <div class="phone-box">
                    <p style="font-size: 14px;color: #666" th:text="*{telefonoContacto}"></p>
                </div>
                <br><br>
                <div class="item-contact-box">
                    <a href=""><span class="lnr lnr-envelope"></span></a>
                    <label>Escríbenos a:</label>
                </div>
                <div class="mail-box">
                    <a href="mailto:info@clubpichincha.com" th:href="'mailto:' + *{emailContacto}" th:text="*{emailContacto}"></a>
                </div>
            </div>
            <div class="col-md-8">
                <form id="frmContacto" onsubmit="return false;">

                    <div class="col-sm-12 sinpad-resp">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 sinpad-resp">
                                <label for="contactoCedula">Nº de cédula</label>
                                <input class="form-control" type="text" placeholder="" value="" id="contactoCedula" name="contactoCedula" disabled="" th:value="${session.participante.nroDocumento}">
                            </div>
                            <div class="col-xs-12 col-sm-6 sinpad-resp">
                                <label for="contactoNombres" class="obl">Nombres</label>
                                <input class="form-control" type="text" placeholder="" id="contactoNombres" name="contactoNombres">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 sinpad-resp">
                                <label for="contactoApellidos" class="obl">Apellidos</label>
                                <input class="form-control" type="text" placeholder="" id="contactoApellidos" name="contactoApellidos">
                            </div>
                            <div class="col-xs-12 col-sm-6 sinpad-resp">
                                <label for="contactoEmail" class="obl">Coreo electrónico</label>
                                <input class="form-control" type="text" placeholder="" id="contactoEmail" name="contactoEmail">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 sinpad-resp">
                                <label for="contactoTelefono" class="obl">Teléfono</label>
                                <input class="form-control" type="text" placeholder="" id="contactoTelefono" name="contactoTelefono">
                            </div>
                            <div class="col-xs-12 col-sm-6 sinpad-resp">
                                <label for="contactoCelular" class="obl">Celular</label>
                                <input class="form-control" type="text" placeholder="" id="contactoCelular" name="contactoCelular">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 sinpad-resp">
                                <label for="contactoMensaje" class="obl">Escribe aquí tu mensaje</label>
                                <textarea class="form-control" cols="30" rows="5" id="contactoMensaje" name="contactoMensaje"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 sinpad-resp">
                                <button class="button style-10" id="btnEnviarContacto">Enviar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.web('js/views/contacto.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var contacto = new Contacto('[[@{/}]]');
            contacto.init();
        });
    </script>

</th:block>

</body>
</html>
