<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Cotizar pasaje', menu='Cotizar pasaje'">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content" th:object="${session.participante}">

    <!-- Banner -->
    <div class="banner_estatico puntos" th:style="|background-image:url(${@resources.web('img/bg/bg-cotizacion.png')});background-position: top center;background-size: cover;|"  style="">
        <div class="banner_internas">
            <div class="internas-banner-content content-push">
                <div class="cell-view" style="padding-left: 0;">

                </div>
            </div>
        </div>
    </div>

    <div class="content-push">
        <div class="container">
            <div class="section-title style6 text-center margin-top-40">
                <h3>Cotiza tu ticket aéreo</h3>
                <span class="sub-title"></span>
            </div>

            <form id="formCotizacion">
                <h4 style="border-bottom: 1px solid #e5e5e5;line-height: 45px;font-weight: 600"><span class="icon pe-7s-note2" style="font-size: 25px"></span> Ingresa la información para generar la cotización:</h4>

                <div class="row margin-top-20">
                    <div class="col-md-3">
                        <label for="tipoVuelo">Tipo</label><br>
                        <select name="tipoVuelo" class="normal" id="tipoVuelo" style="width: 100%;height: 40px">
                            <option value="2" class="normal">Ida y vuelta</option>
                            <option value="1" class="normal">Sólo ida</option>

                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="obl" for="clase">Clase</label><br>
                        <select name="clase" id="clase" class="normal" style="width: 100%;height: 40px">
                            <option value="Economica">Económica</option>
                            <option value="Premium economy">Premium economy</option>
                            <option value="Ejecutiva/Business">Ejecutiva/Business</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label class="obl" for="origen">Ciudad de origen</label><br>
                            <input type="text" name="origen" id="origen" style="width: 100%">
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label class="obl" for="destino">Ciudad de destino</label><br>
                            <input type="text" name="destino" id="destino" style="width: 100%">
                        </p>
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-md-3">
                        <p>
                            <label class="obl" for="fechaIda">Fecha ida</label><br>
                            <input type="date" name="fechaIda" id="fechaIda" style="width: 100%" th:min="${fechaMinima}">
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <label class="obl" for="fechaVuelta">Fecha vuelta</label><br>
                            <input type="date" name="fechaVuelta" id="fechaVuelta" style="width: 100%" th:min="${fechaMinima}">
                        </p>
                    </div>
                    <div class="col-md-3">
                        <label class="obl" for="adultos">Pasajeros</label><br>
                        <select name="adultos" id="adultos" class="normal" style="width: 100%;height: 40px">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3 text-right">
                        <p>
                            <label></label><br>
                            <a id="btnPasajeros" class="button add_to_cart_button" style="width: 100%">Siguiente</a>
                        </p>
                    </div>
                </div>
            </form>

            <form id="formPasajeros">
                <div id="contentPasajerosCotizacion"></div>

                <div class="col-md-3 col-md-offset-9 text-right">
                    <p>
                        <label></label><br>
                        <a id="btnCotizar" class="button add_to_cart_button" style="width: 100%;display: none">Cotizar</a>
                    </p>
                </div>
            </form>

            <div class="modal fade" id="cotizacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document" style="z-index: 1041;margin-top: 100px;">
                    <form id="formFinalizar">
                        <div class="modal-content" id="enviar">
                            <div class="modal-header" style="padding: 20px 40px">
                                <h4 style="margin-bottom: 0;font-weight: 600;display: inline-block"><span class="icon pe-7s-mail" style="font-size: 25px"></span> ¿A dónde enviamos tu cotización?</h4> <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 3px">x</button>
                            </div>
                            <div class="modal-body " style="padding: 20px 40px">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>La información que nos proporciones será fundamental para hacerte llegar la cotización e información relevante sobre tu viaje</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="correo">Correo electrónico</label><br>
                                        <input type="text" style="width: 100%" id="correo" name="correo">
                                    </div>
                                    <div class="col-md-12 margin-top-20">
                                        <label for="">Teléfono</label><br>
                                        <input type="text" style="width: 100%" id="telefono" name="telefono">
                                    </div>
                                </div>
                                <div class="row text-center margin-top-20">
                                    <div class="col-md-12">
                                        <input type="button" class="button" value="Solicitar cotización" id="btnCotizarFinal">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-content" id="ok" style="display: none">
                            <div class="modal-header" style="padding: 20px 40px">
                                <h4 style="margin-bottom: 0;font-weight: 600;display: inline-block"><span class="icon pe-7s-check" style="font-size: 25px;vertical-align: middle;font-weight: bold;color: green"></span> ¡Gracias por tu solicitud!</h4> <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 3px">x</button>
                            </div>
                            <div class="modal-body " style="padding: 20px 40px">
                                <div class="row  text-center">
                                    <div class="col-md-12">
                                        <h5 style="font-weight: 600">Dentro de las siguientes 48 horas nos estaremos comunicando contigo para darte información sobre tu cotización</h5>
                                        <h5 style="font-weight: 600">En cuanto llegue la cotización a tu correo, debes aprobarla respondiendo sobre el mismo correo.</h5>
                                        <p>* Es responsabilidad de quienes viajan tener todos los documentos necesarios para su destino</p>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <a class="button style-10" href="">OK</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.web('js/views/cotizacion.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var cotizacion = new Cotizacion('[[@{/}]]');
            cotizacion.init();
        });
    </script>

</th:block>

</body>
</html>