<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Membership Rewards</title>
  <th:block th:replace="~{fragments/resources :: styles}" />

</head>

<body>
  <!-- Header -->
  <div th:replace="~{fragments/topmenu :: topmenu}"></div>

  <section class="container">
    <div class="g-back">
      <a class="g-button--secondary" href="../">
        <img th:src="${@resources.web('img/ico/ico-left.svg')}" alt="">
        <span>Regresar</span>
      </a>
    </div>
  </section>

  <section class="container">
    <div>
      <h3 class="g-subtitle mb-4">Haz un consumo digital y recibe recompensas</h3>
      <div class="g-box mb-4" id="estado_mision">
        <div class="mb-2">
          <span th:class="${mision.progreso == null or mision.progreso == 0} ? 'g-tag g-tag--yellow' : (${mision.progreso == 1} ? 'g-tag' : 'g-tag g-tag--blue')"
                th:text="${mision.progreso == null or mision.progreso == 0} ? 'No iniciada' : (${mision.progreso == 1} ? 'Completada' : 'En progreso')">No iniciada</span>
        </div>
        <div class="g-progress-bar mb-2">
          <span th:style="'width: ' + ${mision.progreso != null ? #numbers.formatInteger(mision.progreso * 100, 0) : 0} + '%;'"></span>
        </div>
        <span th:text="${mision.progreso != null ? #numbers.formatInteger(mision.progreso * 100, 0) : 0} + '%'">0%</span>
      </div>
      <div class="g-box mb-4">
        <p class="g-box--title">Descripción / Requisitos:</p>
        <p class="g-box--description" th:text="${mision.descripcion}"></p>
        <p class="g-box--description2 m-0" th:text="'Válido hasta: ' + ${mision.fechaFin}"></p>
      </div>
    </div>
    <div>
      <div class="g-texto">
        <h3 class="g-texto--title">Elige tu recompensa:</h3>
        <p class="g-texto--description">Selecciona tu recompensa antes de comenzar la misión.</p>
      </div>
      <div id="mensaje_respuesta" class="mt-3"></div>
      <div class="reward-options" id="recompensas_lista">
        <!-- Las recompensas se cargan desde el modelo Thymeleaf -->
        <div th:each="recompensa : ${mision.recompensas}" class="reward-option" th:classappend="${recompensaStat.first} ? 'selected' : ''" 
             th:attr="data-reward-id=${recompensa.idRecompensa}">
          <div>
            <span class="reward-title" th:text="${recompensa.titulo}">Cashback</span>
            <span class="reward-desc" th:text="${recompensa.descripcion}">Recibe $5 de Cashback</span>
          </div>
          <span class="reward-check"></span>
        </div>
      </div>

      <div class="d-flex justify-content-center mb-5" th:if="${cedula == null}">
        <div class="g-button--fix">
          <a href="../login" class="g-button g-button--big">
            <span>Iniciar sesión</span>
          </a>
        </div>
      </div>

      <div class="d-flex justify-content-center mb-5" th:if="${cedula == null}">
        <div class="g-button--fix">
          <a onclick="verPromociones()" class="g-button g-button--big">
            <span>Ver promociones</span>
          </a>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="g-footer">
    <div class="container">
      <div class="g-footer--container">
        <div class="row">
          <div class="col-lg-6">
            <div class="g-footer--logo">
              <img th:src="${@resources.web('img/logo-footer.svg')}" alt="Logo">
            </div>
            <div>
              <p class="g-footer--social__title">Síguenos en redes</p>
              <ul class="g-footer--social">
                <li>
                  <a href="">
                    <img th:src="${@resources.web('img/ico/ico-facebook.svg')}" alt="">
                  </a>
                </li>
                <li>
                  <a href="">
                    <img th:src="${@resources.web('img/ico/ico-instagram.svg')}" alt="">
                  </a>
                </li>
                <li>
                  <a href="">
                    <img th:src="${@resources.web('img/ico/ico-youtube.svg')}" alt="">
                  </a>
                </li>
                <li>
                  <a href="">
                    <img th:src="${@resources.web('img/ico/ico-tiktok.svg')}" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="g-footer--info">
                  <p class="g-footer--info__title">Información</p>
                  <ul class="g-footer--info__list">
                    <li>
                      <a href="">Preguntas frecuentes</a>
                    </li>
                    <li>
                      <a href="">Términos y Condiciones</a>
                    </li>
                    <li>
                      <a href="">Políticas de Privacidad</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="g-footer--info">
                  <p class="g-footer--info__title">Contacto</p>
                  <ul class="g-footer--info__list">
                    <li>
                      <a href="">
                        <img th:src="${@resources.web('img/ico/ico-clock.svg')}" alt="">
                        <span>Lun-Vie de 9 am a 6 pm</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img th:src="${@resources.web('img/ico/ico-whatsapp.svg')}" alt="">
                        <span>+593 xxx xxx xxx</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img th:src="${@resources.web('img/ico/ico-mail.svg')}" alt="">
                        <span>soporte@membershiprewards.com.ec</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-footer--separator"></div>
        <div class="g-footer--copyright">
          <p>American Express Membership Rewards x Banco Guayaquil</p>
          <p>© 2025 Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </footer>

  <th:block th:replace="~{fragments/resources :: script}" />

  <!-- Agrega este script antes de tu script principal -->
  <script src="https://unpkg.com/lucide@latest"></script>

  <script th:inline="javascript">
    $(function () {
      function renderChecks() {
        $('.reward-option').each(function () {
          var $checkSpan = $(this).find('.reward-check');
          $checkSpan.empty();
          if ($(this).hasClass('selected')) {
            var icon = lucide.createElement('Check', { color: '#fff', size: 18, strokeWidth: 3 });
            $checkSpan.append(icon);
          }
        });
      }

      // Delegación de eventos para elementos dinámicos
      $('#recompensas_lista').on('click', '.reward-option', function () {
        $('.reward-option').removeClass('selected');
        $(this).addClass('selected');
        renderChecks();
      });

      // Render inicial
      renderChecks();
    });

    // Captura el id_mision desde el modelo Thymeleaf
    var id_mision = /*[[${id_mision}]]*/ '';
    var tokenStatus = /*[[${tokenStatus}]]*/ '';
    var cedulaData = /*[[${cedula}]]*/ '';

    console.log("id_mision:", id_mision);

    // Solo ejecuta si id_mision es válido
    if (id_mision !== '' && id_mision !== null && id_mision !== undefined && id_mision !== 'undefined') {
      try {
        sesionIniciada(cedulaData);
      } catch (e) {
        console.log('Error en sesionIniciada:', e);
      }
    } else {
      console.error('id_mision no está definido correctamente:', id_mision);
    }




    function formatearFecha(fechaISO) {
      if (!fechaISO) return 'Por definir';

      try {
        var fecha = new Date(fechaISO);

        if (isNaN(fecha.getTime())) {
          return 'Fecha inválida';
        }

        var dia = fecha.getDate();
        var meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
          'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];
        var año = fecha.getFullYear();

        return dia + ' de ' + meses[fecha.getMonth()] + ' ' + año;

      } catch (e) {
        console.log('Error formateando fecha:', e);
        return 'Error en fecha';
      }
    }

    function verPromociones() {
      var misionActual = id_mision;
      var recompensaSeleccionada = document.querySelector('.reward-option.selected');
      var recompensaId = recompensaSeleccionada ? recompensaSeleccionada.getAttribute('data-reward-id') : null;
      var recompensaTitulo = recompensaSeleccionada ? recompensaSeleccionada.querySelector('.reward-title').textContent : null;

      console.log('Misión actual:', misionActual);
      console.log('ID recompensa seleccionada:', recompensaId);
      console.log('Título recompensa seleccionada:', recompensaTitulo);
      return fetch('../mision/registrar_mision_recompensa/' + id_mision+'/'+recompensaId)
        .then(response => response.json())
       .then(data => {
        debugger
          var mensaje = document.getElementById('mensaje_respuesta');
          mensaje.textContent = data.message;
          if (data.code === 400) {
            mensaje.style.color = 'red';
          } else {
            mensaje.style.color = 'green';
          }
          console.log(data);
       })
      .catch(error => {
        var mensaje = document.getElementById('mensaje_respuesta');
        mensaje.textContent = 'Error de conexión';
        mensaje.style.color = 'red';
      });
    }

  </script>
</body>

</html>