<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header (title='Encuesta | La Fabril')">
    <title></title>
</head>

<body class="home fondo">
<div class="container">
    <div class="row">
        <div th:include="fragments/fragments-encuesta :: encuestaPedido" th:remove="tag"></div>
    </div>
</div>

<th:block th:replace="~{fragments/resources :: scripts}"/>

<script th:src="${@resources.web('js/views/encuesta.js', true)}"></script>

<script type="text/javascript">
    $(function() {
        var encuesta = new Encuesta('[[@{/}]]');
        encuesta.init();
    });
</script>

</html>
