<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril', menu='Inicio'">

<head>
    <title>Title</title>
</head>

<body>

    <th:block layout:fragment="content">

        <div class="container">
            <div class="slider-container">
                <div class="slider">
                    <div class="slide" th:each="banner : ${bannerInicio}">
                        <a th:href="@{/__${banner.urlBoton}__}" href=""><img th:src="${banner.imagenBanner}" src="" alt="" /></a>
                    </div>
                </div>

                <!-- Puntos de navegación -->
                <div class="dots-container">
                    <span class="dot" th:each="banner, iterStat : ${bannerInicio}" th:onclick="|goToSlide(${iterStat.index})|"></span>
                </div>

                <!-- Botones de navegación -->
                <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                <button class="next" onclick="moveSlide(1)">&#10095;</button>
            </div>
        </div>

        <div class="container">

            <!--Top 10 Broker-->
            <div class="margin-top-20" th:if="${session.participante.catalogo.tieneTopBroker}">
                <div class="col-md-12 back-gray">
                    <div class="col-md-12">
                        <div class="section-title style6 text-center">
                            <h3>Fuerza de venta top 5</h3>
                            <span class="sub-title"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div th:if="${topbroker == null || #lists.isEmpty(topbroker)}" style="text-align: center">
                            No existen ganadores aún
                        </div>

                        <ul th:if="${topbroker != null && !#lists.isEmpty(topbroker)}" class="top-broker owl-carousel" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}' data-autoplay="true" data-loop="true" data-items="5" data-dots="false" data-nav="false" data-margin="30">
                            <li th:each="top, attr : ${topbroker}" class="product-item style3">
                                <div class="back-top5">
                                    <span class="puesto" th:if="${attr.index == 0}">1er PUESTO</span>
                                    <img src="" th:src="${top.foto}" alt="" class="wdth-person">
                                    <div class="text-person1">
<!--                                        <p class="fnt-person" th:text="|${top.nombresParticipante} ${top.appaternoParticipante}|">...</p>-->
                                        <p class="fnt-person" th:text="${top.broker.nombreBroker}">...</p>
                                        <p class="line-heig" th:text="${top.posicion}">...</p>
                                        <p class="line-heig" th:text="${top.nombresParticipante}">...</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Productos promociones-->
            <div id="contentPromociones"></div>

            <!--Destacados-->
            <div class="tab-product  margin-top-40">
                <ul class="box-tabs nav-tab tab-owl-fade-effect">
                    <li role="presentation" class="active"><a href="#destacados" role="tab" data-toggle="tab">Destacados</a></li>
                    <li role="presentation"><a href="#novedades" role="tab" data-toggle="tab">NOVEDADES</a></li>
                    <li role="presentation"><a href="#masvistos" role="tab" data-toggle="tab">MÁS VISTOS</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="destacados">
                        <div class="product-slider arrow-style">
                            <div class="row">
                                <ul th:if="${destacados != null && !#lists.isEmpty(destacados)}" class="owl-carousel" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}' data-autoplay="true" data-loop="true" data-items="4" data-dots="false" data-nav="false" data-margin="30">
                                    <div th:include="fragments/fragments-producto :: productRegularList(${destacados})" th:remove="tag"></div>
                                </ul>
                                <div th:unless="${destacados != null && !#lists.isEmpty(destacados)}" style="text-align: center">
                                    No hay destacados disponibles
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="novedades">
                        <div class="product-slider arrow-style">
                            <div class="row">
                                <ul th:if="${novedades != null && !#lists.isEmpty(novedades)}" class="owl-carousel" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}' data-autoplay="true" data-loop="true" data-items="4" data-dots="false" data-nav="false" data-margin="30">
                                    <div th:include="fragments/fragments-producto :: productRegularList(${novedades})" th:remove="tag"></div>
                                </ul>
                                <div th:unless="${novedades != null && !#lists.isEmpty(novedades)}" style="text-align: center">
                                    No hay novedades disponibles
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="masvistos">
                        <div class="product-slider arrow-style">
                            <div class="row">
                                <ul th:if="${visitados != null && !#lists.isEmpty(visitados)}" class="owl-carousel" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}' data-autoplay="true" data-loop="true" data-items="4" data-dots="false" data-nav="false" data-margin="30">
                                    <div th:include="fragments/fragments-producto :: productRegularList(${visitados})" th:remove="tag"></div>
                                </ul>
                                <div th:unless="${visitados != null && !#lists.isEmpty(visitados)}" style="text-align: center">
                                    No hay visitados disponibles
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--links opcionales-->
            <div class="row margin-top-40 margin-bottom-40">
                <div class="col-md-6">
                    <img th:src="${@resources.web('img/bg/').concat(session.participante.catalogo.imagenBoxUno)}" src="" alt="">
                    <br><br>
                    <a target="_blank" href="" th:if="${session.participante.catalogo.pdfBox != null}" th:href="${@resources.web('pdf/').concat(session.participante.catalogo.pdfBox)}" class="button  add_to_cart_button">Manuales</a>
<!--                    <a target="_blank" href="" th:href="@{/catalogo}" class="button  add_to_cart_button">Catalogo</a>-->
                </div>
                <div class="col-md-6">
                    <img th:src="${@resources.web('img/bg/').concat(session.participante.catalogo.imagenBoxDos)}" src="" alt="">
                    <br><br>
                    <a th:href="@{/contacto}" href="" class="button  add_to_cart_button">Contáctanos</a>
                </div>
            </div>

        </div>

        <div class="modal fade no-padding" id="videoModal" tabindex="-1" role="dialog" th:attr="data-video=${session.participante.catalogo.videoHome}, data-preview=${session.participante.catalogo.previewHome}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border: 0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        <th:block th:if="${session.participante.catalogo.estadoBannerFlotante == 1 && session.participante.catalogo.bannerFlotante != null}">
            <a th:attr="data-ios=${session.participante.catalogo.urlBannerFlotante},data-android=${session.participante.catalogo.urlBannerFlotante}" target="_blank" class="openOutside publicidad hidden-xs" style="display: block;"><img th:src="${@resources.web('img/').concat(session.participante.catalogo.bannerFlotante)}" alt=""></a>
        </th:block>
        <th:block th:replace="~{fragments/resources :: scripts}"/>

        <script th:src="${@resources.web('js/views/inicio.js', true)}"></script>

        <script type="text/javascript">
            $(function() {
                var inicio = new Inicio('[[@{/}]]', '[[${@resources.web()}]]');
                inicio.init();
            });
        </script>

    </th:block>
</body>

</html>