<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Mis puntos', menu='MisPuntos'">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content" th:object="${session.participante}">

    <!--/*@thymesVar id="fechaActualizacion" type="java.util.Date"*/-->

    <!-- Banner -->
    <div class="banner_estatico puntos" th:style="|background-image:url(${@resources.web('img/bg/bg-mi-perfil.png')});top center;background-size: cover;|"  style="">
        <div class="banner_internas">
            <div class="internas-banner-content content-push">
                <div class="cell-view" style="padding-left: 0;">
                    TIENES <span th:text="|*{puntosDisponibles} Puntos|"></span> DISPONIBLES
                </div>
            </div>
        </div>
    </div>

    <div class="container puntos">
        <div class="relate-product">
            <!-- Nav tabs -->
            <div class="nav-tabs-icon" style="    margin-top: -58px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active tab-puntos"><a style="line-height: 18px" href="#historial" aria-controls="" role="tab" data-toggle="tab">HISTORIAL DE PUNTOS<span></span></a></li>
                    <li class="tab-puntos" role="presentation"><a style="line-height: 18px" href="#posibles" aria-controls="" role="tab" data-toggle="tab">PUNTOS <br> POSIBLES<span></span></a></li>
                    <li class="tab-puntos" role="presentation"><a style="line-height: 18px" href="#acreditados" aria-controls="" role="tab" data-toggle="tab">PUNTOS <br> ACREDITADOS <span></span></a></li>
                    <li class="tab-puntos" role="presentation"><a style="line-height: 18px" href="#canjeados" aria-controls="" role="tab" data-toggle="tab">PUNTOS <br> CANJEADOS <span></span></a></li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content" style="padding:15px;">
                <div role="tabpanel" class="tab-pane active" id="historial">

                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <p class="last-update">Año: </p>
                        </div>
                        <div class="col-md-2 col-xs-8">
                            <select name="" id="facturasAgrupadasAnio" th:with="fecha=${#dates.createNow()}, anio=${#dates.year(@utils.addYear(#dates.createNow(), -2))}">
                                <option value="" th:value="${year}" th:each="year : ${#numbers.sequence(#dates.year(fecha), anio)}" th:text="${year}"></option>
                            </select>
                        </div>
                        <div class="col-md-9 text-right col-xs-12">
                            <p class="last-update" th:text="|Última actualización: ${fechaActualizacion != null ? #dates.format(fechaActualizacion, 'dd/MM/yyyy') : '--/--/----'}|"></p>
                        </div>
                    </div>
                    <div class="row text-center" style="border: 1px solid #008F3E;padding-top: 10px;margin: 0" id="contentResumenMeta">

                    </div>
                    <br><br>

                    <div class="table-responsive" style="clear:both" id="contentHistorialPuntos"></div>

                </div>
                <div role="tabpanel" class="tab-pane" id="posibles">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-puntos box-periodo">
                                <div>Periodo: </div>

                                <div><span class="lnr lnr-calendar-full"></span><input style="margin: 0 10px;" type="date" id="fechaInicioPosibles" name="fechaInicioPosibles" placeholder="" th:value="${fechaDesde}"></div>
                                <div><span class="lnr lnr-calendar-full"></span><input style="margin: 0 10px;" type="date" id="fechaFinPosibles" name="fechaFinPosibles" placeholder="" th:value="${fechaHasta}"></div>

                            </div>
                        </div>
                        <div class="col-md-6 text-right ">
                            <p class="last-update" th:text="|Última actualización: ${fechaActualizacion != null ? #dates.format(fechaActualizacion, 'dd/MM/yyyy') : '--/--/----'}|"></p>
                        </div>
                    </div>

                    <div class="table-responsive" style="clear:both">

                        <table class="cart-table" id="tablePosibles" style="width: 100%!important;">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                               <!-- <th>Evento</th>-->
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>Puntos posibles</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>

                    <a href="" th:href="@{/mis-puntos/descargar-estado_cuenta}" class="button style-10"><span class="lnr lnr-download"></span> DESCARGAR ESTADO DE CUENTA</a>
                </div>
                <div role="tabpanel" class="tab-pane" id="acreditados">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-puntos box-periodo">
                                <div>Periodo: </div>
                                <div><span class="lnr lnr-calendar-full"></span><input style="margin: 0 10px;" type="date" id="fechaInicioAcreditados" name="fechaInicioAcreditados" placeholder="" th:value="${fechaDesde}"></div>
                                <div><span class="lnr lnr-calendar-full"></span><input style="margin: 0 10px;" type="date" id="fechaFinAcreditados" name="fechaFinAcreditados" placeholder="" th:value="${fechaHasta}"></div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right ">
                            <p class="last-update" th:text="|Última actualización: ${fechaActualizacion != null ? #dates.format(fechaActualizacion, 'dd/MM/yyyy') : '--/--/----'}|"></p>
                        </div>
                    </div>
                    <div class="table-responsive" style="clear:both">
                        <table class="cart-table" id="tableAcreditados" style="width: 100%!important;">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Evento</th>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>Puntos acreditados</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <a href="" th:href="@{/mis-puntos/descargar-estado_cuenta}" class="button style-10"><span class="lnr lnr-download"></span> DESCARGAR ESTADO DE CUENTA</a>
                </div>
                <div role="tabpanel" class="tab-pane" id="canjeados">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-puntos box-periodo">
                                <div>Periodo: </div>
                                <div><span class="lnr lnr-calendar-full"></span><input style="margin: 0 10px;" type="date" id="fechaInicioCanjeados" name="fechaInicioCanjeados" placeholder="" th:value="${fechaDesde}"></div>
                                <div><span class="lnr lnr-calendar-full"></span><input style="margin: 0 10px;" type="date" id="fechaFinCanjeados" name="fechaFinCanjeados" placeholder="" th:value="${fechaHasta}"></div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right ">
                            <p class="last-update" th:text="|Última actualización: ${fechaActualizacion != null ? #dates.format(fechaActualizacion, 'dd/MM/yyyy') : '--/--/----'}|"></p>
                        </div>
                    </div>
                    <div class="table-responsive" style="clear:both">
                        <div class="table-responsive" style="clear:both">
                            <table class="cart-table" id="tableCanjeados" style="width: 100%!important;">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Puntos canjeados</th>
                                    <th>Nº de pedido</th>
                                    <th>Ver detalle de canje</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>
                    </div>

                    <a href="" th:href="@{/mis-puntos/descargar-estado_cuenta}" class="button style-10"><span class="lnr lnr-download"></span> DESCARGAR ESTADO DE CUENTA</a>

                </div>
                <div class="col-md-12 estado_pedido" id="contentDetallePedido">

                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.web('js/views/mis-puntos.js', true)}"></script>

    <script type="text/javascript">
        $(function() {
            var misPuntos = new MisPuntos('[[@{/}]]');
            misPuntos.init();
        });
    </script>

</th:block>

</body>
</html>