<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='La Fabril | Preguntas Frecuentes', menu='Faq'">

<head>
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="faqs" type="java.util.List<Faq>"*/-->
<th:block layout:fragment="content" th:object="${session.participante}">

    <!-- Banner -->
    <div class="banner_estatico">
        <div class="banner_internas" th:style="|background-image:url(${@resources.web('img/bg/bg-tyc.png')});|">
            <div class="internas-banner-content content-push">
                <div class="cell-view">

                </div>
            </div>
        </div>
    </div>


    <div class="container margin-bottom-50">
        <div class="section-title style6 text-center margin-top-40">
            <h3>Preguntas frecuentes</h3>
            <span class="sub-title"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                <th:block th:each="objFaq : ${faqs}" th:object="${objFaq}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" th:href="|#collapse*{idFaq}|">
                                <h4 class="panel-title" th:utext="*{pregunta}">
                                </h4>
                            </a>
                        </div>
                        <div th:id="|collapse*{idFaq}|" class="panel-collapse collapse">
                            <div class="panel-body" th:utext="*{respuesta}" style="padding-left: 30px"></div>
                        </div>
                    </div>
                    <!--<h4 th:utext="*{pregunta}"></h4>-->
                    <!--<p th:utext="*{respuesta}"></p>-->
                </th:block>
                </div>
            </div>
        </div>
    </div>

    <!--NO USADO-->
    <div class="information-blocks content-push" style="display: none">
        <div class="row">
            <div class="title-subpage">Preguntas Frecuentes</div>
            <div class="col-md-6">
                <div class="accordeon" th:each="objFaq, iStat : ${faqs}" th:if="${iStat.index % 2 == 0}" th:object="${objFaq}">
                    <div class="accordeon-title" th:utext="*{pregunta}"></div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1" th:utext="*{respuesta}">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordeon" th:each="objFaq, iStat : ${faqs}" th:if="${iStat.index % 2 != 0}" th:object="${objFaq}">
                    <div class="accordeon-title" th:utext="*{pregunta}"></div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1" th:utext="*{respuesta}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/resources :: scripts}"/>

</th:block>

</body>
</html>