<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header (title='Restablecer contraseña | La Fabril')">
    <title></title>
</head>


<body class="fondo">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12 text-center">
                <div class="newsletter style2">
                    <img th:src="${@resources.web('img/logos/logo.png')}" width="100">
                    <div class="section-title text-center">
                        <h4>OLVIDE MI CONTRASEÑA</h4>
                    </div>

                    <p class="text-left">Por favor ingresa tu correo electrónico para recuperar tu contraseña:</p>

                    <form id="form-recuperar" class="text-left" onsubmit="return false;">
                        <label for="">Correo electrónico</label><br>
                        <input id="correo" name="correo" type="text" style="width: 100%">
                        <br><br>
                        <a id="btn-aceptar" class="button style-10" style="width: 100%">Restablecer contraseña</a>
                        <br><br>
                        <a th:href="@{/}" href="" style="text-decoration: underline;">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<th:block th:replace="~{fragments/resources :: scripts}"/>

<script th:src="${@resources.web('js/views/recuperar.js', true)}"></script>

<script type="text/javascript">
    $(function() {
        var recuperar = new Recuperar('[[@{/}]]');
        recuperar.init();
    });
</script>

</html>
