<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header (title='Registro | La Fabril')">
    <title></title>
</head>

<style>
    .error{
        color : red;
    }
</style>

<body class="home fondo">
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-12 ">
            <img th:src="${@resources.web('img/logos/logo-uno.png')}" src="" alt="" width="250">
            <div class="newsletter style2" id="divForm">
                <div class="section-title text-center">
                    <h4>FORMULARIO DE REGISTRO</h4>
                </div>

                <form style="text-align:left" id="frmRegistro" onsubmit="return false;">

                    <br>

                    <div class="form-group">
                        <label class="obl" for="inptNombres">Nombres</label>
                        <br>
                        <input type="text" style="width:100%" id="inptNombres" name="inptNombres">
                    </div>

                    <div class="form-group">
                        <label class="obl" for="inptApPaterno">Apellido Paterno</label>
                        <br>
                        <input type="text" style="width:100%" id="inptApPaterno" name="inptApPaterno">
                    </div>

                    <div class="form-group">
                        <label class="obl" for="inptApMaterno">Apellido Materno</label>
                        <br>
                        <input type="text" style="width:100%" id="inptApMaterno" name="inptApMaterno">
                    </div>

                    <div class="form-group">
                        <label class="obl" for="inptNroDocumento">Nro Documento</label>
                        <br>
                        <input type="text" style="width:100%"  id="inptNroDocumento" name="inptNroDocumento">
                    </div>

                    <div class="form-group">
                        <label class="obl" for="inptCorreo">Correo electrónico</label>
                        <br>
                        <input type="text" style="width:100%" name="inptCorreo" id="inptCorreo">
                    </div>

                    <div class="form-group">
                        <label class="obl" for="inptCelular">Celular</label>
                        <br>
                        <input type="tel" style="width:100%" name="inptCelular" id="inptCelular">
                    </div>

                    <div class="form-group">
                        <label class="obl" for="slcProvincia">Provincia</label>
                        <br>
                        <select name="slcProvincia" class="normal" id="slcProvincia" style="width: 100%;height: 40px">
                            <option value="" class="normal">Seleccionar</option>
                            <th:block th:each="objProvincia : ${provincias}" th:object="${objProvincia}">
                                <option th:value="*{codprov}" th:text="*{nombreUbigeo}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="obl" for="inptCiudad">Ciudad</label>
                        <br>
                        <input type="text" style="width:100%" name="inptCiudad" id="inptCiudad">
                    </div>

                    <div class="form-group">
                        <label class="obl" for="inptContrasena">Contraseña</label>
                        <br>
                        <input type="password" style="width:100%" name="inptContrasena" id="inptContrasena">
                    </div>

                    <div class="form-group">
                        <input type="checkbox" style="font-size: 14px;" name="chkTyc" id="chkTyc">
                        <label for="chkTyc" class="accept">Acepto los <a href="#" data-toggle="modal" data-target="#tyc" style="text-decoration: underline;">términos y condiciones</a></label>
                    </div>

                    <div class="form-group" style="margin-left: 20px;font-weight: bold;">
                        <input type="checkbox" style="font-size: 14px;margin-left:-20px" name="chkDatos" id="chkDatos">
                        Acepto recibir información sobre el programa por cualquier medio de comunicación
                    </div>

                </form>

                <br><br>
                <button class="button style-10" id="btnRegistrar">Registrarme</button>
            </div>

            <div class="newsletter style2" id="divMensaje" style="display: none">
                <div class="section-title text-center">
                    <h4>CONFIRMACION DE REGISTRO</h4>
                    <br>
                    <p>Su registro está siendo evaluado, le llegará un mensaje de bienvenida a su correo registrado en cuanto sea verificado.</p>
                </div>
                <br>
                <a href="" th:href="@{/login}" class="button" style="width: 100%">ACEPTAR</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tyc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document" style="z-index: 1041;margin-top: 100px;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body " style="margin-bottom: 20px;">
                <th:block th:utext="${tyc}"/>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="#" class="button style-10" data-dismiss="modal">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


<th:block th:replace="~{fragments/resources :: scripts}"/>

<script th:src="${@resources.web('js/views/registro.js', true)}"></script>

<script type="text/javascript">
    $(function() {
        var registro = new Registro('[[@{/}]]');
        registro.init();
    });
</script>

</html>
