<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      th:with="title='Fabripuntos | Mundial', menu=''">

<head>
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content" th:object="${session.participante}">

    <div id="qatar" class="q-container">

        <div class="q-menu" style="display: none">
            <!--<div class="q-avatar">
                <img th:src="${@resources.web('img/catar/logo.png')}" class="q-avatar__img" width="120">
                <div class="q-avatar__info">
                    <p class="q-avatar__name" th:text="*{nombresParticipante}"></p>
                    <p class="q-avatar__level" th:text="${resumenMundial.categoriaParticipante}"></p>
                    <p class="q-avatar__points" th:text="|${resumenMundial.cantidadPuntosMundial} pts.|"></p>
                </div>
            </div> -->
            <div class="q-resume">
                <div class="q-stats">
                    <p>Trivias acertadas <b id="trivias-acertadas" th:text="${resumenMundial.cantidadTriviasExitosas}"></b></p>
                    <p>Pron&oacute;sticos realizados <b id="pronosticos-realizados" th:text="${resumenMundial.cantidadPronosticos}"></b></p>
                </div>
                <div class="q-menu-list">
                    <div class="q-menu-indicator">
                        <span class="q-menu-indicator__corner--top"></span>
                        <span class="q-menu-indicator__corner--bot"></span>
                    </div>
                    <button class="q-menu-item" data-page="home" type="button">Inicio <i class="icon-home"></i></button>
                    <button class="q-menu-item" data-page="quiz" type="button">Trivias <i class="icon-quiz"></i></button>
                    <button class="q-menu-item" data-page="polla" type="button">Polla <i class="icon-world"></i></button>
                    <button class="q-menu-item" data-page="dates" type="button">Pronósticos <i class="icon-calendar"></i></button>
                </div>
            </div>
        </div>

        <!-- <div class="q-menu-mob">
            <div class="q-menu-mob__indicator">
                <span class="q-menu-mob__indicator__corner--left"></span>
                <span class="q-menu-mob__indicator__corner--right"></span>
            </div>
            <button class="q-menu-mob__item" type="button" data-page="user">
                <i class="fa fa-user"></i>
                <span>Usuario</span>
            </button>
            <button class="q-menu-mob__item" type="button" data-page="home">
                <i class="icon-home"></i>
                <span>Inicio</span>
            </button>
            <button class="q-menu-mob__item" type="button" data-page="quiz">
                <i class="icon-quiz"></i>
                <span>Trivias</span>
            </button>
            <button class="q-menu-mob__item" type="button" data-page="polla">
                <i class="icon-world"></i>
                <span>Polla</span>
            </button>
            <button class="q-menu-mob__item" type="button" data-page="dates">
                <i class="icon-calendar"></i>
                <span>Fechas</span>
            </button>
        </div> -->

        <div class="q-content">

            <div id="q-user" class="q-page">
                <div class="q-avatar">
                    <img th:src="${@resources.web('img/catar/logo.png')}" class="q-avatar__img">
                    <div class="q-avatar__info">
                        <p class="q-avatar__name" th:text="|*{nombresParticipante} *{appaternoParticipante}|"></p>
                        <p class="q-avatar__level" th:text="${resumenMundial.categoriaParticipante}"></p>
                        <p class="q-avatar__points" th:text="|${resumenMundial.cantidadPuntosMundial} pts.|"></p>
                    </div>
                </div>
                <div class="q-resume">
                    <div class="q-stats">
                        <p>Trivias acertadas <b>52</b></p>
                        <p>Pron&oacute;sticos realizados <b>24</b></p>
                    </div>
                </div>
            </div>

            <div id="q-home" style="display: none; opacity: 0;">
                <div class="q-points">

                    <div class="container-circular">
                        <div class="circular-progress">
                            <p class=" value-container-circular">Tienes<b id="puntos-mundial" th:text="${resumenMundial.cantidadPuntosMundial}"></b>puntos</p>
                        </div>
                    </div>

                    <p class="q-points__level">
                        <span>Acumula <b th:text="|+${resumenMundial.cantidadPuntosRestantes}|"></b>puntos m&aacute;s y</span>
                        <span>ser&aacute;s nivel <b th:text="|Clase ${resumenMundial.categoriaParticipanteSiguiente}|"></b></span>
                    </p>q-stepper q-stepper-quiz
                </div>
                <div id="message-quiz" class="q-quiz" style="display: none">
                    <div class="q-quiz__info">
                        <i class="icon-trophy q-quiz__icon"></i>
                        <p class="q-quiz__desc">
                            <b>Tu trivia semanal espera</b>
                            <span id="text-message-quiz">Tienes 5 preguntas para seguir acumulando puntos y canjearlos por más beneficios.</span>
                        </p>
                    </div>
                    <button class="q-quiz__start" type="button">Empezar</button>
                </div>
                <div class="q-flex">
                    <div class="q-forecast">
                        <h3 class="q-forecast__title">Da tus pron&oacute;sticos</h3>
                        <p class="q-forecast__subtitle">Dinos tu puntaje 24 horas antes de que comience el partido.</p>
                        <div class="q-forecast__matches">

                        </div>
                        <button class="q-forecast__more" type="button">Ver m&aacute;s partidos</button>
                    </div>
                    <div class="q-ranking">
                        <div class="q-ranking__flex">
                            <h3 class="q-ranking__title">Ranking</h3>
                            <button class="q-ranking__refresh" type="button"><i class="icon-refresh"></i>Actualizar</button>
                        </div>
                        <div class="q-ranking__list">

                        </div>
                    </div>
                </div>
            </div>

            <div id="q-quiz" class="q-page q-page--active" style="display: block; opacity: 1;" >
                <div class="text-center">
                    <img th:src="${@resources.web('img/catar/logo-trivia.png')}">
                </div>
                <br>
                <div class="q-stepper q-stepper-quiz">
                </div>
                <div class="q-quiz__content">
                    <div class="q-quiz__step q-quiz__step--active" style="opacity: 1; display: block;"  data-step="info">


                        <!--
                        <p class="q-title">Tu trivia semanal</p>
                        <p class="q-description">
                            Las trivias iniciarán los días lunes y se podrán completar hasta el día domingo de la semana en curso.
                            <br><br>
                            Responde estas 5 preguntas correctamente y obtendrás ${configuracionMundial.puntosTrivia} puntos acumulables para canjear tus premios favoritos de nuestro catálogo.
                        </p>
                        <p class="q-how">¿Cómo funciona?</p>
                        <ul class="q-instructions">
                            <li>
                                <b>1</b>
                                <span>Tendrás ${configuracionMundial.duracionPreguntaTrivia} segundo para responder cada pregunta.</span>
                            </li>
                            <li>
                                <b>2</b>
                                <span>Al seleccionar la opción "Siguiente pregunta" se mostrará si la respuesta ingresada es correcta o no.</span>
                            </li>
                            <li>
                                <b>3</b>
                                <span>No podrás editar tu respuesta un vez que pases de pregunta.</span>
                            </li>
                            <li>
                                <b>4</b>
                                <span>Al finalizar la última pregunta, te mostraremos el resumen semanal y general de todas tus trivias.</span>
                            </li>
                        </ul> -->
                        <p class="q-title" style="color: #08098D">29 años de historias #SiempreContigo</p>

                        <p class="q-description" style="color: #08098D">La primera trivia estará activa desde el <b>jueves 25 hasta el domingo 28 de enero</b>, mientras que la segunda trivia estará disponible desde el <b>lunes 29 hasta el miércoles 31 de enero.</b></p>

                        <p class="q-description" style="color: #08098D">Responde correctamente las 5 preguntas en el menor tiempo posible y podrás convertirte en uno de nuestros 4 afortunados ganadores. <b>¡No te lo pierdas!</b></p>
                        <p class="q-how">¿Cómo funcionan las trivias?</p>
                        <ul class="q-instructions">
                            <li> <span style="color: #08098D"> 1. Tendrás 30 segundos para responder cada pregunta.</span></li>
                            <li> <span style="color: #08098D"> 2. Al seleccionar la opción "siguiente pregunta" se mostrará si la respuesta ingresada es correcta o no.</span></li>
                            <li> <span style="color: #08098D"> 3. No podrás editar tu respuesta una vez que pases de pregunta.</span></li>
                            <li> <span style="color: #08098D"> 4. Al finalizar la última pregunta, te mostraremos el resumen de tus respuestas acertadas.</span></li>
                        </ul>
                        <br>
                        <p style="color: #08098D">Recuerda que cada trivia puede ser respondida una sola vez.</p>
                        <button type="button" class="q-primary-button q-quiz__next">Empezar</button>
                    </div>
                    <div class="q-quiz__step" data-step="questions">
                        <div class="q-timer">
                            <span class="q-timer__seconds"><span class="q-timer__sec" th:text="${configuracionMundial.duracionPreguntaTrivia}"></span> segundos restantes</span>
                            <span class="q-timer__progress">
								<span class="q-timer__progress-active"><span class="q-timer__sec" th:text="${configuracionMundial.duracionPreguntaTrivia}"></span> segundos restantes</span>
							</span>
                        </div>
                        <div class="options.classes.loading">
                            <div class="loader loader-default"></div>
                        </div>
                        <div class="q-questions">
                            <div id="content-pregunta">

                            </div>
                        </div>
                    </div>
                    <div class="q-quiz__step" id="step_resumen" data-step="resume">
                        <p class="q-how">Tus resultados de hoy</p>
                        <ul class="q-quiz__resume-info">
                            <li class="q-quiz__resume-item">
                                <span id="cantidad-acertadas"></span>
                                <span>Preguntas <br> acertadas</span>
                            </li>
                            <li class="q-quiz__resume-item">
                                <span id="cantidad-erradas"></span>
                                <span>Preguntas <br> erradas</span>
                            </li>
                            <!--<li class="q-quiz__resume-item">
                                <span id="cantidad-puntos-obtenidos"></span>
                                <span>Puntos <br> obtenidos</span>
                            </li> -->
                        </ul>
                        <p class="q-how">¡Gracias por tu participación! </p>
                        <p  style="color: #08098D"> El 02 de febrero premiaremos a los 4 primeros </p>
                        <p  style="color: #08098D"> participantes que hayan acertado en sus respuestas.</p>
                        <br>
                        <br>
                        <a th:href="@{/}"  class="q-primary-button ">Volver a inicio</a>
                        <!-- <p class="q-quiz__resume-subtitle">Así va tu resultado de trivias:</p>
                        <ul class="q-quiz__resume-info">
                            <li class="q-quiz__resume-item">
                                <span id="cantidad-acertadas-tot"></span>
                                <span>Preguntas <br> acertadas</span>
                            </li>
                            <li class="q-quiz__resume-item">
                                <span id="cantidad-erradas-tot"></span>
                                <span>Preguntas <br> erradas</span>
                            </li>
                            <li class="q-quiz__resume-item">
                                <span id="cantidad-puntos-obtenidos-tot"></span>
                                <span>Puntos <br> obtenidos</span>
                            </li>
                        </ul>  -->
                    </div>
                </div>
            </div>

            <div id="q-polla" class="q-page">
                <div class="modal fade" id="previa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" role="document" style="z-index: 1041;margin-top: 100px !important; margin: auto;">
                        <div class="modal-content modal-qatar">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 0px 15px 5px; font-size: 28px;">x</button>
                            </div>
                            <div class="modal-body margin-bottom-20 text-center">
                                <div class="info-modalq">
                                    <p class="fnt-18w">&iquest;Deseas guardar la informaci&oacute;n Ingresada?</p>
                                    <p>
                                        Una vez que des clic en finalizar, no podr&aacute;s editar tu polla mundialista.
                                    </p>
                                    <button type="button" class="q-primary-button q-polla__next_final" data-dismiss="modal" aria-label="Close" data-toggle="modal">Finalizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="q-stepper">
                    <div class="q-step q-step--active" data-step="info"><i class="icon-info"></i></div>
                    <div class="q-step" data-step="round-1"><span>1</span></div>
                    <div class="q-step" data-step="round-2"><span>2</span></div>
                    <div class="q-step" data-step="resume"><i class="icon-flag"></i></div>
                </div>
                <div class="q-polla__content">
                    <div class="q-polla__step q-polla__step--active" data-step="info">
                        <p class="q-title">La polla mundialista</p>
                        <p class="q-description">Predice los resultados del campeonato m&aacute;s importante del deporte mundial.</p>
                        <p class="q-how">&iquest;C&oacute;mo funciona?</p>
                        <ul class="q-instructions">
                            <li>
                                <b>1</b>
                                <span>Selecciona quien crees que ganar&aacute; en cada partido de la fase de grupos, esto servir&aacute; para armar los grupos y definir las llaves de los octavos de final.</span>
                            </li>
                            <li>
                                <b>2</b>
                                <span>Con la tabla de posiciones armada, te mostraremos las llaves de los octavos de final, en la que deber&aacute;s pronosticar quienes avanzar&aacute;n de ronda hasta la ansiada final.</span>
                            </li>
                            <li>
                                <b>3</b>
                                <span>Espera a que los partidos del mundial se jueguen para ver si tus pron&oacute;sticos han sido acertados.<br>Recuerda que podr&aacute;s completar tu polla mundialista del 1ero de Septiembre al 15 de Noviembre del 2022.</span>
                            </li>
                        </ul>
                        <button type="button" class="q-primary-button q-polla__next">Empezar</button>
                    </div>
                    <div class="q-polla__step" data-step="round-1">
                        <p class="q-title">&iquest;C&oacute;mo quedar&aacute;n los puntajes?</p>
                        <p class="q-description">Arrastra y ordena las tablas de posiciones como crees que quedar&aacute;n al finalizar la fase de grupos.</p>
                        <div id="grupos-pais-container" class="q-groups">

                            <script id="grupo-pais-template" type="text/x-handlerbars-template">

                            </script>

                        </div>
                        <button type="button" class="q-secondary-button q-polla__next">Siguiente</button>
                    </div>
                    <div class="q-polla__step" data-step="round-2">
                        <p class="q-title">&iquest;Qui&eacute;n ser&aacute; el campe&oacute;n?</p>
                        <p class="q-description">Hemos armado los cruces de octavos de final en base a tus pron&oacute;sticos de la fase de grupos, marca la casilla del pa&iacute;s que crees que pasar&aacute; de ronda.</p>
                        <div class="q-rounds">
                            <div class="q-rounds__buttons">
                                <div class="q-rounds__btn-square"></div>
                                <button type="button" class="q-rounds__btn q-rounds__btn--active" data-round="octavos">Octavos</button>
                                <button type="button" class="q-rounds__btn" data-round="cuartos">Cuartos</button>
                                <button type="button" class="q-rounds__btn" data-round="semi">Semifinal</button>
                                <button type="button" class="q-rounds__btn" data-round="final">Final</button>
                            </div>
                            <div id="match-octavos" class="q-rounds__matches q-rounds__matches--active" data-round="octavos">

                            </div>
                            <div id="match-cuartos" class="q-rounds__matches" data-round="cuartos">


                            </div>
                            <div id="match-semi" class="q-rounds__matches" data-round="semi">

                            </div>
                            <div id="match-final" class="q-rounds__matches" data-round="final">

                            </div>
                        </div>
                        <button type="button" class="q-primary-button q-polla__next">Guardar</button>
                    </div>
                    <div class="q-polla__step" data-step="resume">
                        <p id="titulo-campeon-polla" class="q-title"></p>
                        <p class="q-description">Felicidades, seg&uacute;n tu pron&oacute;stico, <span id="nombre-polla">Argentina</span> ser&aacute; el nuevo campe&oacute;n de la copa mundial de la Fifa Catar 2022. Esperemos el transcurso del campeonato para saber si tu pron&oacute;stico ser&aacute; cierto. &iexcl;Mucha suerte!</p>
                        <div class="q-winner">
                            <img class="q-winner__map" th:src="${@resources.web('img/catar/maps/ar.png')}" alt="Winner">
                            <img class="q-winner__flag" src="https://hatscripts.github.io/circle-flags/flags/ar.svg" alt="Argentina">
                            <img class="q-winner__cup" th:src="${@resources.web('img/catar/cup.png')}" alt="Cup">
                        </div>
                    </div>
                </div>
            </div>

            <div id="q-dates" class="q-page">
                <div class="q-calendar glide">
                    <div class="glide__track" data-glide-el="track">
                        <div class="glide__slides">


                        </div>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="icon-left"></i></button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="icon-right"></i></button>

                    </div>
                </div>

                <p class="q-title q-title-pronostico"></p>
                <%--<p class="q-description">Te mostramos todos los partidos del mundial dependiendo la fecha que escojas, adivina el resultado final y sigue ganando.</p>--%>
                <p class="q-description">24 horas antes del día en que los partidos se jueguen, podrás ingresar tu marcador y adivinar el resultado final para que sigas acumulando puntos</p>

                <div class="q-matches">
                    <div class="q-match-pronosticos">

                    </div>
                    <button type="button" class="q-primary-button block-marg mrg-top40i btn-pronostico-guardar" style="margin-bottom: 20px !important">Guardar</button>
                </div>
            </div>


            <div class="col-md-12" >
                <div class="centered text-center" id="mensajeMostrarAlerta" style="display:none"></div>
            </div>

        </div>

    </div>




    <th:block th:replace="~{fragments/resources :: scripts}"/>

    <script th:src="${@resources.web('js/views/trivia.js', true)}"></script>

    <script id="pregunta-template" type="text/x-handlerbars-template">
        <div class="q-question {{className}}" data-question="{{indice}}">
            <p class="q-question__number">Pregunta {{indice}}</p>
            <p class="q-question__title">{{pregunta}}</p>
            <div class="q-question__options">
                {{{opciones}}}
            </div>
            <button type="button" id="q-quiz-next-{{indice}}" class="q-quiz__next q-secondary-button">Siguiente pregunta</button>
        </div>
    </script>

    <script type="text/javascript">
        $(function() {
            var mundial = new Mundial(
                '[[@{/}]]',
                '[[${@resources.web()}]]',
                [[${resumenMundial.cantidadPuntosMundial}]],
                '[[${resumenMundial.cantidadPuntosNivelSiguiente}]]',
                [[${resumenMundial.cantidadPuntosNivel}]],
                [[${configuracionMundial.puntosTrivia}]],
                '[[${configuracionMundial.imagenUsuario}]]',
                [[${configuracionMundial.duracionPreguntaTrivia}]]
            );
            mundial.init();
        });
    </script>

</th:block>

</body>
</html>
