<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title='Administrador - Recurso no encontrado')">
    <title></title>
</head>

<body class="gray-bg">

<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Recurso no encontrado</h3>

    <div class="error-desc">
        La pagina que intentas acceder no existe. <br/>
        <a th:href="@{/}" class="btn btn-primary m-t">Dashboard</a>
    </div>
</div>

<th:block th:replace="~{fragments/resources :: scripts}"/>

</body>

</html>
