<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/header :: header(title=${title})">
    <title>Header</title>
</head>

<body class="fixed-sidebar">

<div id="wrapper">
    <div th:replace="~{fragments/sidebar :: sidebar(menu=${menu}, hijo=${hijo})}"></div>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">

            <div th:replace="~{fragments/topmenu :: topmenu}"></div>

        </div>

        <div layout:fragment="content"></div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>

</div>

</body>

</html>