<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="resumenCargaParticipantes">
        <!--/*@thymesVar id="resultCargaParticipante" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaParticipantes"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaParticipante.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaParticipante.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaParticipante.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaParticipante.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaParticipante.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaParticipante.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/participantes/importar/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaParticipante.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>

    <th:block th:fragment="resumenCargaParticipantesEstado">
        <!--/*@thymesVar id="resultCargaParticipante" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaParticipantes"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaParticipante.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaParticipante.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaParticipante.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaParticipante.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaParticipante.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaParticipante.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/participantes/importar/descargar-excel-estado-error}" class="btn btn-danger" th:if="${resultCargaParticipante.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>

    <th:block th:fragment="resumenCargaParticipantesActivacion">
        <!--/*@thymesVar id="resultCargaParticipante" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaParticipantes"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaParticipante.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaParticipante.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaParticipante.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaParticipante.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaParticipante.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaParticipante.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/participantes/importar/descargar-excel-activacion-error}" class="btn btn-danger" th:if="${resultCargaParticipante.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>


    <th:block th:fragment="resumenCargaPuntos">
        <!--/*@thymesVar id="resultCargaPuntos" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaPuntos"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaPuntos.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaPuntos.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaPuntos.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaPuntos.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaPuntos.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaPuntos.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/puntos/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaPuntos.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>

    <th:block th:fragment="resumenCargaProductos">
        <!--/*@thymesVar id="resultCargaProductos" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaProductos"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaProductos.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaProductos.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaProductos.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaProductos.totalRegistros}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaProductos.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaProductos.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/catalogos/importar-producto/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaProductos.registrosError > 0}">Descargar errores</a>
        </div>

    </th:block>

    <th:block th:fragment="resumenCargaImagenes">
        <!--/*@thymesVar id="resultCargaImagenes" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaImagenes"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaImagenes.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaImagenes.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaImagenes.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaImagenes.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaImagenes.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaImagenes.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/catalogos/importar-imagen/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaImagenes.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>

    <th:block th:fragment="resumenCargaPdf">
        <!--/*@thymesVar id="resumenCargaPdf" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaImagenes"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaPdf.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaPdf.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaPdf.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaPdf.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaPdf.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaPdf.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/catalogos/importar-pdf/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaPdf.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>


    <th:block th:fragment="resumenCargaDirecciones">
        <!--/*@thymesVar id="resultCargaDirecciones" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaDirecciones"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaDirecciones.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaDirecciones.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaDirecciones.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaDirecciones.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaDirecciones.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaDirecciones.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/direcciones/importar/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaDirecciones.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>

    <th:block th:fragment="resumenCargaMetas">
        <!--/*@thymesVar id="resultCargaPuntos" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaPuntos"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaMetas.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaMetas.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaMetas.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaMetas.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaMetas.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaMetas.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/metas/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaMetas.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>

    <th:block th:fragment="resumenCargaAcciones">
        <!--/*@thymesVar id="resultCargaPuntos" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaPuntos"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaAcciones.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaAcciones.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaAcciones.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaAcciones.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaAcciones.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaAcciones.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/acciones/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaAcciones.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>


    <th:block th:fragment="resumenCargaVentas">
        <!--/*@thymesVar id="resultCargaPuntos" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaPuntos"*/-->

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i th:class="|fa ${resultCargaVentas.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
            <h4 class="modal-title">Resumen de carga</h4>
            <small class="font-bold" th:if="${resultCargaVentas.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
            <small class="font-bold" th:unless="${resultCargaVentas.registrosError > 0}">Se cargo su archivo correctamente</small>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 m-xs">
                    <span class="label label-info m-r-sm" th:text="${resultCargaVentas.registrosTotal}"></span>
                    Registro totales
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-primary m-r-sm" th:text="${resultCargaVentas.registrosCorrectos}"></span>
                    Registro correctos
                </div>

                <div class="col-sm-12 m-xs">
                    <span class="label label-danger m-r-sm" th:text="${resultCargaVentas.registrosError}"></span>
                    Registro observados
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            <a href="" th:href="@{/ventas/descargar-excel-error}" class="btn btn-danger" th:if="${resultCargaVentas.registrosError > 0}">Descargar errores</a>
        </div>


    </th:block>

</body>

<th:block th:fragment="resumenCargaRecomendadosEstado">
    <!--/*@thymesVar id="resultCargaParticipante" type="com.promotick.nissan.admin.controller.excel.form.ResultCargaParticipantes"*/-->

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <i th:class="|fa ${resultCargaRecomendadosEstado.registrosError > 0 ? 'fa-exclamation-triangle' : 'fa-check'} modal-icon|"></i>
        <h4 class="modal-title">Resumen de carga</h4>
        <small class="font-bold" th:if="${resultCargaRecomendadosEstado.registrosError > 0}">Se encontraron observaciones en su carga, por favor descargue el archivo de error</small>
        <small class="font-bold" th:unless="${resultCargaRecomendadosEstado.registrosError > 0}">Se cargo su archivo correctamente</small>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 m-xs">
                <span class="label label-info m-r-sm" th:text="${resultCargaRecomendadosEstado.registrosTotal}"></span>
                Registro totales
            </div>

            <div class="col-sm-12 m-xs">
                <span class="label label-primary m-r-sm" th:text="${resultCargaRecomendadosEstado.registrosCorrectos}"></span>
                Registro correctos
            </div>

            <div class="col-sm-12 m-xs">
                <span class="label label-danger m-r-sm" th:text="${resultCargaRecomendadosEstado.registrosError}"></span>
                Registro observados
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Aceptar</button>
        <a href="" th:href="@{/recomendados/importar/descargar-excel-estado-error}" class="btn btn-danger" th:if="${resultCargaRecomendadosEstado.registrosError > 0}">Descargar errores</a>
    </div>


</th:block>
</html>