<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>

<div th:fragment="sidebar(menu, hijo)">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header" id="parent">
                    <div class="dropdown profile-element" style="text-align: center">
                        <img alt="image" src="" class="" th:src="${@resources.web('img/logos/logo.png')}" style="width: 80%; margin-bottom: 10px;" />
                        <a data-toggle="dropdown" class="dropdown-toggle" th:href="@{/}">
                            <span class="block m-t-xs font-bold">Sociedad Prestige</span>
                            <span class="text-muted text-xs block">Administracion</span>
                        </a>
                    </div>

                </li>
                <li th:class="${menu == 'Dashboard' ? 'active' : ''}">
                    <a th:href="@{/}"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
                </li>
                <th:block th:each="menuPadre : ${session.menus}">
                    <li th:class="${menu == menuPadre.getKey() ? 'active' : ''}">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" th:text="${menuPadre.key}"></span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <th:block th:each="menuHijo : ${menuPadre.value}">
                                <li th:class="${hijo == menuHijo.nombreMenu ? 'active' : ''}"><a th:href="@{__${menuHijo.urlMenu}__}" th:text="${menuHijo.nombreMenu}"></a></li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>

            </ul>

        </div>
    </nav>
</div>

</body>

</html>