<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header (title='Ops ! Error inesperado | La Fabril')">
    <title></title>
</head>

<body class="fondo">
    <div class="login-box error-box">
        <div class="login-form">
            <div class="text-center">
                <img th:src="${@resources.web('img/logos/logo-uno.png')}" src="" alt="" style="max-height: 120px">
            </div>
            <br>
            <h1>500</h1>
            <h3>Ops ! Error inesperado</h3>
            <br>

            <div class="error-desc">
                Ocurrio un error inesperado, por favor consulte al administrador.
            </div>

            <br><br>

            <a class="button style-11" th:href="@{/}" href="" style="margin-top: 10px;">Ir al inicio</a>

            <div class="ibox collapsed" style="margin-top: 15px; text-align: left;">
                <div class="ibox-content" style="">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <code>Fecha</code>
                            </td>
                            <td th:text="${#dates.format(timestamp, 'dd-MM-yyyy hh:mm:ss a')}"></td>
                        </tr>
                        <tr>
                            <td>
                                <code>Path</code>
                            </td>
                            <td th:text="${path}"></td>
                        </tr>
                        <tr>
                            <td>
                                <code>Estado</code>
                            </td>
                            <td th:text="${status}"></td>
                        </tr>
                        <tr>
                            <td>
                                <code>Error</code>
                            </td>
                            <td th:text="${error}"></td>
                        </tr>
                        <tr>
                            <td>
                                <code>Mensaje</code>
                            </td>
                            <td th:text="${message}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</body>

<th:block th:replace="~{fragments/resources :: scripts}"/>

</html>
